﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Report Viewer </title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous">
    </script>

    <link href="http://kendo.cdn.telerik.com/2015.3.930/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="http://kendo.cdn.telerik.com/2015.3.930/styles/kendo.blueopal.min.css" rel="stylesheet" />
    <script src="@Url.Content("~/ReportViewer/js/telerikReportViewer.kendo-12.0.18.416.min.js")"></script>
    <script src="@Url.Content("~/ReportViewer/js/telerikReportViewer-12.0.18.416.js")"></script>

</head>

<body>
    @if (User.IsInRole("Program Support Unit"))
    {
        <div>
            Your address is this here <i> @ViewBag.Address </i> and you are in the right role to view this
        </div>

    }


</body>
</html>