﻿@{
    ViewData["Title"] = "Programs Report";
}

@section Scripts
{

}
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <section class="content-header">
                <ol class="breadcrumb pull-right">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="#"><u>Programs Report</u></a></li>
                </ol>
            </section>
            <h1 class="page-head-line">Program List Report </h1>
        </div>
    </div>
    <div class="box box-header">
        <div class="box-body" style="height:700px">
            <div>
                <div id="reportViewer1">
                    loading...
                </div>

                <script type="text/javascript">
        $(document).ready(function () {
            $("#reportViewer1")
                .telerik_ReportViewer({
                    serviceUrl: '@Url.Content("~/api/reports/")',
                    templateUrl: '@Url.Content("~/ReportViewer/templates/telerikReportViewerTemplate-FA.html")',
                    reportSource: {
                        report: "programs.trdp",
                        parameters: {}
                    },
                    viewMode: telerikReportViewer.ViewModes.INTERACTIVE,

                    scaleMode: telerikReportViewer.ScaleModes.SPECIFIC,
                    scale: 1.0,
                });
         });
                </script>
            </div>
        </div>
    </div>
</section>