﻿@model UserRoleViewModel
@inject UserManager<ApplicationUser> UserManager


    <div class="modal-dialog" style="width: 400px;">
        <div class="modal-content">
            <div class="modal-header">
                <center>
                    <h4 class="modal-title">
                        Activate User Role <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h4>
                </center>
            </div>
            <form asp-action="ActivateUserRole">
                <div class="modal-body">
                    @Html.HiddenFor(x => x.UserId)
                    @Html.HiddenFor(x => x.RoleId)
                    <center><h5>Are you sure you want to activate role <strong>@Model.RoleName </strong> for user  <strong>@UserManager.FindByIdAsync(Model.UserId.ToString()).Result.UserName</strong> ? </h5></center>
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Activate" class="btn btn-primary bg-purple pull-right" />
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
