﻿@model UserManagement.ViewModels.OperationViewModel

@{
    ViewData["Title"] = "Add Permission";
}
<section class="content-header">
    <h2>
        @ViewData["Title"]
    </h2>
    <ol class="breadcrumb pull-right">
        <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="/RoleManagement/OperationsList">Operations List</a></li>
        <li><a href="#">Add Permission</a></li>
    </ol>
</section>
<section class="content">
    <div class="box box-header">
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <form asp-action="AddPermission">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Comment" class="control-label"></label>
                            <input asp-for="Comment" class="form-control" />
                            <span asp-validation-for="Comment" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn bg-purple margin pull-right" />
                        </div>
                    </form>
                </div>
            </div>

            <div class="box-footer">
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</section>