﻿@model RoleViewModel

@{
    ViewData["Title"] = "Add Role";
}

@section Scripts {

}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <section class="content-header">
                <ol class="breadcrumb pull-right">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="/RoleManagement/RolesList">User Roles</a></li>
                    <li><a href="#">Add Roles</a></li>
                </ol>
            </section>
            <h1 class="page-head-line"> @ViewData["Title"] </h1>
        </div>
    </div>
    <div class="box  box-header">
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <form asp-action="AddRole">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="RoleName" class="control-label"></label>
                                <input asp-for="RoleName" class="form-control" />
                                <span asp-validation-for="RoleName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label"> Select Operations </label>
                                <select asp-for="Permissions" data-live-search="true" multiple data-actions-box="true"
                                        asp-items="Model.PermissionsSelectList"
                                        class="form-control selectpicker"></select>
                                <span asp-validation-for="Permissions" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary bg-purple" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="footer pull-right">
                <a asp-action="RolesList">Back to List</a>
            </div>
        </div>

    </div>
</section>

