﻿@model AddUserToRoleViewModel
@inject UserManager<ApplicationUser> UserManager


<div class="modal-dialog" style="width: 500px;">
    <div class="modal-content">
        <div class="modal-header">
            <center>
                <h4 class="modal-title">
                    Add User <strong>@UserManager.FindByIdAsync(Model.UserId.ToString()).Result.UserName</strong> to Role
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h4>
            </center>
        </div>
        <form asp-action="AddUserToRole">
            <div class="modal-body">
                @Html.HiddenFor(x => x.UserId)
                <div class="form-group">
                    <label class="control-label">Select Roles</label>
                    <select asp-for="RoleIds" class="form-control" multiple asp-items="@Model.Roles"></select>
                    <span asp-validation-for="RoleIds" class="text-danger"></span>
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" value="Save" class="btn btn-primary bg-purple pull-right" />
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            </div>
        </form>
    </div>
</div>