﻿@model RoleViewModel
<div class="modal-dialog" style="width: 500px;">
    <div class="modal-content">
        <div class="modal-header">
            <center>
                <h4 class="modal-title">
                    Edit Role <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h4>
            </center>
        </div>
        <form asp-action="EditRole">
            @Html.HiddenFor(x=>x.RoleId)
            <div class="modal-body">
                <div class="row">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="col-md-12">

                        <label asp-for="RoleName" class="control-label"></label>
                        <input asp-for="RoleName" class="form-control" />
                        <span asp-validation-for="RoleName" class="text-danger"></span>
                                          
                        <label class="control-label"> Select Operations </label>
                        <select asp-for="Permissions" data-live-search="true" style="padding-bottom:10px" multiple data-actions-box="true"
                                asp-items="Model.PermissionsSelectList"
                                class="form-control selectpicker"></select>
                        <span asp-validation-for="Permissions" class="text-danger"></span>
                    </div>

                    </div>
                </div>
            <div class="modal-footer">
                <input type="submit" value="Update" class="btn btn-primary bg-purple pull-right" />
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            </div>
        </form>
    </div>
</div>
