﻿@{
    ViewData["Title"] = "Permissions List";
}

@section Scripts
 {
    <script type="text/javascript" src="~/js/feltp/user-management.js"></script>
}

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <section class="content-header">
                    <ol class="breadcrumb pull-right">
                        <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                        <li><a href="#"><u>Permissions List</u></a></li>
                    </ol>
                </section>
                <h1 class="page-head-line">Permissions List </h1>
            </div>
        </div>
        <div class="box box-header">
            <div class="box-body">
                <table id="operations-list" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
            </div>
        </div>
    </section>