﻿
@{
    ViewData["Title"] = "Roles";
}

@section Scripts
    {
    <script type="text/javascript" src="~/js/feltp/user-management.js"></script>
}

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <section class="content-header">
                    <ol class="breadcrumb pull-right">
                        <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                        <li><a href="#">Roles</a></li>
                    </ol>
                </section>
                <h1 class="page-head-line"> Roles List </h1>
            </div>
        </div>
        <div class="box box-header">
            <div class="box-body">
                <a asp-controller="RoleManagement" asp-action="AddRole" class="btn btn-default btn-md" style="margin-bottom:10px"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create New</a><p></p>
                <table id="roles-list" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
            </div>
        </div>
    </section>


<div class="modal fade" id="role-operations-modal" tabindex="-1" role="dialog" aria-labelledby="Role Operations" aria-hidden="true" data-backdrop="static">
    <div id="role-operations-container">
    </div>
</div>