﻿@model UserManagement.ViewModels.RoleOperationsViewModel

<div class="modal-dialog" style="width:800px">
@Html.HiddenFor(x => x.RoleId)
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">@Model.RoleName - Permissions</h4>
    </div>
    <div class="modal-body">
        <table id="role-operations-list" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>

    </div>
</div>
</div>