﻿@model AddProgramOfferCommand
<div class="form-group" id="academic-requirement-grading-div">
    <label class="control-label" style="display:inline">Select Course Grading</label>
    <select class="form-control selectpicker"  data-live-search="true"
            asp-items="@Model.AcademicRequirementDetails.CourseGrades"
            asp-for="AcademicRequirementDetails.CourseGradingToEducationLevelMapping" multiple></select>
    <span asp-validation-for="AcademicRequirementDetails.CourseGradingToEducationLevelMapping" class="text-danger"></span>
</div>