﻿@model AddCourseCommand

@{
    ViewData["Title"] = "Add Course";
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <section class="content-header">
                <ol class="breadcrumb pull-right">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="/CourseManagement/CourseList">Course List</a></li>
                    <li><a href="#">Add Course</a></li>
                </ol>
            </section>
            <h1 class="page-head-line">@ViewData["Title"] </h1>
        </div>
    </div>
    <div class="box box-header">
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <form asp-action="AddCourse">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label class="control-label">Select CourseType</label>
                                <select asp-for="CategoryId" asp-items="@Model.CategorySelectList"
                                        class="form-control selectpicker" data-live-search="true">
                                    <option value="0">
                                        Select Type
                                    </option>
                                </select>
                                <span asp-validation-for="CategoryId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Course Title</label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Select Topic</label>
                                <select class="form-control selectpicker" asp-for="UnitId"></select>
                                <span asp-validation-for="UnitId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn bg-purple margin pull-right" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <a asp-action="CourseList">Back to List</a>
        </div>
    </div>
</section>
<div>

</div>

@section Scripts {
    <script src="~/js/feltp/unit-dropdown.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
