﻿@model AddCourseUnitCommand

@{
    ViewData["Title"] = "Add Course Topic";
}

@section Scripts
    {
    <script src="~/js/feltp/coursetype-dropdown.js"></script>
    <script src="~/js/feltp/course-dropdown.js"></script>
    <script src="~/js/feltp/unit-dropdown.js"></script>
}

<section class="content">
    <div class="box box-header">
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <form asp-action="AddCourseUnit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label class="control-label">Select Course Type</label>
                                <select asp-for="CourseTypeId" class="form-control selectpicker">
                                </select>
                                <span asp-validation-for="CourseTypeId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Select Course</label>
                                <select asp-for="CourseId"
                                        class="form-control selectpicker"></select>
                                <span asp-validation-for="CourseId" class="text-danger"></span>
                            </div>
                            <div class="form-group selectpicker">
                                <label class="control-label">Select Topic</label>
                                <select asp-for="UnitId" class="form-control selectpicker" multiple></select>
                                <span asp-validation-for="UnitId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn bg-purple margin pull-right" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <a asp-action="CourseUnitsList">Back to List</a>
        </div>
    </div>
</section>


