﻿
@{
    ViewData["Title"] = "Category List";
}

@section Scripts
    {
    <script type="text/javascript" src="~/js/feltp/coursemanagement.js"></script>
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <section class="content-header">
                <ol class="breadcrumb pull-right">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="#">Category</a></li>
                </ol>
            </section>
            <h1 class="page-head-line">Category List </h1>
        </div>
    </div>
    <div class="box box-header">
        <div class="box-body">
            <button type="button" class="btn btn-default btn-md" style="margin-bottom:10px" data-toggle="modal" data-url="@Url.Action("_AddCategory","CourseManagement")" id="btnCreateCategory">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create New
            </button>
            <table id="category-list" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
        </div>
    </div>
</section>

<div class="modal fade" id="createCategoryModal" tabindex="-1" role="dialog" aria-labelledby="CreateCategoryModal" aria-hidden="true" data-backdrop="static">
    <div id="createCategoryContainer">
    </div>
</div>

<div class="modal fade" id="editCategoryModal" tabindex="-1" role="dialog" aria-labelledby="EditCategoryModal" aria-hidden="true" data-backdrop="static">
    <div id="editCategoryContainer">
    </div>
</div>
<div class="modal fade" id="detailCategoryModal" tabindex="-1" role="dialog" aria-labelledby="DetailCategoryModal" aria-hidden="true" data-backdrop="static">
    <div id="detailCategoryContainer">
    </div>
</div>

<div class="modal fade" id="deleteCategoryModal" tabindex="-1" role="dialog" aria-labelledby="DeleteCategoryModal" aria-hidden="true" data-backdrop="static">
    <div id="deleteCategoryContainer">
    </div>
</div>

<style>
    td.details-control {
        background: url('/images/open.png')no-repeat center center;
        cursor: pointer;
    }

    tr.shown td.details-control {
        background: url('/images/minus.png') no-repeat center center;
    }
</style>