﻿@{
    ViewData["Title"] = "Course List";
}

@section Scripts
    {
    <script type="text/javascript" src="~/js/feltp/coursemanagement.js">    alert("Test javascript")</script>
    <script src="~/js/feltp/course-dropdown.js"></script>
    <script src="~/js/feltp/coursetype-dropdown.js"></script>
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <section class="content-header">
                <ol class="breadcrumb pull-right">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="#">Course</a></li>
                </ol>
            </section>
            <h1 class="page-head-line">Course List </h1>
        </div>
    </div>
    <div class="box box-header">
        <div class="box-body">
            <a asp-controller="CourseManagement" asp-action="AddCourse" class="btn btn-default btn-md" style="margin-bottom:10px"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create New</a><p></p>
            <table id="course-list-table" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
        </div>
    </div>
</section>

<div class="modal fade" id="course-unit-modal" tabindex="-1" role="dialog" aria-labelledby="Course Units" aria-hidden="true" data-backdrop="static">
    <div id="course-unit-container">
    </div>
</div>

