﻿@model IEnumerable<CourseTypeViewModel>
@{
    ViewData["Title"] = "Course Types";
}

@section Scripts
    {
    <script type="text/javascript" src="~/js/feltp/coursemanagement.js"></script>
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <section class="content-header">
                <ol class="breadcrumb pull-right">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="#">Session Type</a></li>
                </ol>
            </section>
            <h1 class="page-head-line">Session Type List </h1>
        </div>
    </div>
    <div class="box box-header">
        <div class="box-body">
            <button type="button" class="btn btn-default btn-md" style="margin-bottom:10px" data-toggle="modal" data-url="@Url.Action("_AddCourseType","CourseManagement")" id="btnCreateCourseType">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create New
            </button>
            <table id="course-type-table" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
        </div>
    </div>
</section>

<div class="modal fade" id="createCourseTypeModal" tabindex="-1" role="dialog" aria-labelledby="CreateCourseTypeModal" aria-hidden="true" data-backdrop="static">
    <div id="createCourseTypeContainer">
    </div>
</div>

<div class="modal fade" id="editCourseTypeModal" tabindex="-1" role="dialog" aria-labelledby="EditCourseTypeModal" aria-hidden="true" data-backdrop="static">
    <div id="editCourseTypeContainer">
    </div>
</div>
<div class="modal fade" id="detailsCourseTypeModal" tabindex="-1" role="dialog" aria-labelledby="DetailsCourseTypeModal" aria-hidden="true" data-backdrop="static">
    <div id="detailsCourseTypeContainer">
    </div>
</div>
<div class="modal fade" id="deleteCourseTypeModal" tabindex="-1" role="dialog" aria-labelledby="DeleteCourseTypeModal" aria-hidden="true" data-backdrop="static">
    <div id="deleteCourseTypeContainer">
    </div>
</div>



