﻿@model List<SemesterCourseInfomation>

<table id="examination-timetable" class="table" cellspacing="0" width="50%">
    <tr>
        <th>
            No.
        </th>
        <th>
            Semester Title
        </th>
        <th>
            Duration In Weeks
        </th>
    </tr>

    @if (!Model.Any())
    {
        <tr>
            <td>

            </td>
            <td>

            </td>
            <td>
                <b>No courses found for this semester </b>
            </td>
        </tr>
        return;

    }

    @{

        var totalDuration = 0;
        int number = 0;
    }

    @for (int com = 0; com < Model.Count(); com++)
    {
        totalDuration += Model[com].DurationInWeeks;
        number = com + 1;
        <tr>
            <td>
                @number
            </td>
            <td>
                @Model[com].CourseTitle
            </td>
            <td>
                @Model[com].DurationInWeeks

            </td>
        </tr>
    }
    <tr>
        <td></td>
        <td>
            <b> Total Semester Duration </b>
        </td>
        <td>
            @Html.Hidden("TotalSemesterDuration",totalDuration)
            @totalDuration
        </td>
    </tr>

</table>