﻿
@{
    ViewData["Title"] = "Course Topics";
}

@section Scripts
    {
    <script type="text/javascript" src="~/js/feltp/course-units-list.js"></script>
}

<section class="content">
    <div class="box box-primary">
        <div class="box-body">
            <table id="course-units-list-table" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
        </div>
    </div>
</section>

