﻿<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Edit Course </h4>
        </div>

        <div class="modal-body">
            <text class="success">
                Course details updated successfully 
            </text>
        </div>
        <div class="modal-footer">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="button" class="btn btn-default"
                            data-url="@Url.Action("CourseList","CourseMangement")" data-dismiss="modal" onclick="javascript:window.location.reload()">
                        Close
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>