﻿@model UpdateCourseCommand
@{
    Layout = null;
}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Update Course</h4>
        </div>
        <div class="modal-body">
            <form action="/CourseManagement/EditCourse" id="update-course-form">
                @Html.HiddenFor(x=>x.Id)
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">Select CourseType</label>
                    <select asp-for="CategoryId" asp-items="@Model.CategorySelectList"
                            class="form-control selectpicker" data-live-search="true"></select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Semester Title</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Select Unit</label>
                    <select class="form-control selectpicker" multiple="multiple" asp-items="@Model.UnitSelectList" asp-for="UnitId"></select>
                    <span asp-validation-for="UnitId" class="text-danger"></span>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn bg-purple" value="Edit" id="btn-edit-course" />
                </div>
            </div>
        </div>


    </div>
</div>
@section Scripts {


    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
