﻿@model AddSemesterScheduleItemCommand

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Create @Model.SemesterSchedule.Semester Examination Schedule</h4>
        </div>
        <form id="create-examination-form" action="/ExaminationManagement/AddExaminationSchedule">
            <div class="modal-body" id="examination-schedule-div">
                <div asp-validation-summary="All" class="text-danger"></div>
                @Html.HiddenFor(x => x.SemesterScheduleId)
                @Html.HiddenFor(x => x.SemesterId)
                @Html.HiddenFor(x => x.ProgramId)
                @Html.HiddenFor(x => x.ScheduleItemType)
                @Html.Hidden("SemesterStartDate",Model.SemesterSchedule.StartDate)
                @Html.Hidden("SemesterEndDate",Model.SemesterSchedule.EndDate)

                <div class="form-group">
                    <label class="control-label"> Semester Start Date </label>
                    <input type="text" class="form-control" asp-for="SemesterSchedule.StartDate" disabled="disabled" />
                </div>
                <div class="form-group">
                    <label class="control-label"> Semester End Date  </label>
                    <input type="text" class="form-control" asp-for="SemesterSchedule.EndDate" disabled="disabled" />
                </div>
                <div class="form-group">
                    <label class="control-label">Start Date</label>
                    <div class='input-group date' id='StrStartDate'>
                        <input type='text' asp-for="StrStartDate" class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">End Date </label>
                    <div class='input-group date' id='StrEndDate'>
                        <input type='text' class="form-control" asp-for="StrEndDate" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <script type="text/javascript">
                    $(function () {
                        var semStartDate = $("#SemesterStartDate").val();
                        var semEndDate = $("#SemesterEndDate").val();

                        $('#StrStartDate').datetimepicker({
                            format: 'DD/MM/YYYY',
                            useCurrent: false,

                        });
                        $('#StrEndDate').datetimepicker({
                            useCurrent: false,
                            format: 'DD/MM/YYYY'

                        });
                        $('#StrStartDate').data("DateTimePicker").minDate(semStartDate);
                        $('#StrStartDate').data("DateTimePicker").maxDate(semEndDate);

                        $('#StrEndDate').data("DateTimePicker").minDate(semStartDate);
                        $('#StrEndDate').data("DateTimePicker").maxDate(semEndDate);

                        $("#StrStartDate").on("dp.change", function (e) {
                            $('#StrEndDate').data("DateTimePicker").minDate(e.date);
                        });
                        $("#StrEndDate").on("dp.change", function (e) {
                            $('#StrStartDate').data("DateTimePicker").maxDate(e.date);
                        });
                    });
                </script>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="button" id="create-examination-btn" value="Save" class="btn bg-purple"/>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
@section Scripts {


    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
