﻿@model InputResidentExaminationScoreCommand

@{

    var title = Model.ExamDetailResponse.IsSuccessful ? $"{Model.ExamScheduleDescription} Examination Scores" :
        "Examination details not found";

}
<div class="modal-dialog" style="width:800px">
    <form action="/ExaminationManagement/InputExaminationScores" id="input-resident-examination-score-form">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">@title</h4>
            </div>

            <div class="modal-body">
                @if (!Model.ExamDetailResponse.IsSuccessful)
                {
                    <text>
                    @Model.ExamDetailResponse.Message
                    </text>
                    return;

                }

                <div asp-validation-summary="All" class="text-danger"></div>
                <section class="content">
                    <div class="box box-primary">
                        <div class="box-body">
                            @Html.HiddenFor(x => x.EnrollmentId)
                            @Html.HiddenFor(x => x.SemesterScheduleItemId)
                            @Html.HiddenFor(x => x.ResidentId)
                            @Html.HiddenFor(x => x.ExamDetailResponse.ExamScheduleDescription)
                            @Html.HiddenFor(x => x.ExamDetailResponse.IsSuccessful)
                            @Html.HiddenFor(x => x.ExamType)

                            

                            <table id="examination-score-timetable" class="table" cellspacing="0">
                                <tr>
                                    <th>
                                        Code
                                    </th>
                                    <th>
                                        Unit Name
                                    </th>
                                    <th>
                                        Score
                                    </th>
                                </tr>
                                @{

                                    var anyPendingExam = Model.ExamDetailResponse.ResidentExams.Any(x => x.Submitted == false);

                                }

                                @for (int com = 0; com < Model.ExamDetailResponse.ResidentExams.Count; com++)
                                {
                                    string className = "show-exam-item";
                                    bool submitted = Model.ExamDetailResponse.ResidentExams[com].Submitted;
                                    if (com > 1)
                                    {
                                        className = "hide-exam-item";

                                    }

                                    @Html.HiddenFor(x => x.ExamDetailResponse.ResidentExams[com].ExaminationId)
                                    @Html.HiddenFor(x => x.ExamDetailResponse.ResidentExams[com].ResidentCourseWorkId)
                                    @Html.HiddenFor(x => x.ExamDetailResponse.ResidentExams[com].UnitId)
                                    @Html.HiddenFor(x => x.ExamDetailResponse.ResidentExams[com].TimetableId)
                                    @Html.HiddenFor(x => x.ExamDetailResponse.ResidentExams[com].Name)
                                    @Html.HiddenFor(x => x.ExamDetailResponse.ResidentExams[com].Submitted)
                                    @Html.HiddenFor(x => x.ExamDetailResponse.ResidentExams[com].Code)
                                    @Html.HiddenFor(x => x.ExamDetailResponse.ResidentExams[com].StrScore)
                                    @Html.HiddenFor(x => x.ExamDetailResponse.ResidentExams[com].ExamType)


                                    <tr>                             
                                        <td class="@className">
                                            <div class="form-group">
                                                <div class="form-group">
                                                    <input type='text' disabled="disabled" asp-for="ExamDetailResponse.ResidentExams[com].Code" class="form-control" />
                                                </div>
                                            </div>
                                        </td>
                                        <td class="@className">
                                            <div class="form-group">
                                                <input type='text' disabled="disabled" asp-for="ExamDetailResponse.ResidentExams[com].Name" class="form-control" />
                                            </div>
                                        </td>
                                        <td class="@className">
                                            <div class="form-group">
                                                @if (submitted)
                                                {
                                                    var score = Math.Floor(Convert.ToDecimal(Model.ExamDetailResponse.ResidentExams[com].StrScore));

                                                    <input type='text' disabled="disabled" value="@score"
                                                           class="form-control" />
                                                }
                                                else
                                                {

                                                    <input type='number' max="100" min="0"
                                                           asp-for="ExamDetailResponse.ResidentExams[com].Score" class="form-control" />
                                                }
                                            </div>

                                        </td>
                                    </tr>
                                }

                            </table>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        @if (anyPendingExam)
                        {

                            <input type="submit" id="input-examination-score-btn" class="btn bg-purple" value="Save" />
                        }

                        else
                        {
                            <input type="submit" disabled="disabled" class="btn bg-purple" value="Save" />
                        }
                    </div>


                </div>
            </div>


        </div>
    </form>
</div>