﻿@model TimetableViewModel
@{
    var split = Model.ScheduleItemName.Split("(");

    ViewData["Title"] = $" { split[0] } Exam Timetable";
}

@section Scripts
    {
    <script type="text/javascript" src="~/js/feltp/semester-management.js"></script>
}
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <section class="content-header">
                <ol class="breadcrumb">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="#">View Examination Timetable</a></li>
                </ol>
            </section>
            <h1 class="page-head-line">@ViewData["Title"]</h1>
        </div>
    </div>
    <div class="box box-header">
        <div class="box-body">
            @Html.HiddenFor(x => x.SemesterScheduleItemId)
            <table id="exam-timetable-schedule-table" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
        </div>
        <div class="box-footer">
            @Html.ActionLink("Back to Details", "SemesterScheduleDetails", "SemesterManagement", new { id = Model.SemesterScheduleId, @class = "pull-right" }, null)
        </div>
    </div>
</section>

<div class="modal fade" id="editExamTimetableModal" tabindex="-1" role="dialog" aria-labelledby="Edit Exam Timetable" aria-hidden="true" data-backdrop="static">
    <div id="editExamTimetablecontainer">
    </div>
</div>
<div class="modal fade" id="viewExamTimetablemodal" tabindex="-1" role="dialog" aria-labelledby="View Exam Timetable" aria-hidden="true" data-backdrop="static">
    <div id="viewExamTimetableontainer">
    </div>
</div>


