﻿@model UpdatePersonBioDataCommand
@Html.Hidden("PersonCadreId", Model.BioDataInfo.CadreId)
<div class="col-md-6">
    <div class="form-group">
        <label class="control-label">First Name </label>
        <input asp-for="BioDataInfo.FirstName" class="form-control" required="required" placeholder="Enter First Name" />
        <span asp-validation-for="BioDataInfo.FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Last Name </label>
        <input asp-for="BioDataInfo.LastName" class="form-control" required="required" placeholder="Enter Last Name" />
        <span asp-validation-for="BioDataInfo.LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Other Name </label>
        <input asp-for="BioDataInfo.OtherName" class="form-control" placeholder="Enter Other Name" />
    </div>

    <div class="form-group">
        <label class="control-label">Select Cadre </label>
        <select class="form-control selectpicker" asp-items="Model.Cadres" asp-for="BioDataInfo.CadreId"></select>
        <span asp-validation-for="Cadres" class="text-danger"></span>
    </div>

</div>
<div class="col-md-6">
    <div class="form-group">
        <label class="control-label">Identification Type </label>
        <select class="form-control selectpicker" asp-for="BioDataInfo.IdentificationType" asp-items="@Html.GetEnumSelectList(typeof(IdentificationType))">
            <option selected="selected" value="">Please select</option>
        </select>
        <span asp-validation-for="BioDataInfo.IdentificationType" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Identification Number </label>
        <input asp-for="BioDataInfo.IdentificationNumber" class="form-control" required="required" placeholder="Enter ID/Passport No." />
        <span asp-validation-for="BioDataInfo.IdentificationNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label">Gender </label>
        <select class="form-control selectpicker" asp-for="BioDataInfo.Gender" asp-items="@Html.GetEnumSelectList(typeof(Gender))">
            <option selected="selected" value="">Please select</option>
        </select>
        <span asp-validation-for="BioDataInfo.Gender" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Date of Birth</label>
        <div class='input-group date' id='StrDateOfBirth'>
            <input type='text' class="form-control" asp-for="BioDataInfo.StrDateOfBirth" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <script type="text/javascript">
            $(function () {
            $('#StrDateOfBirth').datetimepicker({
             //   format: 'DD/MM/YYYY',
                useCurrent : false
               });
          });
    </script>
    </div>

