﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>KFELTP | Terms and Conditions</title>
    <link href="~/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="~/assets/css/font-awesome.css" rel="stylesheet" />
    <link href="~/assets/css/style.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;admin@feltp.or.ke
                    &nbsp;&nbsp;
                    <span class="glyphicon glyphicon-phone"></span>&nbsp;&nbsp;+254 123 456
                </div>

            </div>
        </div>
    </header>
    <!-- HEADER END-->
    <div class="navbar navbar-inverse set-radius-zero">
        <div class="container">
            <div class="navbar-header">
                    <div class="container">
                        <div>
                            <h3 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color:white">
                                &nbsp;<i class="fa fa-th-large fa-1x" color:white"=""></i>&nbsp;<strong>KFELTP</strong> Tracking and Activity Monitoring System (TAMS)
                            </h3>
                        </div>
                    </div>
            </div>
       </div>
    </div>
    <!-- LOGO HEADER END-->
    <section class="menu-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="navbar-collapse collapse ">
                        <ul id="menu-top" class="nav navbar-nav navbar-right">
                            <li><a class="menu-top-active" href="#"><i class="fa fa-file-text-o" style="font-size:large"></i>&nbsp;&nbsp;&nbsp;Terms and Conditions</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- MENU SECTION END-->
    <div class="content-wrapper">
        <div class="container">
            @RenderBody()
        </div>
    </div>
    <!-- CONTENT-WRAPPER SECTION END-->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    KFELTP | Ver 1.0.0
                </div>
            </div>
        </div>
    </footer>
    <script src="~/assets/js/jquery-1.11.1.js"></script>
    <script src="~/assets/js/bootstrap.js"></script>
</body>
</html>
