﻿@inject IConfiguration Configuration;
 @{ 
     var reportsUrl = Configuration.GetSection("Endpoints")["FeltpReports-Url"];
 }
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - FELTP</title>
        <environment include="Development,Production">
            <link href="~/css/dashboard/assets/css/bootstrap.css" rel="stylesheet" />
            <link href="~/css/dashboard/assets/css/font-awesome.css" rel="stylesheet" />
            <link href="~/css/dashboard/assets/css/style.css" rel="stylesheet" />
            <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
            <link href="~/lib/bootstrap/dist/css/bootstrap-datetimepicker-standalone.css" rel="stylesheet" />
            <link href="~/lib/bootstrap/dist/css/bootstrap-datetimepicker.css" rel="stylesheet" />
            <link href="~/css/dropdown.css" rel="stylesheet" />
            <link href="~/css/ionicons.min.css" rel="stylesheet" />
            <link rel="stylesheet" href="~/css/AdminLTE.min.css">
            <link href="~/css/_all-skins.min.css" rel="stylesheet" />
            <link href="~/css/buttons.dataTables.min.css" rel="stylesheet" />
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
            <link rel="stylesheet" href="~/css/dataTables.bootstrap.min.css" />
            <link rel="stylesheet" href="~/css/buttons.dataTables.min.css" />
            <link rel="stylesheet" href="~/css/select.dataTables.min.css" />
            <link rel="stylesheet" href="~/css/bootstrap-select.min.css" />
            <link href="~/lib/bootstrap/dist/css/dataTables.checkboxes.css" rel="stylesheet" />
            <link href="~/css/jquery-ui.min.css" rel="stylesheet" />
        </environment>
        <environment exclude="Development,Production">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        </environment>
    </head>

    <body class="hold-transition skin-blue-light fixed sidebar-mini">
        @if(User.Identity.IsAuthenticated)
            {
                var userName = User.Identity.Name;
								
				<div class="navbar navbar-inverse set-radius-zero">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-8">
								<h3 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color:white">
									&nbsp;<i class="fa fa-th-large fa-1x" color:white"></i>&nbsp;<strong>KFELTP</strong> Tracking and Activity Monitoring System (TAMS)
								</h3>
							</div>
							<div class="col-md-4 clearfix" style="margin-top:1.5%;">
							
								<p class="float-right" style="text-align: right; color:white;">
								<img src="/images/user.png" class="user-image" alt="User Image" height="25px" width="25px">
								&nbsp;&nbsp;&nbsp;@userName &nbsp;&nbsp;&nbsp;&nbsp;
								<strong><a href="/Account/LogOut"><i class="fa fa-power-off" style="font-size:large;color:white;"></i></a></strong>
								</p>
							</div>
						</div>
					</div>
				</div>

				<section class="menu-section">
					<div class="container" style="width:1300px">
						<div class="row">
							<div class="col-md-12">
								<div class="navbar-collapse collapse ">
									<ul id="menu-top" class="nav navbar-nav navbar-right">
										<li><a href="/Home/Index"><i class="fa fa-home" style="font-size:large"></i> Dashboard</a></li>
										<li><a href="/ProgramManagement/DashBoard">Program Management</a></li>
										<li><a href="/CourseManagement/DashBoard">Course Management</a></li>
										<li><a href="/ResidentManagement/DashBoard">Resident Management</a></li>
										<li><a href="/FacultyManagement/DashBoard">Faculty Management</a></li>
										<li><a href="/UserManagement/DashBoard">User Management</a></li>
										<li><a href="@reportsUrl">Reports Management</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</section>

				<div class="wrapper">
					<!-- Content Wrapper. Contains page content -->
					<div class="content-wrapper" style="padding-left:20px;padding-right:20px">
						<aside class="main-sidebar">
							<!-- sidebar: style can be found in sidebar.less -->
							<section class="sidebar">
								<ul class="sidebar-menu tree" data-widget="tree">
									<li class="treeview">
										<a href="#" style="color:black">
											<i class="fa fa-files-o"></i>
											<span>Program Management</span>
											<span class="pull-right-container">
												<i class="fa fa-angle-left pull-right"></i>
											</span>
										</a>
										<ul class="treeview-menu">
											<li><a asp-area="" asp-controller="ProgramManagement" asp-action="ProgramTierList" style="color:black"><i class="fa fa-circle-o"></i>  Program Tier</a></li>
											<li><a asp-area="" asp-controller="ProgramManagement" asp-action="ProgramList" style="color:black"><i class="fa fa-circle-o"></i>  Program</a></li>
											<li><a asp-area="" asp-controller="ProgramManagement" asp-action="ProgramLocationList" style="color:black"><i class="fa fa-circle-o"></i>  Program Locations</a></li>
											<li><a asp-area="" asp-controller="ProgramManagement" asp-action="ProgramOfferList" style="color:black"><i class="fa fa-circle-o"></i>  Program Offer</a></li>
											<li class="treeview">
												<a href="#" style="color:black">
													<i class="fa fa-circle-o"></i> Program Competency
													<span class="pull-right-container">
														<i class="fa fa-angle-left pull-right"></i>
													</span>
												</a>
												<ul class="treeview-menu" style="display: none;">
													<li><a asp-area="" asp-controller="Competency" asp-action="CompetencyList" style="color:black"><i class="fa fa-circle-o"></i>  Competency</a></li>
													<li><a asp-area="" asp-controller="Deliverable" asp-action="DeliverableList" style="color:black"><i class="fa fa-circle-o"></i>  Deliverable</a></li>
													<li><a asp-area="" asp-controller="ProgramManagement" asp-action="ProgramCompetenciesList" style="color:black"><i class="fa fa-circle-o"></i>  Program Competency</a></li>
												</ul>
											</li>
											<li class="treeview">
												<a href="#" style="color:black">
													<i class="fa fa-circle-o"></i> Field Placement
													<span class="pull-right-container">
														<i class="fa fa-angle-left pull-right"></i>
													</span>
												</a>
												<ul class="treeview-menu" style="display: none;">
													<li><a asp-area="" asp-controller="FieldPlacement" asp-action="FieldPlacementSiteList" style="color:black"><i class="fa fa-circle-o"></i>  Field Sites</a></li>
													<li><a asp-area="" asp-controller="FieldPlacement" asp-action="FieldPlacementActivityList" style="color:black"><i class="fa fa-circle-o"></i>  Field Site Activities</a></li>
												</ul>
											</li>
											<li><a asp-area="" asp-controller="Collaborator" asp-action="CollaboratorList" style="color:black"><i class="fa fa-circle-o"></i>  Program Collaborators</a></li>
											<li class="treeview">
												<a href="#" style="color:black">
													<i class="fa fa-circle-o"></i> Program Resources
													<span class="pull-right-container">
														<i class="fa fa-angle-left pull-right"></i>
													</span>
												</a>
												<ul class="treeview-menu" style="display: none;">
													<li><a asp-area="" asp-controller="ProgramManagement" asp-action="ResourceTypeList" style="color:black"><i class="fa fa-circle-o"></i> Resource Type</a></li>
													<li><a asp-area="" asp-controller="ProgramManagement" asp-action="ResourceList" style="color:black"><i class="fa fa-circle-o"></i>  Resources</a></li>
													<li><a asp-area="" asp-controller="ProgramManagement" asp-action="ProgramResourcesList" style="color:black"><i class="fa fa-circle-o"></i>  Program Resource List</a></li>
												</ul>
											</li>
											<li class="treeview">
												<a href="#" style="color:black">
													<i class="fa fa-circle-o"></i> Program Events
													<span class="pull-right-container">
														<i class="fa fa-angle-left pull-right"></i>
													</span>
												</a>
												<ul class="treeview-menu" style="display: none;">
													<li><a asp-area="" asp-controller="EventManagement" asp-action="EventList" style="color:black"><i class="fa fa-circle-o"></i> Events List</a></li>
												</ul>
											</li>
										</ul>
									</li>
									<li class="treeview">
										<a href="#" style="color:black">
											<i class="glyphicon glyphicon-calendar"></i>
											<span>Semester Management </span>
											<span class="pull-right-container">
												<i class="fa fa-angle-left pull-right"></i>
											</span>
										</a>
										<ul class="treeview-menu">
											<li><a asp-area="" asp-controller="SemesterManagement" asp-action="SemesterList" style="color:black"><i class="fa fa-circle-o"></i>  Semester List</a></li>
											<li><a asp-area="" asp-controller="SemesterManagement" asp-action="SemesterScheduleList" style="color:black"><i class="fa fa-circle-o"></i>  Semester Schedule</a></li>
											<li><a asp-area="" asp-controller="SemesterManagement" asp-action="SemesterSchedulePendingApproval" style="color:black"><i class="fa fa-circle-o"></i>  Completion Requests </a></li>
											<li><a asp-area="" asp-controller="SemesterManagement" asp-action="SemesterScheduleChangeRequests" style="color:black"><i class="fa fa-circle-o"></i> Schedule Change Requests </a></li>

										</ul>
									</li>
									<li class="treeview">
										<a href="#" style="color:black">
											<i class="fa fa-files-o"></i>
											<span>Course Management</span>
											<span class="pull-right-container">
												<i class="fa fa-angle-left pull-right"></i>
											</span>
										</a>
										<ul class="treeview-menu">
											<li><a asp-area="" asp-controller="CourseManagement" asp-action="CourseTypeList" style="color:black"><i class="fa fa-circle-o"></i>  Session Type</a></li>
											<li><a asp-area="" asp-controller="CourseManagement" asp-action="CategoryList" style="color:black"><i class="fa fa-circle-o"></i>  Category</a></li>
											<li><a asp-area="" asp-controller="CourseManagement" asp-action="CourseList" style="color:black"><i class="fa fa-circle-o"></i>  Course</a></li>
											<li><a asp-area="" asp-controller="Unit" asp-action="UnitList" style="color:black"><i class="fa fa-circle-o"></i>  Topics</a></li>
										</ul>
									</li>
									<li class="treeview">
										<a href="#" style="color:black">
											<i class="fa fa-user"></i>
											<span>Resident Management</span>
											<span class="pull-right-container">
												<i class="fa fa-angle-left pull-right"></i>
											</span>
										</a>
										<ul class="treeview-menu">
											<li><a asp-area="" asp-controller="ResidentManagement" asp-action="FilterApplicants" style="color:black"><i class="fa fa-circle-o"></i> Shortlist Applicants</a></li>
											<li><a asp-area="" asp-controller="ResidentManagement" asp-action="ApplicantList" style="color:black"><i class="fa fa-circle-o"></i>  Applicant List</a></li>
											<li><a asp-area="" asp-controller="EthicsManagement" asp-action="EthicsApprovalList" style="color:black"><i class="fa fa-circle-o"></i>  Ethics Approval List</a></li>
											<li><a asp-area="" asp-controller="ResidentManagement" asp-action="ResidentList" style="color:black"><i class="fa fa-circle-o"></i>  Resident List</a></li>
											<li><a asp-area="" asp-controller="ResidentManagement" asp-action="AddResidentCourseAttendance" style="color:black"><i class="fa fa-circle-o"></i>  Course Attendance</a></li>
											<li><a asp-area="" asp-controller="ResidentManagement" asp-action="CadreList" style="color:black"><i class="fa fa-circle-o"></i>  Cadre</a></li>
										</ul>
									</li>
									<li class="treeview">
										<a href="#" style="color:black">
											<i class="fa fa-graduation-cap"></i> <span>Graduation Management</span>
											<span class="pull-right-container">
												<i class="fa fa-angle-left pull-right"></i>
											</span>
										</a>
										<ul class="treeview-menu">
											<li>
											<li><a asp-area="" asp-controller="GraduationManagement" asp-action="GraduationRequirementList" style="color:black"><i class="fa fa-circle-o"></i>  Graduation Requirement</a></li>
											<li>
											<li><a asp-area="" asp-controller="GraduationManagement" asp-action="ResidentGraduationList" style="color:black"><i class="fa fa-circle-o"></i>  Graduands List</a></li>
											<li><a asp-area="" asp-controller="AlumniManagement" asp-action="AlumniList" style="color:black"><i class="fa fa-circle-o"></i>  Alumni List</a></li>

										</ul>
									</li>
									<li class="treeview">
										<a href="#" style="color:black">
											<i class="glyphicon glyphicon-blackboard"></i>
											<span>Faculty Management</span>
											<span class="pull-right-container">
												<i class="fa fa-angle-left pull-right"></i>
											</span>
										</a>
										<ul class="treeview-menu">
											<li><a asp-area="" asp-controller="FacultyManagement" asp-action="FacultyRoleList" style="color:black"><i class="fa fa-circle-o"></i>  Faculty Roles</a></li>
											<li><a asp-area="" asp-controller="FacultyManagement" asp-action="FacultyList" style="color:black"><i class="fa fa-circle-o"></i>  Faculty</a></li>
										</ul>
									</li>
									<li class="treeview">
										<a href="#" style="color:black">
											<i class="fa fa-gears"></i> <span>User Management</span>
											<span class="pull-right-container">
												<i class="fa fa-angle-left pull-right"></i>
											</span>
										</a>
										<ul class="treeview-menu">
											<li><a href="/UserManagement/ListUsers" style="color:black"><i class="fa fa-circle-o"></i> Users</a></li>
											<li><a href="/RoleManagement/RolesList" style="color:black"><i class="fa fa-circle-o"></i> Roles</a></li>
											<li><a href="/RoleManagement/PermissionsList" style="color:black"><i class="fa fa-circle-o"></i> Permissions</a></li>
										</ul>
									</li>
									<li>
										<a href="@reportsUrl" style="color:black">
											<i class="fa fa-book"></i> <span>Reports Management</span>
											<span class="pull-right-container">
												<i class="fa fa-angle-left pull-right"></i>
											</span>
										</a>
									</li>
								</ul>
							</section>
							<!-- /.sidebar -->
						</aside>
						@RenderBody()
					</div>
					<!-- /.content-wrapper -->
					<footer class="main-footer">
						<h6>KFELTP - TAMS Ver 1.0.0</h6>
					</footer>
					<div class="control-sidebar-bg"></div>
				</div>
			}

        <script src="~/js/Theme/demo.js"></script>
        <script src="~/lib/bootstrap/dist/js/jquery-1.12.4.js"></script>
        <script src="~/js/Theme/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/moment.js"></script>
        <script src="~/js/Theme/bootstrap.min.js"></script>
        <script src="~/js/Theme/jquery.dataTables.min.js"></script>
        <script src="~/js/Theme/jquery.slimscroll.min.js"></script>
        <script src="~/js/Theme/fastclick.js"></script>
        <script src="~/js/Theme/adminlte.min.js"></script>
        <script src="~/lib/jquery/jquery-ui.js"></script>
        <script src="~/lib/jquery/jquery-ui.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/validate.js"></script>
        <script src="~/lib/bootstrap/dist/js/dataTables.bootstrap.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/dataTables.buttons.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/buttons.flash.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/jszip.min.js"></script>
        <script src="~/js/Theme/pdfmake.min.js"></script>
        <script src="~/js/Theme/vfs_fonts.js"></script>
        <script src="~/lib/bootstrap/dist/js/buttons.html5.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/buttons.print.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/dataTables.select.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap-select.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap-datetimepicker.js"></script>
        <script src="~/lib/bootstrap/dist/js/dataTables.checkboxes.min.js"></script>
        @RenderSection("Scripts", required: false)
    </body>
    </html>

<style>

    td.details-control {
        background: url('/images/open.png')no-repeat center center;
        cursor: pointer;
    }

    tr.shown td.details-control {
        background: url('/images/minus.png') no-repeat center center;
    }
</style>


