﻿@model ProgramOfferViewModel
@{ 

}
    <div style="float:left;">
        <b> Offer Name</b>
    </div>
    <div style="margin-bottom:10px; margin-left:150px">
        @Html.DisplayFor(model => model.Name)
    </div>
    <div style="float:left;">
        <b> Program</b>
    </div>
    <div style="margin-bottom:10px;margin-left:150px">
        @Html.DisplayFor(model => model.ProgramName)
    </div>
  <div style="float:left;">
        <b> Contact Person</b>
    </div>
    <div style="margin-bottom:10px;margin-left:150px">
        @Html.DisplayFor(model => model.Faculty)
    </div>

    <div style="float:left;">
        <b> Program Start Date</b>
    </div>
    <div style="margin-bottom:10px; margin-left:150px">
        @Html.DisplayFor(model => model.StrStartDate)
    </div>
    <div style="float:left;">
        <b> Program End Date</b>
    </div>
    <div style="margin-bottom:10px;margin-left:150px">
        @Html.DisplayFor(model => model.StrEndDate)
    </div>
    <div style="float:left;">
        <b> Duration</b>
    </div>
    <div  style="margin-bottom:10px;margin-left:150px">
        @Html.DisplayFor(model => model.Duration)
    </div>