﻿@model UpdateGraduationRequirementCommand
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Update Graduation Requirement</h4>
        </div>

        <div class="modal-body">
            <form action="_EditGraduationRequirement" id="edit-graduation-requirement-form">
                @Html.HiddenFor(x=>x.Id)
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">Select Program</label>
                    <select disabled="disabled" asp-for="ProgramId" asp-items="@Model.ProgramSelectList" class="form-control selectpicker">
                        <option value="0">Select Program</option>
                    </select>
                    <span asp-validation-for="ProgramId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label">Number Of Didactic Modules Required</label>
                    <input asp-for="NumberOfDidacticUnitsRequired" class="form-control" />
                    <span asp-validation-for="NumberOfDidacticUnitsRequired" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Number Of Activities Required</label>
                    <input asp-for="NumberOfActivitiesRequired" class="form-control" />
                    <span asp-validation-for="NumberOfActivitiesRequired" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Number Of Thesis Defence Deliverabes</label>
                    <input asp-for="NumberOfThesisDefenceDeliverables" class="form-control" />
                    <span asp-validation-for="NumberOfThesisDefenceDeliverables" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Passing Grade</label>
                    <input asp-for="PassingGrade" class="form-control" />
                    <span asp-validation-for="PassingGrade" class="text-danger"></span>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" id="btn-edit-graduation-requirements" class="btn bg-purple" value="Save" />
                </div>
            </div>
        </div>
    </div>
</div>