﻿@model AddGraduationRequirementCommand

@{
    ViewData["Title"] = "Create New Graduation Requirement";
}

@section Scripts
 {
    <script src="~/js/feltp/program-dropdown.js"></script>
}
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <section class="content-header">
                    <ol class="breadcrumb pull-right">
                        <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                        <li><a href="/GraduationManagement/GraduationRequirementList">Graduation Requirements</a></li>
                        <li><a href="#">Add Graduation Requirements</a></li>
                    </ol>
                </section>
                <h1 class="page-head-line">Add Graduation Requirement </h1>
            </div>
        </div>
        <div class="box box-header">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        <form asp-action="AddNewGraduationRequirement">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label class="control-label">Select Program</label>
                                <select asp-for="ProgramId" asp-items="@Model.ProgramSelectList" class="form-control selectpicker"  readonly="readonly" >
                                    <option value="0">Select Program</option>
                                </select>
                                <span asp-validation-for="ProgramId" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Number Of Didactic Courses Completed</label>
                                <input asp-for="NumberOfDidacticUnitsRequired" class="form-control" readonly="readonly" />
                                <span asp-validation-for="NumberOfDidacticUnitsRequired" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Number Of Field Placement Activities Required</label>
                                <input asp-for="NumberOfActivitiesRequired" class="form-control" readonly="readonly" />
                                <span asp-validation-for="NumberOfActivitiesRequired" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Number Of Thesis Defence Deliverabes</label>
                                <input asp-for="NumberOfThesisDefenceDeliverables" class="form-control"  readonly="readonly" />
                                <!--<span asp-validation-for="NumberOfThesisDefenceDeliverables" class="text-danger"></span>-->
                            </div>
                            <div class="form-group">
                                <label class="control-label">Passing Grade</label>
                                <input asp-for="PassingGrade" class="form-control" />
                                <span asp-validation-for="PassingGrade" class="text-danger"></span>
                            </div>

                            <div class="form-group pull-right">
                                <input type="submit" value="Create" class="btn  bg-purple btn-block" />
                            </div>
                        </form>
                    </div>
                </div>

                <div>
                    <a asp-controller="GraduationManagement"  asp-action="GraduationRequirementList">Back to List</a>
                </div>
            </div>
        </div>
    </section>