﻿
@{
    ViewData["Title"] = "Program Graduation Requirements";
}

@section Scripts
    {
    <script type="text/javascript" src="~/js/feltp/program-dropdown.js"></script>
    <script type="text/javascript" src="~/js/feltp/graduation-requirement-list.js"></script>
}
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <section class="content-header">
                <ol class="breadcrumb pull-right">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="#">Graduation Requirements</a></li>
                </ol>
            </section>
            <h1 class="page-head-line">Graduation Requirement List </h1>
        </div>
    </div>
    <div class="box box-header">
        <div class="box-body">
            <a asp-controller="GraduationManagement" asp-action="AddNewGraduationRequirement" class="btn btn-default btn-md" style="margin-bottom:10px"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create New</a><p></p>
            <table id="graduation-requirement-list-table" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
        </div>
    </div>
</section>

<div class="modal fade" id="graduation-requirement-modal" tabindex="-1" role="dialog" aria-labelledby="Edit Graduation Requirement Details" aria-hidden="true" data-backdrop="static">
    <div id="graduation-requirement-container">
    </div>
</div>
