﻿@model ResidentGraduationViewModel
<div class="col-md-12">

    <div class="col-md-6" style="margin-bottom: 1em;">
        <div class="col-md-6">
            <b>Program</b>
        </div>
        <div class="col-md-6">
            @Model.ProgramName
        </div>
        <div class="col-md-6">
            <b> Program Offer </b>
        </div>
        <div class="col-md-6">
            @Model.ProgramOffer
        </div>
        <div class="col-md-6">
            <b>Resident Name</b>
        </div>
        <div class="col-md-6">
            @Model.ResidentName
        </div>
        <div class="col-md-6">
            <b>Registration Number</b>
        </div>
        <div class="col-md-6">
            @Model.RegistrationNumber
        </div>
    </div>
    <div class="col-md-6">
        <div class="col-md-6">
            <b>Expected Program End Date</b>
        </div>
        <div class="col-md-6">
            @Model.ExpectedProgramEndDate
        </div>
        <div class="col-md-6">
            <b>Completion Status</b>
        </div>
        <div class="col-md-6">
            @Model.CompletionStatus
        </div>
        <div class="col-md-6">
            <b>Qualification Status</b>
        </div>
        <div class="col-md-6">
            @Model.QualificationStatus
        </div>
        <div class="col-md-6">
            <b>Enrolled By</b>
        </div>
        <div class="col-md-6">
            @Model.CreatedBy
        </div>

    </div>
</div>