﻿@model ResidentGraduationEligibityItems
@using ResidentManagement.Domain;

@{
    ViewData["Title"] = "Resident Graduation Details";

    var non_unitDetails = Model.GraduateEligibiltyItems.Where(x => x.EligibiltyType != EligibilityType.PassmarkAttained).ToList();

    var unitDetails = Model.GraduateEligibiltyItems.Where(x => x.EligibiltyType == EligibilityType.PassmarkAttained).ToList();

    var semesters = Model.GraduateEligibiltyItems.Where(x => x.SemesterId.HasValue == true).Select(x => new { x.SemesterId, x.Semester })
        .GroupBy(x => x)
        .Select(t => t.FirstOrDefault())
        .OrderBy(x => x.SemesterId)
        .ToList();
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <section class="content-header">
                <ol class="breadcrumb">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="/GraduationManagement/ResidentGraduationList">Resident Graduation List</a></li>
                    <li><a href="#">Resident Graduation Details</a></li>
                </ol>
            </section>
            <h1 class="page-head-line">@ViewData["Title"]</h1>
        </div>
    </div>
    <div class="box box-header">
        <div class="box-body">
            @{
                Html.RenderPartial("GraduateInfoPartial", Model.ResidentGraduationView);

            }
        </div>


    </div>
    <div class="row">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-header">
                    <div class="box box-solid">
                        <div class="box-primary with-border">
                        </div>
                        <div class="box-body">
                            <div class="box-group" id="accordion">
                                <div class="panel box box-primary">
                                    @{ 
                                        var accordionId = $"collapse-1";
                                    }

                                    <div class="box-header with-border bg-purple">
                                        <h6 class="box-title" style="font-size:14px">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#@accordionId" class="collapsed" aria-expanded="false" style="color:white">
                                                Resident Activities Information
                                            </a>
                                        </h6>
                                    </div>
                                    <div id="@accordionId" class="panel-collapse collapse in" aria-expanded="false" style="">
                                        <div class="box-body">
                                            <div class="col-xs-12 table-responsive">
                                                <table id="resident-activities-attendance" class="table table-bordered table-striped" cellspacing="0" width="100%">
                                                    <tr>
                                                        <th>
                                                            Eligibilty Type
                                                        </th>
                                                        <th>
                                                            Expected Value
                                                        </th>
                                                        <th>
                                                            Attained
                                                        </th>
                                                        <th>
                                                            Outcome
                                                        </th>
                                                        <th>
                                                            Failure Reason
                                                        </th>
                                                    </tr>
                                                    @if (non_unitDetails.Any())
                                                    {
                                                        @for (int com = 0; com < non_unitDetails.Count; com++)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    @non_unitDetails[com].StrEligibiltyType
                                                                </td>
                                                                <td>
                                                                    @non_unitDetails[com].ExpectedValue
                                                                </td>
                                                                <td>
                                                                    @non_unitDetails[com].ActualValue
                                                                </td>
                                                                <td>
                                                                    @non_unitDetails[com].OutcomeStatus
                                                                </td>
                                                                <td>
                                                                    @non_unitDetails[com].FailureReason
                                                                </td>
                                                            </tr>
                                                        }

                                                    }
                                                    else
                                                    {

                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td>Details not found </td>
                                                        </tr>
                                                    }


                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @foreach (var semester in semesters)
                                {
                                    var semesterPerfomance = unitDetails.Where(x => x.SemesterId == semester.SemesterId).ToList();

                                     accordionId = $"collapse-{semester.SemesterId + 1}";
                                    <div class="panel box box-primary">
                                        <div class="box-header with-border bg-purple">
                                            <h6 class="box-title" style="font-size:14px">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#@accordionId" class="collapsed" aria-expanded="false" style="color:white">
                                                    @semester.Semester Performance Details
                                                </a>
                                            </h6>
                                        </div>
                                        <div id="@accordionId" class="panel-collapse collapse in" aria-expanded="false" style="">
                                            <div class="box-body">
                                                <table id="resident-course-@semester.SemesterId" class="table table-bordered table-striped" cellspacing="0" width="100%">
                                                    <tr>
                                                        <th>
                                                            Code
                                                        </th>
                                                        <th>
                                                            Course Name
                                                        </th>
                                                        <th>
                                                            Passing Grade
                                                        </th>
                                                        <th>
                                                            Attained
                                                        </th>
                                                        <th>
                                                            Outcome
                                                        </th>
                                                        <th>
                                                            Failure Reason
                                                        </th>
                                                    </tr>
                                                    @if (semesterPerfomance.Any())
                                                    {

                                                        @for (int com = 0; com < semesterPerfomance.Count; com++)
                                                        {

                                                            <tr>
                                                                <td>
                                                                    @semesterPerfomance[com].Code
                                                                </td>
                                                                <td>
                                                                    @semesterPerfomance[com].CourseName
                                                                </td>
                                                                <td>
                                                                    @semesterPerfomance[com].ExpectedValue
                                                                </td>
                                                                <td>
                                                                    @semesterPerfomance[com].ActualValue
                                                                </td>
                                                                <td>
                                                                    @semesterPerfomance[com].OutcomeStatus
                                                                </td>
                                                                <td>
                                                                    @semesterPerfomance[com].FailureReason
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td>Details not found</td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>

                                                    }


                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                }
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>