﻿@model AddCourseScheduleCommand
@{
    ViewData["Title"] = "Add Course Schedule";
}

@using (Html.BeginForm("_AddCourseSchedule", "ProgramManagement", FormMethod.Post, new { id = "myForm", enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <div class="modal-dialog" style="width:1000px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add Course Schedule</h4>
            </div>

            <div class="modal-body">
                <form asp-action="_AddCourseSchedule">
                    @Html.HiddenFor(x => x.Name)
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Select Program</label>
                                <select asp-for="ProgramId" asp-items="@Model.ProgramSelectList" data-live-search="true"
                                        class="form-control selectpicker"></select>
                                <span asp-validation-for="ProgramId" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Select Program Offer </label>
                                <select class="form-control selectpicker" asp-for="ProgramOfferId"></select>
                                <span asp-validation-for="ProgramOfferId" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Select Course </label>
                                <select class="form-control selectpicker" asp-for="ProgramCourseId"></select>
                                <span asp-validation-for="ProgramCourseId" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="col-md-6">
                            
                            <div class="form-group">
                                <label class="control-label"> Select Faculty </label>
                                <select asp-for="FacultyId" class="form-control selectpicker" multiple></select>
                                <span asp-validation-for="FacultyId" class="text-danger"></span>
                            </div>
                                 <div class="form-group">
                                    <label class="control-label">Start Date</label>
                                    <div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy">
                                        <input type="text" asp-for="StrStartDate" class="form-control" placeholder="dd/mm/yyyy">
                                        <div class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </div>
                                    </div>
                                </div>
 
                            <div class="form-group">
                                <label asp-for="Location" class="control-label"></label>
                                <input asp-for="Location" class="form-control" />
                                <span asp-validation-for="Location" class="text-danger"></span>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn bg-purple" value="Save" />
                    </div>
                </div>
            </div>


        </div>
    </div>
}
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
@section Scripts
    {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

