﻿@model AddProgramCourseCommand
@{
    Layout = null;
}

    @using (Html.BeginForm("_AddProgramCourse", "ProgramManagement", FormMethod.Post, new { id = "myForm", enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Add Program Course</h4>
                </div>

                <div class="modal-body">
                    <form asp-action="_AddProgramCourse">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        @Html.HiddenFor(x => x.ProgramId)
                        <div class="form-group">
                            <label class="control-label">Select Program</label>
                            <select asp-for="ProgramId" asp-items="@Model.ProgramSelectList"
                                    class="form-control selectpicker" disabled="disabled" data-live-search="true">
                                <option value="0">Select Program</option>
                            </select>
                            <span asp-validation-for="ProgramId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Select Course Type</label>
                            <select asp-for="CategoryId" asp-items="@Model.CategorySelectList"
                                    class="form-control selectpicker" data-live-search="true">
                                <option value="0">Select Type</option>
                            </select>
                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Select Semester</label>
                            <select asp-for="SemesterId" class="form-control selectpicker"></select>
                            <span asp-validation-for="SemesterId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label"> Select Semester Title </label>
                            <select asp-for="CourseId" class="form-control selectpicker"></select>
                            <span asp-validation-for="CourseId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Duration In Weeks</label>
                            <input asp-for="DurationInWeeks" class="form-control" />
                            <span asp-validation-for="DurationInWeeks" class="text-danger"></span>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary" value="Save" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    @section Scripts
        {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }