﻿@model DeactivateProgramLocationCommand
@{
    Layout = null;
}
@using (Html.BeginForm("_DeactivateProgramLocation", "ProgramManagement", FormMethod.Post, new { id = "myForm", enctype = "multipart/form-data" }))
{

    <div class="modal-dialog" style="width: 400px;">
        <div class="modal-content">
            <div class="modal-header">
                <center>
                    <h4 class="modal-title">
                        Deactivate Program Location<button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h4>
                </center>

            </div>
            <div class="modal-body">
                <center><i class="fa fa-warning danger" style="font-size:48px;color:#d9534f;"></i></center>
                <center><h5>Are you sure you want to deactivate this?</h5></center>
            </div>
            <div class="modal-footer">
                @Html.HiddenFor(x => x.Id)
                @Html.ActionLink("Close", "ProgramLocationList", null, new { data_dismiss = "modal" }, new { @class = "btn btn-default pull-left" })
                <input type="submit" value="Deactivate" class="btn btn-danger pull-right" />
            </div>
        </div>
    </div>
}