﻿@model CourseScheduleViewModel

@using (Html.BeginForm("_DetailsCourseSchedule", "ProgramManagement", FormMethod.Post, new { id = "myForm", enctype = "multipart/form-data" }))
{
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Course Schedule</h4>
            </div>

            <div class="modal-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Id)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Id)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.ProgramOfferId)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ProgramOfferId)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.ProgramOffer)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ProgramOffer)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.ProgramTier)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ProgramTier)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.ProgramCourseId)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ProgramCourseId)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.ProgramCourse)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ProgramCourse)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Program)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Program)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.FacultyId)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.FacultyId)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Faculty)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Faculty)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.StartDate)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.StartDate)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.EndDate)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.EndDate)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Location)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Location)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Status)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Status)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.DateCreated)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.DateCreated)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.CreatedBy)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CreatedBy)
                    </dd>
                </dl>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn bg-purple" value="Save" />
                    </div>
                </div>
            </div>


        </div>
    </div>
}