﻿@model UpdateProgramLocationCommand

@{
    ViewData["Title"] = "Edit Program Location";
}
@using (Html.BeginForm("_EditProgramLocation", "ProgramManagement", FormMethod.Post, new { id = "myForm", enctype = "multipart/form-data" }))
{
@Html.ValidationSummary(true)
<div class="modal-dialog" style="width:1000px">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Update Program Locations</h4>
        </div>

        <div class="modal-body">
            @Html.HiddenFor(x => x.Id)
            <form asp-action="_AddProgramLocation">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label"> Select Country </label>
                            <select class="form-control selectpicker" asp-items="Model.Countries" asp-for="CountryId" data-live-search="true"></select>
                            <span asp-validation-for="CountryId" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Select County</label>
                            <select asp-items="Model.Counties" asp-for="CountyId" class="form-control selectpicker" data-live-search="true"></select>
                            <span asp-validation-for="CountyId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Sub County</label>
                            <select asp-items="Model.Subcounties" asp-for="SubCountyId" class="form-control selectpicker"></select>
                            <span asp-validation-for="SubCountyId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Postal Address</label>
                            <input asp-for="PostalAddress" class="form-control" />
                            <span asp-validation-for="PostalAddress" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label"> Building </label>
                            <input asp-for="Building" class="form-control" />
                            <span asp-validation-for="Building" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Venue</label>
                            <input asp-for="Location" class="form-control" />
                            <span asp-validation-for="Location" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Road</label>
                            <input asp-for="Road" class="form-control" />
                            <span asp-validation-for="Road" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn bg-purple" value="Save" />
                </div>
            </div>
        </div>


    </div>
</div>
}
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
@section Scripts {


    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
