﻿@model UpdateProgramOfferCommand

@{
    ViewData["Title"] = "Edit Program Offer";
}
@using (Html.BeginForm("_EditProgramOffer", "ProgramManagement", FormMethod.Post, new { id = "myForm", enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <div class="modal-dialog" style="width:1000px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Update Program Offer</h4>
            </div>

            <div class="modal-body">
                @Html.HiddenFor(x => x.Id)
                <form asp-action="_EditProgramOffer">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label"> Name </label>
                                <input class="form-control" asp-for="Name" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Select Program</label>
                                <select disabled asp-for="ProgramId" asp-items="Model.Programs"
                                        class="form-control selectpicker" data-live-search="true"></select>
                                <span asp-validation-for="ProgramId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Select Program Location</label>
                                <select asp-for="ProgramLocationId" asp-items="Model.ProgramLocations"
                                        class="form-control selectpicker" data-live-search="true"></select>
                                <span asp-validation-for="ProgramLocationId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Select Contact Person</label>
                                <select asp-for="FacultyId" asp-items="Model.Faculties"
                                        class="form-control selectpicker" data-live-search="true"></select>
                                <span asp-validation-for="FacultyId" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Application Start Date</label>
                                <div class='input-group date' id='StrApplicationStartDate'>
                                    <input type='text' class="form-control" asp-for="StrApplicationStartDate" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Application End Date</label>
                                <div class='input-group date' id='StrApplicationEndDate'>
                                    <input type='text' class="form-control" asp-for="StrApplicationEndDate" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <script type="text/javascript">
                            $(function () {

                                $('#StrStartDate').datetimepicker({
                                    format: 'DD/MM/YYYY'
                                });

                                $('#StrApplicationStartDate').datetimepicker({
                                    format: 'DD/MM/YYYY'
                                });

                                $('#StrApplicationEndDate').datetimepicker({
                                    useCurrent: false,
                                    format: 'DD/MM/YYYY'
                                });

                                $("#StrApplicationStartDate").on("dp.change", function (e) {
                                    $('#StrApplicationEndDate').data("DateTimePicker").minDate(e.date);
                                });

                                $("#StrApplicationEndDate").on("dp.change", function (e) {
                                    $('#StrApplicationStartDate').data("DateTimePicker").maxDate(e.date);
                                });

                                $("#StrApplicationEndDate").on("dp.change", function (e) {
                                    $('#StrStartDate').data("DateTimePicker").minDate(e.date);
                                });
                            });
                            </script>
                            <div class="form-group">
                                <label class="control-label">Program Start Date </label>
                                <div class='input-group date' id='StrEndDate'>
                                    <input type='text' class="form-control" asp-for="StrStartDate" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <script>
                            $(function () {
                                $('#StrStartDate').datetimepicker({
                                    format: 'DD/MM/YYYY'
                                });
                            });
                            </script>
                        </div>
                    </div>
                        </form>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn bg-purple" value="Save" />
                    </div>
                </div>
            </div>


        </div>
    </div>
}
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
@section Scripts {


    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
