﻿@model EditResourceCommand

    <div class="modal-dialog" style="width:1000px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Edit Resource</h4>
            </div>
            <form  id="edit-resource-form" action="/ProgramManagement/_EditResource" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    @Html.HiddenFor(x => x.Id)
               
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">

                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label class="control-label">Select Program</label>
                                    <select asp-for="ProgramId" asp-items="@Model.ProgramSelectList" data-live-search="true"
                                            class="form-control selectpicker"></select>
                                    <span asp-validation-for="ProgramId" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label"> Resource Type </label>
                                    <select class="form-control selectpicker" asp-for="ResourceTypeId" asp-items="@Model.ResourseTypes">
                                        <option>Select Resource Type</option>
                                    </select>
                                    <span asp-validation-for="ResourceTypeId" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label"> Resource Title </label>
                                    <input asp-for="ResourceTitle" class="form-control" />
                                    <span asp-validation-for="ResourceTitle" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label"> Upload Training Materials </label>
                                    @Html.TextBoxFor(model => model.UploadedFile, "", new { @type = "file", @multiple = "multiple" })
                                    @Html.ValidationMessageFor(model => model.UploadedFile, "", new { @class = "" })
                                </div>


                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="form-group">
                                    <label class="control-label"> Resource Description</label>
                                    <input asp-for="ResourceDescription" class="form-control" />
                                    <span asp-validation-for="ResourceDescription" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Source" class="control-label"></label>
                                    <input asp-for="Source" class="form-control" />
                                    <span asp-validation-for="Source" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Source Contact Details</label>
                                    <input asp-for="SourceContactDetails" class="form-control" />
                                    <span asp-validation-for="SourceContactDetails" class="text-danger"></span>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn bg-purple" id="edit-resource-btn" value="Update" />
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
@section Scripts
    {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}