﻿@model UpdateProgramCommand
@{
    Layout = null;
}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Edit Program</h4>
        </div>
        @using (Html.BeginForm("_EditProgram", "ProgramManagement", FormMethod.Post, new { id = "myForm", enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(x => x.Id)
        @Html.ValidationSummary(true)

        <div class="modal-body">
            <form asp-action="_EditProgram">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Code" class="control-label"></label>
                        <input asp-for="Code" class="form-control" />
                        <span asp-validation-for="Code" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label"> Tier </label>
                        <select class="form-control selectpicker" asp-for="ProgramTierId" asp-items="@Model.ProgramTiers"></select>
                        <span asp-validation-for="ProgramTierId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">

                    <div asp-validation-summary="None" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="HasMonthlySeminors" /> @Html.DisplayNameFor(model => model.HasMonthlySeminors)
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary" value="Save" />
                    </div>
                </div>
            </form>
        </div>


}
    </div>
</div>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}