﻿@model AddProgramResourceCommand

@{
    ViewData["Title"] = "Add Program Resource";
}

@section Scripts
    {
    <script src="~/js/feltp/resource-dropdown.js"></script>
    <script src="~/js/feltp/resourcetype-dropdown.js"></script>
    <script src="~/js/feltp/programtier-dropdown.js"></script>
    <script src="~/js/feltp/program-dropdown.js"></script>
    }

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <section class="content-header">
                <ol class="breadcrumb pull-right">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="/ProgramManagement/ProgramResourcesList"><i class="fa fa-home"></i> Program Resources List</a></li>
                    <li><a href="#"><u>Faculty</u></a></li>
                </ol>
            </section>
            <h1 class="page-head-line">@ViewData["Title"]</h1>
        </div>
    </div>
    <div class="box box-header">
        <div class="box-body">
            <form asp-action="AddProgramResource">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-md-6">

                    <div class="form-group">
                        <label class="control-label">Select Program</label>
                        <select asp-for="ProgramId" asp-items="@Model.ProgramSelectList" data-live-search="true"
                                class="form-control selectpicker"></select>
                        <span asp-validation-for="ProgramId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Select Resource Type</label>
                        <select asp-for="ResourceTypeId" class="form-control selectpicker"></select>
                        <span asp-validation-for="ResourceTypeId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Select Resource </label>
                        <select asp-for="ResourceId" class="form-control selectpicker"></select>
                        <span asp-validation-for="ResourceId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn bg-purple margin pull-right" />
                    </div>
                    <div class="pull-left">
                        <a asp-action="ProgramResourcesList">Back to List</a>
                    </div>
                </div>
            </form>
           
        </div>
    </div>
</section>