﻿@model AddProgramLocationCommand

@{
    ViewData["Title"] = "Add Program Location";
}

@section Scripts
    {
    <script src="~/js/feltp/country-dropdown.js"></script>
    <script src="~/js/feltp/county-dropdown.js"></script>
    <script src="~/js/feltp/subcounty-dropdown.js"></script>
}
    
  <section class="content">
        <div class="row">
            <div class="col-md-12">
                <section class="content-header">
                    <ol class="breadcrumb pull-right">
                        <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                        <li><a href="/ProgramManagement/ProgramLocationList">Program Location</a></li>
                        <li><a href="#"><u>Add Program Location</u></a></li>
                    </ol>
                </section>
                <h1 class="page-head-line">Add Program Locations </h1>
            </div>
        </div>
        <div class="box box-header">
            <div class="box-body">
                <div class="row">
                    <form asp-action="AddProgramLocation">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label"> Select Country </label>
                                <select class="form-control selectpicker" asp-for="CountryId" data-live-search="true"></select>
                                <span asp-validation-for="CountryId" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Select County</label>
                                <select asp-for="CountyId" class="form-control selectpicker" data-live-search="true"></select>
                                <span asp-validation-for="CountyId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Sub County</label>
                                <select asp-for="SubCountyId" class="form-control selectpicker"></select>
                                <span asp-validation-for="SubCountyId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Postal Address</label>
                                <input asp-for="PostalAddress" class="form-control" />
                                <span asp-validation-for="PostalAddress" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label"> Building </label>
                                <input asp-for="Building" class="form-control" />
                                <span asp-validation-for="Building" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Venue</label>
                                <input asp-for="Location" class="form-control" />
                                <span asp-validation-for="Location" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Road</label>
                                <input asp-for="Road" class="form-control" />
                                <span asp-validation-for="Road" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group footer">
                            <input type="submit" value="Create" class="btn btn bg-purple margin pull-right" />
                        </div>
                    </form>
                    <div>

                    </div>
                </div>
            </div>
        </div>
    </section>