﻿@model AddProgramCourseCommand

@{
    ViewData["Title"] = "Add Program Course";
}
@section Scripts
 {


    <script src="~/js/feltp/course-dropdown.js"></script>
    <script src="~/js/feltp/coursetype-dropdown.js"></script>
    <script src="~/js/feltp/semester-management.js"></script>
}

    <section class="content-header">
        <h1>
            @ViewData["Title"]
        </h1>
        <ol class="breadcrumb">
            <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
            <li><a href="/ProgramManagement/ProgramCoursesList">Program Courses List</a></li>
            <li><a href="#">Add Program Course</a></li>
        </ol>
    </section>

<section class="content">
    <div class="box box-primary">
        <div class="box-body">
            <div class="row">
                <form asp-action="AddProgramCourse">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Select Program</label>
                            <select asp-for="ProgramId" asp-items="@Model.ProgramSelectList"
                                    class="form-control selectpicker" data-live-search="true">
                                <option value="0">Select Program</option>
                            </select>
                            <span asp-validation-for="ProgramId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Select Course Type</label>
                            <select asp-for="CategoryId" asp-items="@Model.CategorySelectList"
                                    class="form-control selectpicker" data-live-search="true">
                                <option value="0">Select Type</option>
                            </select>
                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Duration In Weeks</label>
                            <input asp-for="DurationInWeeks" class="form-control" />
                            <span asp-validation-for="DurationInWeeks" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Select Semester</label>
                            <select asp-for="SemesterId" class="form-control selectpicker"></select>
                            <span asp-validation-for="SemesterId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label"> Select Semester Title </label>
                            <select asp-for="CourseId" class="form-control selectpicker"></select>
                            <span asp-validation-for="CourseId" class="text-danger"></span>
                        </div>
                  
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn bg-purple margin pull-right" />
                    </div>
                </form>
            </div>
        </div>
        <div class="box-footer">
            <a asp-action="ProgramCoursesList">Back to List</a>
        </div>
    </div>
</section>

