﻿@model AddProgramOfferCommand

@{
    ViewData["Title"] = "Add Program Offer";
}

@section Scripts
    {

    <script src="~/js/feltp/faculty-dropdown.js"></script>
    <script src="~/js/feltp/program-dropdown.js"></script>
    <script src="~/js/feltp/course-dropdown.js"></script>

}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <section class="content-header">
                <ol class="breadcrumb pull-right">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="/ProgramManagement/ProgramOfferList">Program Offer List</a></li>
                    <li><a href="#">Add Program Offer</a></li>
                </ol>
            </section>
            <h1 class="page-head-line">Add Program Offer</h1>
        </div>
    </div>
    <div class="box box-header">
        <div class="box-body">
            <form asp-action="AddProgramOffer">
                <h4>Program Offer Details Defination</h4>
                <hr style="border:solid;color:gray">
                <div class="row">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label"> Name </label>
                            <input class="form-control" asp-for="Name" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Select Program</label>
                            <select asp-for="ProgramId" asp-items="@Model.ProgramSelectList" data-live-search="true"
                                    class="form-control selectpicker"></select>
                            <span asp-validation-for="ProgramId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Select Venue</label>
                            <select asp-for="ProgramLocationId" class="form-control selectpicker multiple"></select>
                            <span asp-validation-for="ProgramLocationId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label"> Select Contact Person </label>
                            <select asp-for="FacultyId" class="form-control selectpicker"></select>
                            <span asp-validation-for="FacultyId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Application Start Date</label>
                            <div class='input-group date' id='StrApplicationStartDate'>
                                <input type='text' class="form-control" asp-for="StrApplicationStartDate" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Application End Date</label>
                            <div class='input-group date' id='StrApplicationEndDate'>
                                <input type='text' class="form-control" asp-for="StrApplicationEndDate" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <script type="text/javascript">
                            $(function () {

                                $('#StrStartDate').datetimepicker({
                                    format: 'DD/MM/YYYY'
                                });

                                $('#StrApplicationStartDate').datetimepicker({
                                    format: 'DD/MM/YYYY'

                                });

                                $('#StrApplicationEndDate').datetimepicker({
                                    useCurrent: false,
                                    format: 'DD/MM/YYYY'
                                });

                                $("#StrApplicationStartDate").on("dp.change", function (e) {
                                    $('#StrApplicationEndDate').data("DateTimePicker").minDate(e.date);
                                });

                                $("#StrApplicationEndDate").on("dp.change", function (e) {
                                    $('#StrApplicationStartDate').data("DateTimePicker").maxDate(e.date);
                                });

                                $("#StrApplicationEndDate").on("dp.change", function (e) {
                                    $('#StrStartDate').data("DateTimePicker").minDate(e.date);
                                });
                            });
                        </script>
                        <div class="form-group">
                            <label class="control-label">Program Start Date </label>
                            <div class='input-group date' id='StrEndDate'>
                                <input type='text' class="form-control" asp-for="StrStartDate" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <script>
                            $(function () {
                                $('#StrStartDate').datetimepicker({
                                    format: 'DD/MM/YYYY'
                                });
                            });
                        </script>
                    </div>
                </div>
                <h4>General Program Offer Requirements Defination</h4>
                <hr style="border:solid;color:gray">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Work Experience Duration(Years)</label>
                            <input type="number" min="0" required asp-for="GeneralProgramQualificationRequirements.MinimumWorkExperienceDuration"
                                   class="form-control" />
                            <span asp-validation-for="GeneralProgramQualificationRequirements.MinimumWorkExperienceDuration"
                                  class="text-danger"></span>
                        </div>
                        <div class="row">
                            <label class="control-label col-md-6" style="display:inline">Basic Computer Knowledge Required ?</label>
                            <input class="checkbox col-md-6" type="checkbox" asp-for="GeneralProgramQualificationRequirements.BasicComputerKnowledge" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <label class="control-label col-md-6">Is External Travelling Required ?</label>
                            <input class="checkbox col-md-6" type="checkbox"
                                   asp-for="GeneralProgramQualificationRequirements.ExternalTravelRequired" />
                        </div>
                        <div class="row">
                            <label class="control-label col-md-6">Is Internal Travelling Required ? </label>
                            <input class="checkbox col-md-6" type="checkbox"
                                   asp-for="GeneralProgramQualificationRequirements.InternalTravelRequired" />
                        </div>
                        <div class="row">
                            <label class="control-label col-md-6">Willingness to Relocate Required ? </label>
                            <input class="checkbox col-md-6" type="checkbox"
                                   asp-for="GeneralProgramQualificationRequirements.WillingnessToRelocate" />
                        </div>
                    </div>
                </div>
                <h4>Academic Requirements Defination</h4>
                <hr style="border:solid;color:gray">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Select Course</label>
                            <select class="form-control selectpicker" data-live-search="true"
                                    asp-items="@Model.AcademicRequirementDetails.AcademicCourses"
                                    asp-for="AcademicRequirementDetails.AcademicCourseToEducationLevelMapping" multiple></select>
                            <span asp-validation-for="AcademicRequirementDetails.AcademicCourseToEducationLevelMapping" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" id="academic-requirement-grading-div">
                            <label class="control-label" style="display:inline">Select Course Grading</label>
                            <select class="form-control selectpicker" data-live-search="true"
                                    asp-items="@Model.AcademicRequirementDetails.CourseGrades"
                                    asp-for="AcademicRequirementDetails.CourseGradingToEducationLevelMapping" disabled multiple></select>
                            <span asp-validation-for="AcademicRequirementDetails.CourseGradingToEducationLevelMapping" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary bg-purple pull-right" />
                </div>
            </form>
        </div>
        <div class="box-footer">
            <a asp-action="ProgramOfferList">Back to List</a>
        </div>
    </div>
</section>




