﻿@{
    ViewData["Title"] = "Course Schedule";
}

@section Scripts
    {
    <script src="~/js/feltp/program-management.js"></script>
    <script src="~/js/feltp/course-schedule-dropdowns.js"></script>
}
<section class="content-header">
    <h2>
        @ViewData["Title"]
    </h2>
    <ol class="breadcrumb pull-right">
        <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#">Course Schedule</a></li>
    </ol>
</section>
<section class="content">
    <div class="box box-primary">
        <div class="box-body">
            <button type="button" class="btn btn-default btn-md" style="margin-bottom:10px" data-toggle="modal" data-url="@Url.Action("_AddCourseSchedule","ProgramManagement")" id="btnCreateCourseSchedule">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create New
            </button>
            <table id="course-schedule" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
        </div>
    </div>
</section>

<div class="modal fade" id="createCourseScheduleModal" tabindex="-1" role="dialog" aria-labelledby="CreateCourseScheduleModal" aria-hidden="true" data-backdrop="static">
    <div id="createCourseScheduleContainer">
    </div>
</div>

<div class="modal fade" id="editCourseScheduleModal" tabindex="-1" role="dialog" aria-labelledby="EditCourseScheduleModal" aria-hidden="true" data-backdrop="static">
    <div id="editCourseScheduleContainer">
    </div>
</div>
<div class="modal fade" id="detailsCourseScheduleModal" tabindex="-1" role="dialog" aria-labelledby="DetailsCourseScheduleModal" aria-hidden="true" data-backdrop="static">
    <div id="detailsCourseScheduleContainer">
    </div>
</div>
<div class="modal fade" id="deleteCourseScheduleModal" tabindex="-1" role="dialog" aria-labelledby="DeleteCourseScheduleModal" aria-hidden="true" data-backdrop="static">
    <div id="deleteCourseScheduleContainer">
    </div>
</div>

<style>
    td.details-control {
        background: url('/images/open.png')no-repeat center center;
        cursor: pointer;
    }

    tr.shown td.details-control {
        background: url('/images/minus.png') no-repeat center center;
    }
</style>
