﻿@using Microsoft.AspNetCore.Identity
@using UserManagement.Domain;

@{
    ViewData["Title"] = "Program | Dashboard";
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Program | Dashboard</title>
</head>
<body>

            <div class="row">
                <div class="col-md-12">
                    <h4 class="page-head-line">Program Dashboard</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="dashboard-div-wrapper bk-clr-one">
                        <i class="fa fa-file-text-o dashboard-div-icon"></i>
                        <div class="progress progress-striped active">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                            </div>
                        </div>
                        <h5><a asp-area="" asp-controller="ProgramManagement" asp-action="ProgramList" style="color:white">Program </a></h5>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="dashboard-div-wrapper bk-clr-one">
                        <i class="fa fa-clipboard dashboard-div-icon"></i>
                        <div class="progress progress-striped active">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                            </div>

                        </div>
                        <h5><a asp-area="" asp-controller="CourseManagement" asp-action="CourseList" style="color:white">Course</a> </h5>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="dashboard-div-wrapper bk-clr-one">
                        <i class="fa fa-calendar dashboard-div-icon"></i>
                        <div class="progress progress-striped active">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                            </div>

                        </div>
                        <h5><a asp-area="" asp-controller="EventManagement" asp-action="EventList" style="color:white"> Events</a></h5>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="dashboard-div-wrapper bk-clr-one">
                        <i class="fa fa-wrench dashboard-div-icon"></i>
                        <div class="progress progress-striped active">
                            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                            </div>

                        </div>
                        <h5><a asp-area="" asp-controller="CompetencyManagement" asp-action="CompetencyList" style="color:white">Competency</a> </h5>
                    </div>
                </div>

            </div>

</body>
</html>