﻿@model GeneralRequirementsViewModel

<div class="col-md-12">

    <div class="col-md-6" style="margin-bottom: 1em;">
        <div class="col-md-6">
            <b>Program</b>
        </div>
        <div class="col-md-6">
            @Model.MinimumWorkExperienceDuration
        </div>
        <div class="col-md-6">
            <b> Program Offer </b>
        </div>
        <div class="col-md-6">
            @Model.BasicComputerKnowledge
        </div>
        <div class="col-md-6">
            <b>Resident Name</b>
        </div>
        <div class="col-md-6">
            @Model.WillingnessToRelocate
        </div>
        <div class="col-md-6">
            <b>Registration Number</b>
        </div>
        <div class="col-md-6">
            @Model.ExternalTravelRequired
        </div>
    </div>
    <div class="col-md-6">
        <div class="col-md-6">
            <b>Expected Program End Date</b>
        </div>
        <div class="col-md-6">
            @Model.InternalTravelRequired
        </div>
        <div class="col-md-6">
            <b>Completion Status</b>
        </div>
        <div class="col-md-6">
            @Model.
        </div>
        <div class="col-md-6">
            <b>Qualification Status</b>
        </div>
        

    </div>
</div>