﻿
@{
    ViewData["Title"] = "Program Competencies List";
}

@section Scripts
    {
    <script type="text/javascript" src="~/js/feltp/program-competency-list.js"></script>
}

  <section class="content">
        <div class="row">
            <div class="col-md-12">
                <section class="content-header">
                    <ol class="breadcrumb pull-right">
                        <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                       <li><a href="#">Program Competency</a></li>
                    </ol>
                </section>
                <h1 class="page-head-line">Program Competency</h1>
            </div>
        </div>
        <div class="box box-header">
            <div class="box-body">
                <table id="program-competency-list-table" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
            </div>
        </div>
    </section>


