﻿@model IEnumerable<ProgramResourcesViewModel>
@{
    ViewData["Title"] = "Program Resources";
}


@section Scripts
    {
    <script type="text/javascript" src="~/js/feltp/program-management.js"></script>
}


<section class="content">
    <div class="row">
        <div class="col-md-12">
            <section class="content-header">
                <ol class="breadcrumb pull-right">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="#"><u>Program Resources List</u></a></li>
                </ol>
            </section>
            <h1 class="page-head-line">Program Resources List</h1>
        </div>
    </div>
    <div class="box box-header">
        <div class="box-body">
            <table id="program-resources-list-table" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
        </div>
    </div>
</section>
