﻿@model IEnumerable<ProgramTierViewModel>
@{
    ViewData["Title"] = "Program Tiers";
}

@section Scripts
    {
    <script type="text/javascript" src="~/js/feltp/program-management.js"></script>
}
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <section class="content-header">
                    <ol class="breadcrumb pull-right">
                        <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                        <li><a href="#"><u>ProgramTier</u></a></li>
                    </ol>
                </section>
                <h1 class="page-head-line">Program Tier List </h1>
            </div>
        </div>
        <div class="box box-header">
            <div class="box-body">
                <button type="button" class="btn btn-default btn-md" style="margin-bottom:10px" data-toggle="modal" data-url="@Url.Action("_AddProgramTier","ProgramManagement")" id="btnCreateProgramTier">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create New
                </button>
                <table id="program-tier" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
            </div>
        </div>
    </section>

<div class="modal fade" id="createProgramTierModal" tabindex="-1" role="dialog" aria-labelledby="CreateProgramTierModal" aria-hidden="true" data-backdrop="static">
    <div id="createProgramTierContainer">
    </div>
</div>

<div class="modal fade" id="editProgramTierModal" tabindex="-1" role="dialog" aria-labelledby="EditProgramTierModal" aria-hidden="true" data-backdrop="static">
    <div id="editProgramTierContainer">
    </div>
</div>
<div class="modal fade" id="detailsProgramTierModal" tabindex="-1" role="dialog" aria-labelledby="DetailsProgramTierModal" aria-hidden="true" data-backdrop="static">
    <div id="detailsProgramTierContainer">
    </div>
</div>
<div class="modal fade" id="deleteProgramTierModal" tabindex="-1" role="dialog" aria-labelledby="DeleteProgramTierModal" aria-hidden="true" data-backdrop="static">
    <div id="deleteProgramTierContainer">
    </div>
</div>



