﻿@model ProgramOfferViewModel
@{
    ViewData["Title"] = "Program Offer Details";
}
@section Scripts
    {
    <script src="~/js/feltp/program-offer-list.js"></script>
}

<div class="row">
    <div class="col-md-12">
        <section class="content-header">
            <ol class="breadcrumb pull-right">
                <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="/ProgramManagement/ProgramOfferList"><i class="fa fa-home"></i> Program Offer List</a></li>
                <li><a href="#">Program Offer Details</a></li>
            </ol>
        </section>
        <h1 class="page-head-line"> @Model.Name-Details </h1>
    </div>
</div>

<div class="row">
    <div class="col-md-9">
        <div class="box box-header" style="height: 200px;">
            <div class="box-body">
                @Html.Hidden("ProgramOfferId",Model.Id)
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="col-md-6">
                                <b>Program Name</b>
                            </div>
                            <div class="col-md-6">
                                @Model.ProgramName
                            </div>
                            <div class="col-md-6">
                                <b> Program Offer Name </b>
                            </div>
                            <div class="col-md-6">
                                @Model.Name
                            </div>
                            <div class="col-md-6">
                                <b>Program Start Date</b>
                            </div>
                            <div class="col-md-6">
                                @Model.StrStartDate
                            </div>
                            <div class="col-md-6">
                                <b>Program End Date</b>
                            </div>
                            <div class="col-md-6">
                                @Model.StrEndDate
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="col-md-6">
                                <b>Application Start Date</b>
                            </div>
                            <div class="col-md-6">
                                @Model.ApplicationStartDate.ToShortDateString()
                            </div>
                            <div class="col-md-6">
                                <b>Application End Date</b>
                            </div>
                            <div class="col-md-6">
                                @Model.ApplicationEndDate.ToShortDateString()
                            </div>
                            <div class="col-md-6">
                                <b>Faculty</b>
                            </div>
                            <div class="col-md-6">
                                @Model.Faculty
                            </div>
                            <div class="col-md-6">
                                <b>Date Created</b>
                            </div>
                            <div class="col-md-6">
                                @Model.DateCreated.ToShortDateString()
                            </div>
                            <div class="col-md-6">
                                <b>Created By</b>
                            </div>
                            <div class="col-md-6">
                                @Model.CreatedBy
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="box box-header" style="height: 200px;">
            <div class="box-body">
                <a class="view-applicants-link btn btn-primary btn-md pull-left btn-sm" href="/ProgramManagement/ProgramOfferApplicants?Id=@Model.Id"
                   style="width:180px">
                    View Applicants
                </a><br />
                <hr style="margin-top:5px;margin-bottom:5px" />
                <a class="edit-program-offer-link btn btn-primary btn-md pull-left btn-sm" href="/ProgramManagement/_EditProgramOffer?Id=@Model.Id"
                   style="width:180px">
                    Edit Details
                </a>
                <br />
                <hr style="margin-top:5px;margin-bottom:5px" />
                @if (Model.HasEligiblityRequirements)
                {

                    <a class="view-requirements-link btn btn-primary btn-md pull-left btn-sm" href="/ProgramManagement/ViewOfferRequirements?Id=@Model.Id"
                       style="width:180px">
                        View Eligiblity Requirements
                    </a>
                }
                else
                {
                    <a class="view-requirements-link btn btn-primary btn-md pull-left btn-sm" href="#"
                       style="width:180px">
                        Add Eligiblity Requirements
                    </a>
                }


                <hr style="margin-top:5px;margin-bottom:5px" />
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="box box-header">
            <div class="box-body">
                <h4 style="text-align:center">Program Offer Locations</h4>
                <div class="col-md-12">
                    <table id="program-locationlist-table" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
                </div>
                <div class="box-footer pull-right">
                    <a asp-action="ProgramOfferList">Back to List</a>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>

<div class="modal fade" id="programoffer-locations-modal" tabindex="-1" role="dialog" aria-labelledby="Program Offer Locations" aria-hidden="true" data-backdrop="static">
    <div id="programoffer-locations-container">
    </div>
</div>