﻿@model ProgramOfferViewModel
@{
    ViewData["Title"] = $"{ Model.Name } ({Model.ProgramName}) - Applicants";
}


@section Scripts
    {
    <script type="text/javascript" src="~/js/feltp/program-offer-applicants-list.js"></script>
}
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <section class="content-header">
                <ol class="breadcrumb pull-right">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="/ProgramManagement/ProgramLocationList">Program Offer Applicants List</a></li>
                </ol>
            </section>
            <h1 class="page-head-line"> @ViewData["Title"] </h1>
        </div>
    </div>
    <div class="box box-header">
        <div class="box-body">
            @Html.Hidden("ProgramOfferId", Model.Id)
            <div class="row">
                <div class="col-md-2">
                    <a asp-controller="ResidentManagement" asp-action="RegisterNewApplicant" asp-route-Id="@Model.Id" class="btn btn-default btn-md" style="margin-bottom:10px"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Register New</a><p></p>
                </div>
                <div class="col-md-2">
                    <a asp-controller="ResidentManagement" asp-action="SearchApplicant" asp-route-Id="@Model.Id" class="btn btn-default btn-md" style="margin-bottom:10px"><span class="glyphicon glyphicon-transfer" aria-hidden="true"></span> Register Existing</a><p></p>
                </div>

            </div>
            <table id="program-applicants-list-table" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
            <div class="pull-left">
                <a asp-action="ProgramOfferDetails" asp-route-Id="@Model.Id">Back to Details</a>
            </div>
        </div>
    </div>
</section> 