﻿
@{
    ViewData["Title"] = "Program Locations";
}

@section Scripts
    {
    <script src="~/js/feltp/program-location-list.js"></script>
    <script src="~/js/feltp/country-dropdown.js"></script>
    <script src="~/js/feltp/county-dropdown.js"></script>
    <script src="~/js/feltp/subcounty-dropdown.js"></script>
}

@model bool
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <section class="content-header">
                <ol class="breadcrumb pull-right">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="#"><u>Programs</u></a></li>
                </ol>
            </section>
            <h1 class="page-head-line">Program Locations List </h1>
        </div>
    </div>
    <div class="box box-header">
        <div class="box-body">
            <button type="button" class="btn btn-default btn-md" style="margin-bottom:10px" data-toggle="modal" data-url="@Url.Action("_AddProgramLocation","ProgramManagement")" id="btnCreateProgramLocation">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create New
            </button>
            <table id="program-locationlist-table" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
        </div>
    </div>
</section>
<div class="modal fade" id="createProgramLocationModal" tabindex="-1" role="dialog" aria-labelledby="CreateProgramLocationModal" aria-hidden="true" data-backdrop="static">
    <div id="createProgramLocationContainer">
    </div>
</div>

<div class="modal fade" id="editProgramLocationModal" tabindex="-1" role="dialog" aria-labelledby="EditProgramLocationModal" aria-hidden="true" data-backdrop="static">
    <div id="editProgramLocationContainer">
    </div>
</div>
<div class="modal fade" id="deactivateProgramLocationModal" tabindex="-1" role="dialog" aria-labelledby="DeactiavteProgramLocationModal" aria-hidden="true" data-backdrop="static">
    <div id="deactivateProgramLocationContainer">
    </div>
</div>