﻿@model IEnumerable<ResourceViewModel>
@{
    ViewData["Title"] = "Resource List";
}

@section Scripts
    {
    <script type="text/javascript" src="~/js/feltp/program-management.js"></script>
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <section class="content-header">
                <ol class="breadcrumb pull-right">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="#">Resources</a></li>
                </ol>
            </section>
            <h1 class="page-head-line">Resource List </h1>
        </div>
    </div>
    <div class="box box-header">
        <!-- /.box-header -->
        <div class="box-body">
            <button type="button" class="btn btn-default btn-md" style="margin-bottom:10px" data-toggle="modal" data-url="@Url.Action("_AddResource","ProgramManagement")" id="btnCreateResource">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create New
            </button>
            <table id="resource-table" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
        </div>
    </div>
</section>
<div class="modal fade" id="createResourceModal" tabindex="-1" role="dialog" aria-labelledby="CreateResourceModal" aria-hidden="true" data-backdrop="static">
    <div id="createResourceContainer">
    </div>
</div>

<div class="modal fade" id="editResourceModal" tabindex="-1" role="dialog" aria-labelledby="EditResourceModal" aria-hidden="true" data-backdrop="static">
    <div id="editResourceContainer">
    </div>
</div>

<div class="modal fade" id="deactivateResourceModal" tabindex="-1" role="dialog" aria-labelledby="DeactivateResourceModal" aria-hidden="true" data-backdrop="static">
    <div id="deactivateResourceContainer">
    </div>
</div>

<div class="modal fade" id="program-Resource-modal" tabindex="-1" role="dialog" aria-labelledby="Program Resource" aria-hidden="true" data-backdrop="static">
    <div id="program-Resource-container">
    </div>
</div>
<div class="modal fade" id="viewResourceFilesModal" tabindex="-1" role="dialog" aria-labelledby="viewCourseFiles" aria-hidden="true" data-backdrop="static">
    <div id="viewFilesContainer">
    </div>
</div>