﻿
@{
    ViewData["Title"] = "Resource Type List";
}

@section Scripts
    {
    <script type="text/javascript" src="~/js/feltp/program-management.js"></script>
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <section class="content-header">
                <ol class="breadcrumb pull-right">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="#">Resource Type</a></li>
                </ol>
            </section>
            <h1 class="page-head-line">Resource Type List </h1>
        </div>
    </div>
    <div class="box box-header">
        <div class="box-body">
            <button type="button" class="btn btn-default btn-md" style="margin-bottom:10px" data-toggle="modal" data-url="@Url.Action("_AddResourceType","ProgramManagement")" id="btnCreateResourceType">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create New
            </button>
            <table id="resource-type" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
        </div>
    </div>
</section>

<div class="modal fade" id="createResourceTypeModal" tabindex="-1" role="dialog" aria-labelledby="CreateResourceTypeModal" aria-hidden="true" data-backdrop="static">
    <div id="createResourceTypeContainer">
    </div>
</div>

<div class="modal fade" id="editResourceTypeModal" tabindex="-1" role="dialog" aria-labelledby="EditResourceTypeModal" aria-hidden="true" data-backdrop="static">
    <div id="editResourceTypeContainer">
    </div>
</div>
<div class="modal fade" id="detailsResourceTypeModal" tabindex="-1" role="dialog" aria-labelledby="DetailsResourceTypeModal" aria-hidden="true" data-backdrop="static">
    <div id="detailsResourceTypeContainer">
    </div>
</div>

<div class="modal fade" id="deactivateResourceTypeModal" tabindex="-1" role="dialog" aria-labelledby="DeactivateResourceTypeModal" aria-hidden="true" data-backdrop="static">
    <div id="deactivateResourceTypeContainer">
    </div>
</div>
