﻿@model ProgramOfferRequirementsViewModel

@{
    ViewData["Title"] = "Program Offer Requirements";

}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <section class="content-header">
                <ol class="breadcrumb">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="/ProgramManagement/ProgramOfferDetails?Id=@Model.ProgramOfferId">Program Offer Details</a></li>
                    <li><a href="#">Program Offer Eligibilty Requirements</a></li>
                </ol>
            </section>
            <h1 class="page-head-line"> @Model.ProgramOfferName - Eligibilty Requirements</h1>
        </div>
    </div>
    <div class="box box-header">
        <div class="box-body">
            <div class="col-md-12">
                <div class="col-md-6" style="margin-bottom: 1em;">
                    <div class="col-md-6">
                        <b>Program Name</b>
                    </div>
                    <div class="col-md-6">
                        @Model.ProgramName
                    </div>
                    <div class="col-md-6">
                        <b>Minimum Work Experience Duration</b>
                    </div>
                    <div class="col-md-6">
                        @Model.GeneralRequirementsViewModel.MinimumWorkExperienceDuration Years
                    </div>
                    <div class="col-md-6">
                        <b>Willingness to relocate ?</b>
                    </div>
                    <div class="col-md-6">
                        @Model.GeneralRequirementsViewModel.WillingnessToRelocate
                    </div>
                    <div class="col-md-6">
                        <b>Requires Basic Computer Knowledge  </b>
                    </div>
                    <div class="col-md-6">
                        @Model.GeneralRequirementsViewModel.BasicComputerKnowledge
                    </div>


                </div>
                <div class="col-md-6">
                    <div class="col-md-6">
                        <b>External Travelling required ?</b>
                    </div>
                    <div class="col-md-6">
                        @Model.GeneralRequirementsViewModel.ExternalTravelRequired
                    </div>
                    <div class="col-md-6">
                        <b>Internal Travelling required ?</b>
                    </div>
                    <div class="col-md-6">
                        @Model.GeneralRequirementsViewModel.InternalTravelRequired
                    </div>
                    <div class="col-md-6">
                        <b>Date Created</b>
                    </div>
                    <div class="col-md-6">
                        @Model.DateCreated
                    </div>
                    <div class="col-md-6">
                        <b>Created By</b>
                    </div>
                    <div class="col-md-6">
                        @Model.CreatedBy
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-header">
                    <div class="box box-solid">
                        <div class="box-primary with-border">
                        </div>
                        <div class="box-body">
                            <div class="box-group" id="accordion">
                                <div class="panel box box-primary">
                                    <div class="box-header with-border bg-purple">
                                        <h6 class="box-title" style="font-size:14px">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#accordion-one" class="collapsed" aria-expanded="false" style="color:white">
                                                Academic Requirement Details
                                            </a>
                                        </h6>
                                    </div>
                                    <div id="accordion-one" class="panel-collapse collapse in" aria-expanded="false" style="">
                                        <div class="box-body">
                                            <div class="col-xs-12 table-responsive">
                                                <table id="offer-academic-requirements" class="table table-bordered table-striped" cellspacing="0" width="100%">
                                                    <tr>
                                                        <th>
                                                            Education Level
                                                        </th>
                                                        <th>
                                                            Course Name
                                                        </th>
                                                        <th>
                                                            Minimum Grade
                                                        </th>
                                                    </tr>
                                                    @if (Model.AcademicRequirementsViewModel.Any())
                                                    {
                                                        @for (int com = 0; com < Model.AcademicRequirementsViewModel.Count; com++)
                                                        {

                                                            <tr>
                                                                <td>
                                                                    @Model.AcademicRequirementsViewModel[com].EducationLevel
                                                                </td>
                                                                <td>
                                                                    @Model.AcademicRequirementsViewModel[com].CourseName
                                                                </td>
                                                                <td>
                                                                    @Model.AcademicRequirementsViewModel[com].MinimunGrade

                                                                </td>
                                                            </tr>
                                                        }

                                                    }
                                                    else
                                                    {

                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td>Details not found </td>
                                                        </tr>
                                                    }


                                                </table>
                                                <a asp-action="ProgramOfferDetails" asp-route-Id="@Model.ProgramOfferId" class="pull-right">Back to Details</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>