@model AddFieldPlacementEvaluationCommand

<div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"> @Model.SiteName Site Review </h4>
            </div>
            <div class="modal-body">
                <form action="/FieldPlacement/ReviewSite" id="review-site-form">
                     @Html.HiddenFor(x=>x.FieldPlacementSiteId)  
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label class="control-label">Any challenges encountered in the field ?</label>
                        <textarea asp-for="Feedback.ChallengesEncountered" class="form-control"> </textarea>
                        <span asp-validation-for="Feedback.ChallengesEncountered" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Is environment conducive for learning ?</label>
                        <textarea asp-for="Feedback.ConduciveForLearning" class="form-control"> </textarea>
                        <span asp-validation-for="Feedback.ConduciveForLearning" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Can you recommend the site the others ?</label>
                        <textarea asp-for="Feedback.RecommendSiteToOthers" class="form-control"> </textarea>
                        <span asp-validation-for="Feedback.RecommendSiteToOthers" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">What was the best experience on the field ?</label>
                        <textarea asp-for="Feedback.BestExperience" class="form-control"> </textarea>
                        <span asp-validation-for="Feedback.BestExperience" class="text-danger"></span>
                    </div>
                     <div class="form-group">
                         <label class="control-label">What are the areas of improvement ?</label>
                         <textarea asp-for="Feedback.WhatToImprove" class="form-control"> </textarea>
                         <span asp-validation-for="Feedback.WhatToImprove" class="text-danger"></span>
                     </div>
                     <div class="form-group">
                         <label class="control-label"> Select Rating </label>
                         <select class="form-control selectpicker" asp-for="Rating">
                             <option value="1">1-Very Bad</option>
                             <option value="2">2-Poor</option>
                             <option value="3">3-OK</option>
                             <option value="4">4-Good</option>
                             <option value="5">5-Excellent</option>
                         </select>
                         <span asp-validation-for="Rating" class="text-danger"></span>
                     </div>

                </form>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn bg-purple" value="Submit" id="btn-submit-review" />
                    </div>
                </div>
            </div>


        </div>
    </div>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
@section Scripts {


    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
