@model FieldPlacementEvaluationResponse
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Field Placement Review Result</h4>
        </div>

        <div class="modal-body"> 
             @if (Model.Status)
             {
                 <h4 class="alert alert-success">@Model.Message</h4> 

             }
             else
             {
                 <h4 class="alert alert-error">@Model.Message</h4> 

             }
        </div>
        <div class="modal-footer">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="button" class="btn btn-default" onclick="javascript:window.location.reload()" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>