﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/font-awesome.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/login.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery/bootstrap.min.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>                                                      