﻿
@{
    ViewData["Title"] = "Account Activated";
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <section class="content-header">
                <ol class="breadcrumb pull-right">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                </ol>
            </section>
            <h1 class="page-head-line">  Account Activated </h1>
        </div>
    </div>
    <div class="box box-header">
        <div class="box-body">
            <h4 class="alert alert-success">User account activated successfully </h4>
            <text style="font-size:medium"> Click <a href="/Applicant/RedirectProfile">here</a> to log in to the system. </text>
        </div>
    </div>
</section>
