﻿@{
    ViewData["Title"] = "Account Created Result";
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <section class="content-header">
                <ol class="breadcrumb pull-right">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                </ol>
            </section>
            <h1 class="page-head-line"> Account Created </h1>
        </div>
    </div>
    <div class="box box-header">
        <div class="box-body">
            <h4 class="alert alert-success"> User account created successfully </h4>
            <text style="font-size:medium">
                An email activation link has been sent to your email address. Click the activation link to set your password for the portal.<br />
                Click <a href="/Home/Index">here</a> to go back to the home page.
            </text>
        </div>
    </div>
</section>
