﻿@model SetPasswordViewModel

@{
    ViewData["Title"] = "Account Activation";
}
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <section class="content-header">
                <ol class="breadcrumb pull-right">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                </ol>
            </section>
            <h1 class="page-head-line"> <i class="fa fa-user"></i>  Activate your FELTP SSP account </h1>
        </div>
    </div>




    <div class="box box-header">
        <div class="box-body">
            <form asp-action="ActivateAccount">
                <div class="row">
                    <div class="col-md-6">
                        <div class="text-danger" asp-validation-summary="All"></div>
                        @Html.HiddenFor(x => x.UserName)
                        @Html.HiddenFor(x => x.Code)
                        <div class="form-group">
                            <label asp-for="Password" class="control-label"></label>
                            <input type="password" asp-for="Password" name="password" new { title="Password should be minimum of six characters" } class="form-control" />
                        
                        </div>
                        <div class="form-group">
                            <label class="control-label">Confirm Password </label>
                            <input type="password" asp-for="ConfirmPassword"  name="confirmpassword" class="form-control" />
                           
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Submit" class="btn btn-primary bg-purple pull-right" />
                        </div>
                    </div>

                </div>


            </form>
        </div>
    </div>
</section>
@*<script>
    $(".toggle-password").click(function () {

        $(this).toggleClass("fa-eye fa-eye-slash");
        var input = $($(this).attr("toggle"));
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });
</script>
<style>

    .field-icon {
        float: right;
        margin-left: -25px;
        margin-top: -25px;
        position: relative;
        z-index: 2;
    }

    .box box-header {
        padding-top: 50px;
        margin: auto;
    }
</style>*@