﻿@model ExistingApplicantAccountActivationModel
@{
    ViewData["Title"] = "Existing Applicant Registration";
}
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <section class="content-header">
                <ol class="breadcrumb pull-right">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                </ol>
            </section>
            <h1 class="page-head-line"> <i class="fa fa-user"></i> Existing Applicant Registration </h1>
        </div>
    </div>
    <div class="box box-header">
        <div class="box-body">
            <form asp-action="ExistingApplicantRegistration">
                <div asp-validation-summary="All" class="text-danger"></div>
                <h4 class="alert alert-info">
                    Please enter your email address and identification number you registered with on FELTP
                </h4>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label"> Email Address </label>
                        <input asp-for="EmailAddress" class="form-control" />
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Enter Identification Number</label>
                        <input asp-for="IdentificationNumber" class="form-control" />
                        <span asp-validation-for="IdentificationNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <a href="/UserManagement/Register" class="pull-left">Back</a>
                        <input type="submit" value="Submit" class="btn btn-primary bg-purple pull-right" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>