﻿@model ForgotPasswordViewModel

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "SSP | Forgot Password";
}

<div class="login-form" style="padding-top:70px">
    <form asp-action="ForgotPassword">
        @Html.HiddenFor(x => x.UserName)
        <center><img src="~/images/emblem.png" /></center>
        <h3 class="text-center" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Forgot Your Password?</h3>
        <hr style="border-top: 1px solid lightgrey;" />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div>
            <h6 class="text-center" style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, 'Arial', sans-serif; color:black">
                <b>KFELTP</b> Self Service Portal <b>(SSP)</b>. <p></p>
            </h6>
        </div>

        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                <input asp-for="Email" type="email" class="form-control" placeholder="Email Address">
            </div>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Reset Password" class="btn bg-purple btn-primary btn-lg btn-block " />
        </div>
        <center><a href="/Applicant/RedirectProfile">Back to Login</a></center>
        <hr style="border-top: 1px solid lightgrey;" />
        <div class="clearfix pull-left">
            <h6>KFELTP - SSP </h6>
        </div>
        <div class="clearfix pull-right">
            <h6>Ver. 1.0.0</h6>
        </div>
    </form>
</div>




