﻿@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "Reset Password Result";
}


<div class="login-form" style="padding-top:70px">
    <form>
        <center><img src="~/images/emblem.png" /></center>
        <h3 class="text-center" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Forgot Your Password?</h3>
        <hr style="border-top: 1px solid lightgrey;" />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div>
            <h6 class="text-center" style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, 'Arial', sans-serif; color:black">
                <b>KFELTP</b> Self Service Portal <b>(SSP)</b>. <p></p>
            </h6>
        </div>
        <div class="alert alert-success">
            <center>
                <i class="fa fa-check fa fa-2x"></i>Password reset link has been sent to your E-mail address. <br />
                Please check your E-mail.
            </center>
        </div>
        <center><a href="/Applicant/RedirectProfile">Back to Login</a></center>
        <hr style="border-top: 1px solid lightgrey;" />
        <div class="clearfix pull-left">
            <h6>KFELTP - SSP </h6>
        </div>
        <div class="clearfix pull-right">
            <h6>Ver. 1.0.0</h6>
        </div>
    </form>
</div>
