﻿@model RegisterSspUserModel
@{
    ViewData["Title"] = "Account Registration";
}
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <section class="content-header">
                <ol class="breadcrumb pull-right">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                </ol>
            </section>
             <h1 class="page-head-line"> <i class="fa fa-user"></i> Applicant Registration Details </h1> 
        </div>
    </div>
    <div class="box box-header">
        <div class="box-body">
            <form asp-action="Register">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label"> Enter Username </label>
                        <input asp-for="UserName" class="form-control"  new { title = "Username should not have spaces"} />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label"> Email Address </label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label"> Enter Phone Number </label>
                        <input asp-for="PhoneNumber" placeholder="07XXXXXXXX" data-mask="0000000000" new { title = "Phone number should be a maximum of ten characters"}  class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Select Identification Type</label>
                        <select asp-for="IdentificationType" class="form-control selectpicker">
                            <option value="1">National ID</option>
                            <option value="2">Passport</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Enter Identification Number</label>
                        <input asp-for="IdentificationNumber" new { title = "Identification number should be maximum of ten charcters"}  maxlength="10" size="10" class="form-control" />
                        <span asp-validation-for="IdentificationNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-primary bg-purple pull-right" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>