﻿@model ResetPasswordViewModel


@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "SSP | Reset Password";
}

<div class="login-form" style="padding-top:70px">
    <form asp-action="ResetPassword">
        @Html.HiddenFor(x => x.UserName)
        @Html.HiddenFor(x => x.Code)
        @Html.HiddenFor(x => x.Email)

        <center><img src="~/images/emblem.png" /></center>
        <h3 class="text-center" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Reset Your Password</h3>
        <hr style="border-top: 1px solid lightgrey;" />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div>
            <h6 class="text-center h6-font-family">
                <b>KFELTP</b> Self Service Portal <b>(SSP)</b>. <p></p>
            </h6>
        </div>

        <div class="form-group">
            <label class="control-label">New Password </label>
            <input type="password" asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Confirm Password </label>
            <input type="password" asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Submit" class="btn bg-purple btn-primary btn-lg btn-block " />
        </div>

        <hr style="border-top: 1px solid lightgrey;" />
        <div class="clearfix pull-left">
            <h6>KFELTP - SSP </h6>
        </div>
        <div class="clearfix pull-right">
            <h6>Ver. 1.0.0</h6>
        </div>
    </form>
</div>




