﻿@model RegisterViewModel
@{
    ViewData["Title"] = "Add New User";
}

@section Scripts
    {
    <script type="text/javascript" src="~/js/feltp/user-management.js"></script>
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <section class="content-header">
                <ol class="breadcrumb pull-right">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="/UserManagement/ListUsers">Users List</a></li>
                    <li><a href="#">Add New Users</a></li>
                </ol>
            </section>
            <h1 class="page-head-line">Add New User </h1>
        </div>
    </div>
    <div class="box box-header">
        <div class="box-body">
            <form asp-action="AddNewUser">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label"> Email </label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label"></label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Select Roles</label>
                        <select asp-for="Roles" class="form-control" multiple></select>
                        <span asp-validation-for="Roles" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary bg-purple pull-right" />
                    </div>
                    <div class="footer pull-left">
                        <a asp-action="ListUsers">Back to List</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

