﻿@{
    ViewData["Title"] = "User | Dashboard";
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>User Management | Dashboard</title>

</head>
<body>
            <div class="row">
                <div class="col-md-12">
                    <h4 class="page-head-line">User Dashboard</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="dashboard-div-wrapper bk-clr-four">
                        <i class="fa fa-users dashboard-div-icon"></i>
                        <div class="progress progress-striped active">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                            </div>
                        </div>
                        <h5><a asp-area="" asp-controller="UserManagement" asp-action="ListUsers" style="color:white">Users</a></h5>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="dashboard-div-wrapper bk-clr-four">
                        <i class="fa fa-graduation-cap dashboard-div-icon"></i>
                        <div class="progress progress-striped active">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                            </div>

                        </div>
                        <h5><a asp-area="" asp-controller="RoleManagement" asp-action="RolesList" style="color:white">Roles</a></h5>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="dashboard-div-wrapper bk-clr-four">
                        <i class="glyphicon glyphicon-blackboard dashboard-div-icon"></i>
                        <div class="progress progress-striped active">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                            </div>

                        </div>
                        <h5><a asp-area="" asp-controller="RoleManagement" asp-action="PermissionsList" style="color:white">Permissions</a></h5>
                    </div>
                </div>
            </div>
</body>
</html>
