﻿@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "EmailChangeFailure";
}


<div class="login-form" style="padding-top:70px">
    <form asp-action="EmailChangeSuccess">
        <center><img src="~/images/emblem.png" /></center>
        <h3 class="text-center" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">E-mail change failure</h3>
        <hr style="border-top: 1px solid lightgrey;" />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div>

            <h6 class="text-center" style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, 'Arial', sans-serif; color:black">
                Kenya Field Epidemiology and Laboratory training Center<p></p>
            </h6>
            <center><h6 style="color:#337ab7">Restricted access.</h6></center>
        </div>
        <div class="alert alert-danger">
            <center>
                <i class="fa fa-times fa fa-2x"></i>  Your E-mail address has NOT changed. <br />
                Please contact your Administrator for assistance.
            </center>
        </div>
        <hr style="border-top: 1px solid lightgrey;" />
        <div class="clearfix pull-left">
            <h6>KFELTP - TAMS </h6>
        </div>
        <div class="clearfix pull-right">
            <h6>Ver. 1.0.0</h6>
        </div>
    </form>
</div>
