﻿@model ForgotPasswordViewModel

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "KFELTP | Forgot Password";
}

<div class="container-fluid" style="background-image: linear-gradient(269deg, #080527 108%, #203c5e 6%);">
    <div class="container" style="padding:1% 0 1% 0;">
        <div class="col">
            <a href="#" style="color:#fff; text-decoration:none;"> <b> FELTP TAMS </b> </a>
        </div>
    </div>
</div>



<div class="container-fluid" style="margin-top:1px;">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-12 col-sx-12 col-12">
                <div class="form-group">
                    <img src="~/images/emblem.png" class="img-fluid" alt="Responsive image" style="width:20%; height:auto;">
                </div>
                <div class="form-group">
                    <p style="font-family: Lato; font-size: 26px; font-weight: 300;">
                        Login and start
                        <br> managing your
                        <br> operations better!
                    </p>

                    <p> TAMS is a web based information system <br> whose main purpose is to support FELTP <br> training program Operations. </p>

                    <p style="margin-top:2px;"><i class="fas fa-check-circle fa-lg" style="color:#f36f2e;"></i> Program Courses Management </p>
                    <p style="margin-top:2px;"><i class="fas fa-check-circle fa-lg" style="color:#f36f2e;"></i> System Self Service Portal Management </p>
                    <p style="margin-top:2px;"><i class="fas fa-check-circle fa-lg" style="color:#f36f2e;"></i> Program Financial Administration </p>



                </div>
            </div>

            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12" style="background-image:url('/images/slanty.jpg');  background-repeat: no-repeat;">
                <form asp-action="ForgotPassword" class="col-md-8 col-sm-12 col-12" style="padding:2% 6% 2% 6%; margin-left:25%; color:#ccc; background-image: linear-gradient(218DEG, #000033, #00004d);">
					@Html.HiddenFor(x => x.UserName)
					<br>
					<h3 class="text-center" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Forgot Your Password?</h3>
					<hr style="border-top: 1px solid lightgrey;" />
					<div asp-validation-summary="All" style="color:#fc0313;"></div>
					<div>

						<h6 class="text-center" style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, 'Arial', sans-serif;">
							Kenya Field Epidemiology and Laboratory training Center<p></p>
						</h6>
						<center><h6 style="color:#337ab7">Restricted access.</h6></center>
					</div>

					<div class="form-group">
						<label for="Email">Enter Your Email</label>
						<div class="input-group">
							<input asp-for="Email" type="email" class="form-control" placeholder="Email Address">
						</div>
						<span asp-validation-for="Email" class="text-danger"></span>
					</div>

					<div class="form-group">
						<input type="submit" value="Reset Account" class="btn bg-purple btn-primary btn-lg btn-block " style="background-image: linear-gradient(266DEG, #fdb040, #ee2124);"/>
					</div>
					<center><a href="/Account/Login" style="color:#fdb040;">Back to Login</a></center>
					
					<br>
                    <p style="text-align:center; font-size:14px;"> By signing up you agree to our Terms of Service <br> and acknowledge our Privacy Policy.</p>
					<br>
					<div class="clearfix pull-left">
						<h6>KFELTP - TAMS </h6>
					</div>
					<div class="clearfix pull-right">
						<h6>Ver. 1.0.0</h6>
					</div>
					
					<br>
				</form>
            </div>
        </div>
    </div>
</div>



<div class="container-fluid" style="margin-top:1%;">
    <div class="container" style="padding:4px;">
        <a href="#" style="color:#080527; font-size:14px; text-decoration:none;"> <center><b> KFELTP - TAMS &nbsp &nbsp  Ver 1.0.0 </b></center> </a>
    </div>
</div>




