﻿@model string
<div class="modal-dialog" style="width: 400px;">
    <div class="modal-content">
        <div class="modal-header">
            <center>
                <h4 class="modal-title">
                    Activate User <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h4>
            </center>
        </div>
        <form asp-action="ReActivateUserAccount">
            <div class="modal-body">
                @Html.Hidden("UserName", Model)
                <center><h5>Are you sure you want to activate <strong>@Model ?</strong></h5></center>
            </div>
            <div class="modal-footer">
                <input type="submit" value="Activate" class="btn btn-primary pull-right" />
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            </div>
        </form>
    </div>
</div>