﻿@model UserManagement.ViewModels.UserDetailsModel
@{
    ViewData["Title"] = "User Details";
}
@section Scripts
    {
    <script src="~/js/feltp/user-management.js"></script>
}

<div class="row">
    <div class="col-md-12">
        <section class="content-header">
            <ol class="breadcrumb pull-right">
                <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="/UserManagement/ListUsers"><i class="fa fa-home"></i> Users List</a></li>
                <li><a href="#">User Details</a></li>
            </ol>
        </section>
        <h1 class="page-head-line">User Details </h1>
    </div>
</div>

<div class="row">
    <div class="col-md-9">
        <div class="box box-header" style="height: 150px;">
            <div class="box-body">
                <div class="col-md-12">
                    @if (Model == null)
                    {
                        <div>
                            User Details Not Found
                        </div>
                        return;

                    }
                     @Html.Hidden("UserId", Model.Id)
                     @Html.HiddenFor(x => x.UserName)
                     @Html.HiddenFor(model => model.Id)
                    <div class="col-md-6">
                        <div class="col-md-4">
                            <b>User Name</b>
                        </div>
                        <div class="col-md-8">
                            @Model.UserName
                        </div>
                        <div class="col-md-4">
                            <b> Email Address </b>
                        </div>
                        <div class="col-md-8">
                            @Model.EmailAddress
                        </div>
                        <div class="col-md-4">
                            <b>Date Created</b>
                        </div>
                        <div class="col-md-8">
                            @Model.CreatedDate
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="col-md-4">
                            <b>Status</b>
                        </div>
                        <div class="col-md-8">
                            @Model.strStatus
                        </div>
                        <div class="col-md-4">
                            <b>Created By</b>
                        </div>
                        <div class="col-md-8">
                            @Model.CreatedBy
                        </div>
                        <div class="col-md-4">
                            <b>Is Active</b>
                        </div>
                        <div class="col-md-8">
                            @Model.IsActive
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="box box-header" style="height: 150px;">
            <div class="box-body">
                <a class="edit-user-details-link btn btn-primary btn-md pull-left btn-sm" href="/UserManagement/_EditUserDetails?userName=@Model.UserName"
                   style="width:150px">
                    Edit Details
                </a><br />
                <hr style="margin-top:5px;margin-bottom:5px" />
                <a class="add-user-to-role-link btn btn-primary btn-md pull-left btn-sm" href="/RoleManagement/AddUserToRole?userId=@Model.Id"
                   style="width:150px">
                    Add Role
                </a><br />
                <hr style="margin-top:5px;margin-bottom:5px" />
                @if (Model.IsActive)
                {

                    <a class="deactivate-user-account btn btn-primary btn-md pull-left btn-sm" href="/UserManagement/DeactivateUser?userName=@Model.UserName"
                       style="width:150px">
                        Deactivate User
                    </a><br />
                }
                else
                {

                    <a class="reactivate-user-account btn btn-primary btn-md pull-left btn-sm" href="/UserManagement/ReactivateUser?userName=@Model.UserName"
                       style="width:150px">
                        Reactivate User
                    </a>
                }
                <hr style="margin-top:5px;margin-bottom:5px" />
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="box box-header">
            <div class="box-header with-border">
                <h3 class="box-title">User Roles</h3>
            </div>
            <div class="box-body">
                <table id="user-roles-list" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
                <a asp-action="ListUsers" class="pull-right">Back to List</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="role-operations-modal" tabindex="-1" role="dialog" aria-labelledby="Role Operations" aria-hidden="true" data-backdrop="static">
    <div id="role-operations-container">
    </div>
</div>
<div class="modal fade" id="edit-user-details-modal" tabindex="-1" role="dialog" aria-labelledby="Edit User Details" aria-hidden="true" data-backdrop="static">
    <div id="edit-user-details-container">
    </div>
</div>
<div class="modal fade" id="deactivate-user-modal" tabindex="-1" role="dialog" aria-labelledby="Deactivate User" aria-hidden="true" data-backdrop="static">
    <div id="deactivate-user-container">
    </div>
</div>
<div class="modal fade" id="activate-user-modal" tabindex="-1" role="dialog" aria-labelledby="Activate User" aria-hidden="true" data-backdrop="static">
    <div id="activate-user-container">
    </div>
</div>
<div class="modal fade" id="deactivate-userrole-modal" tabindex="-1" role="dialog" aria-labelledby="Activate User" aria-hidden="true" data-backdrop="static">
    <div id="deactivate-userrole-container">
    </div>
</div>

