﻿@inject IConfiguration Configuration;
@{
    var feltpWebUrl = Configuration.GetSection("Endpoints")["FeltpWeb-Url"];
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>@ViewData["Title"] - FELTP</title>
    <environment include="Development,Production">

        <link href="~/css/dashboard/assets/css/bootstrap.css" rel="stylesheet" />
        <link href="~/css/dashboard/assets/css/font-awesome.css" rel="stylesheet" />
        <link href="~/css/dashboard/assets/css/style.css" rel="stylesheet" />
        <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
        <link href="~/lib/bootstrap/dist/css/bootstrap-datetimepicker-standalone.css" rel="stylesheet" />
        <link href="~/lib/bootstrap/dist/css/bootstrap-datetimepicker.css" rel="stylesheet" />
        <link href="~/css/dropdown.css" rel="stylesheet" />
        <link href="~/css/ionicons.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/AdminLTE.min.css">
        <link href="~/css/_all-skins.min.css" rel="stylesheet" />
        <link href="~/css/buttons.dataTables.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/dataTables.bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/buttons.dataTables.min.css" />
        <link rel="stylesheet" href="~/css/select.dataTables.min.css" />

        <link rel="stylesheet" href="~/css/bootstrap-select.min.css" />
        <link href="~/css/jquery-ui.min.css" rel="stylesheet" />
        <link href="https://kendo.cdn.telerik.com/2015.3.930/styles/kendo.common.min.css" rel="stylesheet" />
        <link href="https://kendo.cdn.telerik.com/2015.3.930/styles/kendo.blueopal.min.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    </environment>


    <style>
        #reportViewer1 {
            position: absolute;
            left: 5px;
            right: 5px;
            top: 5px;
            bottom: 5px;
            overflow: hidden;
            font-family: Verdana, Arial;
        }
    </style>
</head>

<body class="hold-transition skin-blue-light fixed sidebar-mini">
    <header>
        <div class="container" style="width:1300px">
            <div class="row">
                <div class="col-md-12">
                    <a href="@feltpWebUrl" style="font-size:large;color:white">
                        <span class="glyphicon glyphicon-log-out"></span>
                        Back to Dashboard
                    </a> &nbsp;&nbsp;&nbsp;
                    <img src="/images/user.png" class="user-image" alt="User Image" height="25px" width="25px">
                    &nbsp;&nbsp;&nbsp; @User.Identity.Name &nbsp;&nbsp;&nbsp;&nbsp;
                    <strong><a href="/Account/LogOut"><i class="fa fa-power-off" style="font-size:large;color:white"></i></a></strong>
                </div>
            </div>
        </div>
    </header>
    <div class="navbar navbar-inverse set-radius-zero">
        <div class="container">
            <div>
                <h3 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color:white">
                    &nbsp;<i class="fa fa-th-large fa-1x" color:white"></i>&nbsp;<strong>KFELTP</strong> Tracking and Activity Monitoring System (TAMS) - Reports
                </h3>
            </div>
        </div>
    </div>
    <section class="menu-section">
        <div class="container" style="width:1300px">
            <div class="row">
                <div class="col-md-12">
                    <div class="navbar-collapse collapse ">
                        <ul id="menu-top" class="nav navbar-nav navbar-right">
                            <li><a href="/Home/Index"><i class="fa fa-home" style="font-size:large"></i> Dashboard</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="wrapper">
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" style="padding-left:20px;padding-right:20px">
            <aside class="main-sidebar">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <ul class="sidebar-menu tree" data-widget="tree">
                        <li class="treeview">
                            <a href="#" style="color:black">
                                <i class="fa fa-files-o"></i>
                                <span>Program Management</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a asp-area="" asp-controller="ProgramReports" asp-action="Programs" style="color:black"><i class="fa fa-circle-o"></i>  Programs Report</a></li>
                                <li><a asp-area="" asp-controller="ProgramReports" asp-action="ProgramCourses" style="color:black"><i class="fa fa-circle-o"></i>  Program Courses</a></li>
                            </ul>
                        </li>

                        <li class="treeview">
                            <a href="#" style="color:black">
                                <i class="fa fa-user"></i>
                                <span>Resident Management</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a asp-area="" asp-controller="ResidentReports" asp-action="Residents" style="color:black"><i class="fa fa-circle-o"></i> Residents Report</a></li>
                                <li><a asp-area="" asp-controller="ResidentReports" asp-action="ResidentPerformance" style="color:black"><i class="fa fa-circle-o"></i>  Performance Report</a></li>
                                <li><a asp-area="" asp-controller="ResidentReports" asp-action="GraduationStatusReport" style="color:black"><i class="fa fa-circle-o"></i>  Graduation Status Report</a></li>
                                <li><a asp-area="" asp-controller="ResidentReports" asp-action="GraduationDetailsReport" style="color:black"><i class="fa fa-circle-o"></i>  Graduation Details Report</a></li>
                                <li><a asp-area="" asp-controller="ResidentReports" asp-action="ResidentDeliverableSubmissionReport" style="color:black"><i class="fa fa-circle-o"></i>  Deliverable Report</a></li>
                                <li><a asp-area="" asp-controller="ResidentReports" asp-action="ResidentThesisDefenceReport" style="color:black"><i class="fa fa-circle-o"></i>  Thesis Defence Report</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#" style="color:black">
                                <i class="fa fa-files-o"></i>
                                <span>Faculty Management</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a asp-area="" asp-controller="FacultyReports" asp-action="TrainerSchedule" style="color:black"><i class="fa fa-circle-o"></i>  Trainer Schedule Report</a></li>
                            </ul>
                        </li>

                    </ul>
                </section>
            </aside>
            @RenderBody()
        </div>
        <footer class="main-footer">
            <strong>Powered by<a href="#"> Palladium</a>. Make It Possible.</strong>
        </footer>
        <div class="control-sidebar-bg"></div>
    </div>


    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous">
    </script>
    <script src="@Url.Content("~/ReportViewer/js/telerikReportViewer.kendo-12.0.18.416.min.js")"></script>
    <script src="@Url.Content("~/ReportViewer/js/telerikReportViewer-12.0.18.416.js")"></script>
    <script src="~/js/Theme/jquery.slimscroll.min.js"></script>
    <script src="~/js/Theme/adminlte.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>

<style>

    td.details-control {
        background: url('/images/open.png')no-repeat center center;
        cursor: pointer;
    }

    tr.shown td.details-control {
        background: url('/images/minus.png') no-repeat center center;
    }
</style>


