﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FELTP SSP</title>
    <environment include="Development,Production">

        <link href="~/css/dashboard/assets/css/bootstrap.css" rel="stylesheet" />
        <link href="~/css/dashboard/assets/css/font-awesome.css" rel="stylesheet" />
        <link href="~/css/dashboard/assets/css/style.css" rel="stylesheet" />
        <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
        <link href="~/lib/bootstrap/dist/css/bootstrap-datetimepicker-standalone.css" rel="stylesheet" />
        <link href="~/lib/bootstrap/dist/css/bootstrap-datetimepicker.css" rel="stylesheet" />
        <link href="~/css/dropdown.css" rel="stylesheet" />
        <link href="~/css/ionicons.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/AdminLTE.min.css">
        <link href="~/css/_all-skins.min.css" rel="stylesheet" />
        <link href="~/css/buttons.dataTables.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/dataTables.bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/buttons.dataTables.min.css" />
        <link rel="stylesheet" href="~/css/select.dataTables.min.css" />
        <link rel="stylesheet" href="~/css/bootstrap-select.min.css" />
        <link href="~/css/jquery-ui.min.css" rel="stylesheet" />
        <link href="~/css/offcanvas.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    </environment>
</head>

<body class="hold-transition skin-blue-light fixed sidebar-mini">
    @{
        string userName = null;
        string applicantId = null;
        string residentId = null;
        if (User.Identity.IsAuthenticated)
        {
            userName = User.Identity.Name;
            applicantId = User.FindFirst("ApplicantId")?.Value;
            residentId= User.FindFirst("ResidentId")?.Value;
        }

    }

	
	<div class="navbar navbar-inverse set-radius-zero">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-8">
					<h3 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color:white">
						&nbsp;<i class="fa fa-th-large fa-1x" color:white"></i>&nbsp; <strong>KFELTP</strong> SELF SERVICE PORTAL
					</h3>
				</div>
				<div class="col-md-4 clearfix" style="margin-top:1.5%;">
				
					@if (!String.IsNullOrEmpty(userName))
						{

							<div class="col-md-12" style="text-align:right;">
								<img src="/images/user.png" class="user-image" alt="User Image" height="25px" width="25px">
								<a style="color:white" href="/Applicant/RedirectProfile"> &nbsp;&nbsp;&nbsp;@User.Identity.Name &nbsp;&nbsp;&nbsp;&nbsp;</a>
								<strong><a href="/UserManagement/SignOut"><i class="fa fa-power-off" style="font-size:large;color:white"></i></a></strong>
							</div>
						}
						else
						{

							<div class="col-md-12" style="text-align:right;">
								<a href="/UserManagement/Register" style="color:white">
									<i class="fa fa-user"></i> <span><text>Sign Up</text></span>
									<span class="pull-right">
										<i class="fa pull-right"></i>
									</span>
								</a>
								|
								<a href="/Applicant/RedirectProfile" style="color:white">
									<i class="fa fa-arrow-right"></i> <span>Log In</span>
									<span class="pull-right">
										<i class="pull-right"></i>
									</span>
								</a>
							</div>
						}
				</div>
			</div>
		</div>
	</div>
				
				
   
    <section class="menu-section">
        <div class="container" style="width:1300px">
            <div class="row">
                <div class="col-md-12">
                    <div class="navbar-collapse collapse ">
                        <ul id="menu-top" class="nav navbar-nav navbar-right">
                            <li><a href="/Home/Index"><i class="fa fa-home" style="font-size:large"></i> Dashboard</a></li>
                         
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="wrapper">
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" style="padding-left:20px;padding-right:20px">
            <aside class="main-sidebar">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <ul class="sidebar-menu tree" data-widget="tree">
                        <li class="treeview">
                            <a href="/Home/Index" style="color:black" onclick="location.replace('/Home/Index'),'_top'">
                                <i class="fa fa-bullhorn"></i> <span> Advertised Program Offers </span>
                            </a>
                            @if (!String.IsNullOrEmpty(applicantId))
                            {
                                <a href="/ProgramOffer/ProgramApplications" onclick="location.replace('/ProgramOffer/ProgramApplications'),'_top'" style="color:black">
                                    <i class="fa fa-archive"></i> <span>Program Offer Applications</span>
                                </a>
                                <a href="/Course/ViewCourseInformation" 
                                   onclick="location.replace('/Course/ViewCourseInformation'),'_top'" style="color:black">
                                    <i class="fa fa-book"></i> <span>View Course Details</span>
                                </a>
                                <a href="/FieldPlacement/ResidentFieldPlacementSites"  onclick="location.replace('/FieldPlacement/ResidentFieldPlacementSites'),'_top'" style="color:black">
                                    <i class="fa fa-home"></i> <span>Field Placement Sites</span>
                                </a>
               
                            }

                        </li>
                    </ul>
                </section>
                <!-- /.sidebar -->
            </aside>

            @RenderBody()
        </div>
        <footer class="main-footer">
            <h6>KFELTP - SSP Ver 1.0.0</h6>
        </footer>
        <div class="control-sidebar-bg"></div>


        <!-- /.content-wrapper -->

    </div>

    <script src="~/js/Theme/demo.js"></script>
    <script src="~/lib/bootstrap/dist/js/jquery-1.12.4.js"></script>
    <script src="~/js/Theme/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/moment.js"></script>
    <script src="~/js/Theme/bootstrap.min.js"></script>
    <script src="~/js/Theme/jquery.dataTables.min.js"></script>
    <script src="~/js/Theme/jquery.slimscroll.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/jquery.mask.min.js"></script>
    <script src="~/js/Theme/fastclick.js"></script>
    <script src="~/js/Theme/adminlte.min.js"></script>
    <script src="~/lib/jquery/jquery-ui.js"></script>
    <script src="~/lib/jquery/jquery-ui.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/validate.js"></script>
    <script src="~/lib/bootstrap/dist/js/dataTables.bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/buttons.flash.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/jszip.min.js"></script>
    <script src="~/js/Theme/pdfmake.min.js"></script>
    <script src="~/js/Theme/vfs_fonts.js"></script>
    <script src="~/lib/bootstrap/dist/js/buttons.html5.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/buttons.print.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/dataTables.select.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap-select.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap-datetimepicker.js"></script>
    <script src="~/js/Theme/offcanvas.js"></script>
    <script>
        $(document).on('click', 'a', function (e) {
            if ($(this).parent().attr('class').includes('paginationLI')
                && !$(this).parent().attr('class').includes('disabled')) {
                e.preventDefault();
                var self = this;
                $.ajax({
                    url: this.href,
                    type: 'GET',
                    success: function (data) {
                        $(self).closest('form').replaceWith(data);
                    },
                    error: function () {

                    }
                });
            }
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>

<style>

    td.details-control {
        background: url('/images/open.png')no-repeat center center;
        cursor: pointer;
    }

    tr.shown td.details-control {
        background: url('/images/minus.png') no-repeat center center;
    }
</style>


