﻿@model LogInViewModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";

}
<div class="login-box">
    <div class="login-logo">
        <a href="../../index2.html"><b>FELTP</b></a>
    </div>

    <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>
        <form class="omb_loginForm" asp-action="LogIn" asp-controller="Account" autocomplete="off" method="POST">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input asp-for="UserNameOrEmail" type="text" class="form-control" placeholder="Email">
                <span asp-validation-for="UserNameOrEmail" class="text-danger"></span>
            </div>
            <span class="help-block"></span>

            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input asp-for="Password" type="password" class="form-control" placeholder="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <span class="help-block"></span>          
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary btn-block btn-flat bg-purple">Sign In</button>
                </div>
            </div>
        </form>
   </div>
</div>



