﻿@model ApplicantViewModel


@if (Model == default(ApplicantViewModel) || Model.Person.BioDataInfo == null)
{
    <div class="row">
        <div class="row">
            <div class="col-md-9">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        Details Not Found
                    </div>
                </div>
            </div>
        </div>
    </div>
    return;
}

<div class="modal fade" id="view-applicant-offer-modal" tabindex="-1" role="dialog" aria-labelledby="Program Application Details" aria-hidden="true" data-backdrop="static">
    <div id="view-applicant-offer-container">
    </div>
</div>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <section class="content-header">
                <ol class="breadcrumb pull-right">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="#">Applicant Details</a></li>
                </ol>
            </section>
            <h1 class="page-head-line">Residents Details </h1>
        </div>
    </div>
    <div class="row">
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(x => x.ResidentId)
        @Html.Hidden("PersonId", Model.Person.BioDataInfo.Id)
        <div class="row">
            <div class="col-md-9">
                <div class="box box-header">
                    <div class="box-header with-border">
                        <h3 class="box-title">General Information</h3>
                    </div>
                    <div class="box-body">
                        @Html.Hidden("PersonId", Model.Person.BioDataInfo.Id)
                        @Html.Hidden("ApplicantId", Model.Id)
                        @Html.Hidden("CadreId", Model.Person.BioDataInfo.CadreId)
                        <strong><i class="fa fa-file-text-o margin-r-5" style="color:#2196F3"></i>Bio Data</strong>
                        <div class="col-md-12" style="border-bottom: 1px solid #d2d6de;">
                            <div class="col-md-6" style="margin-bottom: 1em;">
                                <div class="col-md-6">
                                    <b> First Name</b>
                                </div>
                                <div class="col-md-6">
                                    @Html.DisplayFor(model => model.Person.BioDataInfo.FirstName)
                                </div>

                                <div class="col-md-6">
                                    <b>Last Name</b>
                                </div>
                                <div class="col-md-6">
                                    @Html.DisplayFor(model => model.Person.BioDataInfo.LastName)
                                </div>
                                <div class="col-md-6">
                                    <b>Other Name</b>
                                </div>
                                <div class="col-md-6">
                                    @if (Model.Person.BioDataInfo.OtherName == null)
                                    {
                                        <div class="col-md-6" style="padding-right:1px;padding-left:1px">
                                            Not Found
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-md-6" style="padding-right:1px;padding-left:1px">
                                            @Html.DisplayFor(model => model.Person.BioDataInfo.OtherName)
                                        </div>
                                    }
                                </div>
                                <div class="col-md-6">
                                    <b>Date Created</b>
                                </div>
                                <div class="col-md-6">
                                    @Html.DisplayFor(model => model.DateCreated)
                                </div>
                                @if (Model.IsResident)
                                {
                                    @if (!Model.IsApplicantPartial)
                                    {

                                        <div class="col-md-6">
                                            <b>Registration Number</b>
                                        </div>
                                        <div class="col-md-6">
                                            @Model.RegistrationNumber
                                        </div>

                                        <div class="col-md-6">
                                            <b>Evaluated By</b>
                                        </div>
                                        <div class="col-md-6">
                                            @Model.RegisteredBy
                                        </div>
                                    }


                                }


                            </div>
                            <div class="col-md-6">
                                <div class="col-md-6">
                                    <b>ID/Passport Number </b>
                                </div>
                                <div class="col-md-6">
                                    @Html.DisplayFor(model => model.Person.BioDataInfo.IdentificationNumber)

                                </div>
                                <div class="col-md-6">
                                    <b>Gender</b>
                                </div>
                                <div class="col-md-6">
                                    @Html.DisplayFor(model => model.Person.BioDataInfo.Gender)
                                </div>
                                <div class="col-md-6">
                                    <b>Date of Birth</b>
                                </div>
                                <div class="col-md-6">
                                    @Model.Person.BioDataInfo.DateOfBirth.ToShortDateString()
                                </div>
                                <div class="col-md-6">
                                    <b>Created By</b>
                                </div>
                                <div class="col-md-6">
                                    @Model.CreatedBy
                                </div>
                                @if (Model.IsResident)
                                {
                                    @if (!Model.IsApplicantPartial)
                                    {

                                        <div class="col-md-6">
                                            <b>Date Evaluated</b>
                                        </div>
                                        <div class="col-md-6">
                                            @Model.DateRegistered
                                        </div>
                                    }


                                }


                            </div>
                        </div>

                        <hr />
                        <strong><i class="fa fa-envelope margin-r-5" style="color:#2196F3"></i>Adress Information</strong>
                        <div class="col-md-12" style="border-bottom: 1px solid #d2d6de;">
                            <div class="col-md-6" style="margin-bottom: 1em;">
                                <div class="col-md-6">
                                    <b>Country</b>
                                </div>
                                <div class="col-md-6">
                                    @Html.DisplayFor(model => model.Person.AddressInfo.Country)
                                </div>
                                <div class="col-md-6">
                                    <b>County</b>
                                </div>
                                <div class="col-md-6">
                                    @Html.DisplayFor(model => model.Person.AddressInfo.County)
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="col-md-6">
                                    <b>Sub-County</b>
                                </div>
                                @if (Model.Person.AddressInfo.SubCounty == null)
                                {
                                    <div class="col-md-6" style="padding-right:5px;padding-left:5px">
                                        Not Found
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-6" style="padding-right:15px;padding-left:15px">
                                        @Html.DisplayFor(model => model.Person.AddressInfo.SubCounty)
                                    </div>
                                }
                                <div class="col-md-6">
                                    <b>Postal Address</b>
                                </div>
                                <div class="col-md-6">
                                    @Html.DisplayFor(model => model.Person.AddressInfo.PostalAddress)
                                </div>
                            </div>

                        </div>
                        <hr>
                        <strong><i class="fa fa-phone margin-r-5" style="color:#2196F3"></i> Contact Information</strong>
                        <div class="col-md-12" style="border-bottom: 1px solid #d2d6de;">
                            <div class="col-md-6" style="margin-bottom: 1em;">
                                <div class="col-md-6">
                                    <b>Primary Phone No.</b>
                                </div>
                                <div class="col-md-6">
                                    @Html.DisplayFor(model => model.Person.ContactInfo.PrimaryMobileNumber)
                                </div>
                                <div class="col-md-6">
                                    <b>Alternate Phone No.</b>
                                </div>
                                <div class="col-md-6">
                                    @Html.DisplayFor(model => model.Person.ContactInfo.AlternateMobileNumber)
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-6">
                                    <b>Email</b>
                                </div>
                                <div class="col-md-6">
                                    @Html.DisplayFor(model => model.Person.ContactInfo.EmailAddress)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box box-header" style="height: 410px;">
                    <div class="box-header with-border">
                        <h3 class="box-title">Actions</h3>
                    </div>
                    <div class="box-body">
                        <a asp-area="" asp-controller="ResidentManagement" asp-action="ApplicantList" class="btn btn-primary btn-md pull-left btn-sm" style="width:150px">
                            Back To List
                        </a><br />
                        <hr style="margin-top:5px;margin-bottom:5px" />
                        <button type="button" class="btn btn-primary btn-md pull-left btn-sm" style="width:150px" data-toggle="modal" data-url="@Url.Action("_EditApplicantBioData","ResidentManagement",new { applicantId=Model.Id, programOfferId=Model.ProgramOfferId})" id="btnUpdateApplicantBioData">
                            Edit Bio Data
                        </button><br />
                        <hr style="margin-top:5px;margin-bottom:5px" />
                        <button type="button" class="btn btn-primary btn-md pull-left btn-sm" style="width:150px" data-toggle="modal" data-url="@Url.Action("_EditApplicantContactInfo","ResidentManagement",new { personId=Model.Person.BioDataInfo.Id, applicantId=Model.Id, programOfferId=Model.ProgramOfferId})" id="btnUpdateApplicantContactInfo">
                            Edit Contact Info
                        </button><br />
                        <hr style="margin-top:5px;margin-bottom:5px" />
                        <a class="add-new-applicant-application  btn btn-primary btn-md pull-left btn-sm"
                           href="/ResidentManagement/AddNewProgramApplication?Id=@Model.Id&residentId=@Model.ResidentId" style="width:150px">
                            Add New Application
                        </a><br />
                        <hr style="margin-top:5px;margin-bottom:5px" />
                        @if (Model.IsResident)
                        {

                            if (Model.IsApplicantPartial)
                            {
                                <a asp-area="" asp-controller="ResidentManagement" asp-action="ResidentDetails" asp-route-applicantId="@Model.Id"
                                   class="btn btn-primary btn-md pull-left btn-sm" style="width:150px" asp-route-offerId="@Model.ProgramOfferId">
                                    Go To Resident
                                </a><br />
                                <hr style="margin-top:5px;margin-bottom:5px" />


                            }
                            else
                            {

                                if (Model.IsEnrolled)
                                {

                                    @if (Model.CourseWorkGenerated)
                                    {

                                        <a asp-area="" asp-controller="ResidentManagement" asp-action="CourseDetails" asp-route-id="@Model.ResidentId"
                                           class="btn btn-primary btn-md pull-left btn-sm" style="width:150px" asp-route-offerId="@Model.ProgramOfferId" asp-route-enrollmentId="@Model.ProgramEnrollmentId">
                                            View Course Details
                                        </a><br />
                                    }
                                    else
                                    {

                                        <button type="button" class="btn btn-primary btn-md pull-left btn-sm" style="width:150px" data-toggle="modal" data-url="@Url.Action("GenerateResidentCourseWork","ResidentManagement",new { Id=Model.ResidentId, offerId=Model.ProgramOfferId,enrollmentId=Model.ProgramEnrollmentId})" id="generate-resident-coursework">
                                            Generate Coursework
                                        </button><br />
                                    }

                                    <hr style="margin-top:5px;margin-bottom:5px" />
                                }
                                else
                                {
                                    <a class="enroll-resident btn btn-primary btn-md pull-left btn-sm" style="width:150px"
                                       href="/ResidentManagement/EnrollResident?Id=@Model.Id&residentId=@Model.ResidentId&offerId=@Model.ProgramOfferId">
                                        Enroll Resident
                                    </a><br />

                                }

                            }

                            <a class="enroll-resident btn btn-primary btn-md pull-left btn-sm" style="width:150px"
                                                                  href="/ResidentManagement/EnrollResident?Id=@Model.Id&residentId=@Model.ResidentId&offerId=@Model.ProgramOfferId">
                                                                   Deactivate
                                                               </a><br />
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-header">
                    <div class="box box-solid">
                        <div class="box-primary with-border">
                        </div>
                        <div class="box-body">
                            <div class="box-group" id="accordion">
                                <div class="panel box box-primary">
                                    <div class="box-header with-border bg-purple">
                                        <h6 class="box-title" style="font-size:14px">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="" aria-expanded="false" style="color:white">
                                                Academic Details
                                            </a>
                                        </h6>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in" aria-expanded="false" style="">
                                        <div class="box-body">
                                            <table id="academic-history-list-table" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel box box-primary">
                                    <div class="box-header with-border bg-purple">
                                        <h5 class="box-title" style="font-size:14px">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed" aria-expanded="false" style="color:white">
                                                Employment Details
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false">
                                        <div class="box-body">
                                            <table id="employment-history-list-table" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel box box-primary">
                                    <div class="box-header with-border bg-purple">
                                        <h5 class="box-title" style="font-size:14px">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" class="collapsed" style="color:white">
                                                Program Applications
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseFour" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                        <div class="box-body">
                                            <div class="col-xs-12 table-responsive">
                                                <table id="application-history-list-table" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel box box-primary">
                                    <div class="box-header with-border bg-purple">
                                        <h5 class="box-title" style="font-size:14px">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" class="collapsed" style="color:white">
                                                Course History
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseFive" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                        <div class="box-body">
                                            <div class="col-xs-12 table-responsive">
                                                <table id="resident-course-history-list-table" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="updateApplicantBioDataModal" tabindex="-1" role="dialog" aria-labelledby="Update Applicant Modal" aria-hidden="true" data-backdrop="static">
    <div id="updateApplicantBioDataContainer">
    </div>
</div>
<div class="modal fade" id="updateApplicantContactInfoModal" tabindex="-1" role="dialog" aria-labelledby="Update Applicant Modal" aria-hidden="true" data-backdrop="static">
    <div id="updateApplicantContactInfoContainer">
    </div>
</div>

<div class="modal fade" id="generate-resident-coursework-modal" tabindex="-1" role="dialog" aria-labelledby="Generate Course Work" aria-hidden="true" data-backdrop="static">
    <div id="generate-resident-coursework-container">
    </div>
</div>

<div class="modal fade" id="add-program-application-modal" tabindex="-1" role="dialog" aria-labelledby="Register Existing Applicant" aria-hidden="true" data-backdrop="static">
    <div id="add-program-application-container">
    </div>
</div>

<div class="modal fade" id="transition-applicant-modal" tabindex="-1" role="dialog" aria-labelledby="Transition Applicant" aria-hidden="true" data-backdrop="static">
    <div id="transition-applicant-container">
    </div>
</div>

<div class="modal fade" id="enroll-resident-modal" tabindex="-1" role="dialog" aria-labelledby="Enroll Resident" aria-hidden="true" data-backdrop="static">
    <div id="enroll-resident-container">
    </div>
</div>