﻿@model UpdateApplicantBioDataCommand

@{
    ViewData["Title"] = "Update Applicant Bio Data";
}

@using (Html.BeginForm("_EditApplicantBioData", "ResidentManagement", FormMethod.Post, new { id = "myForm", enctype = "multipart/form-data" }))
{

    @Html.ValidationSummary(true)
    <div class="modal-dialog" style="width:1000px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Update Applicant Bio Data</h4>
            </div>
            
            <div class="modal-body">
                <form asp-action="_EditApplicantBioData" asp-antiforgery="true">
                    @Html.HiddenFor(x => x.UpdatePersonBioData.BioDataInfo.Id)
                    @Html.HiddenFor(x => x.ApplicantId)
                    @Html.HiddenFor( x=> x.ProgramOfferId)
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        @Html.Hidden("PersonCadreId", Model.UpdatePersonBioData.BioDataInfo.CadreId)
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">First Name </label>
                                <input asp-for="UpdatePersonBioData.BioDataInfo.FirstName" class="form-control" required="required" placeholder="Enter First Name" />
                                <span asp-validation-for="UpdatePersonBioData.BioDataInfo.FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Last Name </label>
                                <input asp-for="UpdatePersonBioData.BioDataInfo.LastName" class="form-control" required="required" placeholder="Enter Last Name" />
                                <span asp-validation-for="UpdatePersonBioData.BioDataInfo.LastName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Other Name </label>
                                <input asp-for="UpdatePersonBioData.BioDataInfo.OtherName" class="form-control" placeholder="Enter Other Name" />
                            </div>

                            <div class="form-group">
                                <label class="control-label">Select Cadre </label>
                                <select class="form-control selectpicker" asp-items="Model.UpdatePersonBioData.Cadres" asp-for="UpdatePersonBioData.BioDataInfo.CadreId"></select>
                                <span asp-validation-for="UpdatePersonBioData.BioDataInfo.CadreId" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Identification Type </label>
                                <select class="form-control selectpicker" asp-for="UpdatePersonBioData.BioDataInfo.IdentificationType" asp-items="@Html.GetEnumSelectList(typeof(IdentificationType))">
                                    <option selected="selected" value="">Please select</option>
                                </select>
                                <span asp-validation-for="UpdatePersonBioData.BioDataInfo.IdentificationType" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Identification Number </label>
                                <input asp-for="UpdatePersonBioData.BioDataInfo.IdentificationNumber" class="form-control" required="required" placeholder="Enter ID/Passport No." />
                                <span asp-validation-for="UpdatePersonBioData.BioDataInfo.IdentificationNumber" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Gender </label>
                                <select class="form-control selectpicker" asp-for="UpdatePersonBioData.BioDataInfo.Gender" asp-items="@Html.GetEnumSelectList(typeof(Gender))">
                                    <option selected="selected" value="">Please select</option>
                                </select>
                                <span asp-validation-for="UpdatePersonBioData.BioDataInfo.Gender" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Date of Birth</label>
                                <div class='input-group date' id='DateOfBirth'>
                                    <input type='text' class="form-control" asp-for="UpdatePersonBioData.BioDataInfo.StrDateOfBirth" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            
                            <script type="text/javascript">
                                $(function () {
                                    $('#DateOfBirth').datetimepicker({
                                    format: 'DD/MM/YYYY'
                                   });
                              });
                            </script>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn bg-purple" value="Save" />
                    </div>
                </div>
            </div>


        </div>
    </div>
}
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

@section Scripts {


    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}