﻿@model AddNewProgramOfferApplicationCommand
@{
    ViewData["Title"] = "Add New Program Application";
}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Add New Program Application</h4>
        </div>
        <form id="add-program-application-form" method="post" action="/ResidentManagement/AddNewProgramApplication"
              enctype="multipart/form-data">
            <div class="modal-body">
                @if (!Model.IsValid)
                {
                    <div class="alert alert-info">
                        @Model.Message
                    </div>
                    return;
                }

                @Html.HiddenFor(x => x.ApplicantId)
                @Html.HiddenFor(x => x.ResidentId)
                @Html.HiddenFor(x=>x.IsValid)
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">Select Program</label>
                    <select asp-for="ProgramId" asp-items="@Model.ProgramSelectItem" data-live-search="true"
                            class="form-control selectpicker">
                        <option value="0">Select Program</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="control-label">Select Program Offer </label>
                    <select class="form-control selectpicker" asp-for="ProgramOfferId" data-live-search="true">
                        <option value="0">Select Offer</option>
                    </select>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="ApprovedByCounty" /> @Html.DisplayName("Approved By County")
                        </label>
                    </div>
                </div>
                <div class="form-group" id="personal-statement-div">
                    <label class="control-label">
                        Personal Statement File
                    </label>
                    <input type="file" asp-for="StatementFileCommand.StatementFile" class="form-control" />
                </div>


            </div>
        </form>
        <div class="modal-footer">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    @if (Model.IsValid)
                    {

                        <input type="submit" id="add-program-offer-btn" value="Save" class="btn bg-purple"/> 

                    }
                </div>
            </div>
        </div>

    </div>
</div>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
@section Scripts
    {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

