﻿@model AddResidentCourseAttendanceCommand

@{
    ViewData["Title"] = "Resident Course Attendance";
}

@section Scripts{
    <script src="~/js/feltp/program-dropdown.js"></script>
    <script src="~/js/feltp/program-offer-resident.js"></script>
}

  <section class="content">
        <div class="row">
            <div class="col-md-12">
                <section class="content-header">
                    <ol class="breadcrumb pull-right">
                        <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                        <li><a href="#"><u>Course Attendance</u></a></li>
                    </ol>
                </section>
                <h1 class="page-head-line">Mark Course Attendance</h1>
            </div>
        </div>
        <div class="box box-header">
            <div class="box-body">
                <form method="post" asp-action="AddResidentCourseAttendance" asp-controller="ResidentManagement" id="resident-attendance-frm">
                    @Html.Hidden("Status")
                    <div class="row" style="padding-bottom: 30px;">
                        <div class="form-group">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Select Program</label>
                                    <select asp-for="ProgramId" asp-items="@Model.Programs" data-live-search="true"
                                            class="form-control selectpicker">
                                        <option selected="selected" value="0">Select Program</option>
                                    </select>
                                    <span asp-validation-for="ProgramId" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Select Program Offer</label>
                                    <select asp-for="ProgramOfferId" class="form-control selectpicker" data-live-search="true">
                                        <option value="0">Select Offer</option>
                                    </select>
                                    <span asp-validation-for="ProgramOfferId" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Select Semester Schedule</label>
                                    <select asp-for="SemesterScheduleId" class="form-control selectpicker"
                                            asp-items="Model.SemeseterScheduleSelectList"
                                            data-live-search="true">
                                        <option value="0">Select</option>
                                    </select>
                                    <span asp-validation-for="SemesterScheduleId" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Select Course Schedule</label>
                                    <select asp-for="CourseScheduleId" class="form-control selectpicker"
                                            data-live-search="true">
                                        <option value="0">Select</option>
                                    </select>
                                    <span asp-validation-for="CourseScheduleId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Select Topic</label>
                                    <select asp-for="UnitId" class="form-control selectpicker" data-live-search="true">
                                        <option value="0">Select Topic</option>
                                    </select>
                                    <span asp-validation-for="UnitId" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Select Attendance Date</label>
                                    <select asp-for="StrAttendanceDate" data-live-search="true" class="form-control selectpicker">
                                        <option value="0">Select Date</option>
                                    </select>
                                    <span asp-validation-for="StrAttendanceDate" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Select Faculty</label>
                                    <select asp-for="StrFacultyTimetableItem" class="form-control selectpicker"></select>
                                    <span asp-validation-for="StrFacultyTimetableItem" class="text-danger"></span>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div id="residents-div" style="display:none" class="residents">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <table id="enrolled-residents-table" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="box-footer">
                        <div class="form-group">
                            <a asp-action="Dashboard">Back to Home</a>
                            <input type="submit" value="Submit" class="btn btn-primary pull-right" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

<style>
    .marked {
        background-color: grey;
   }
</style>
