﻿@model AddResidentCommand

@using (Html.BeginForm("ApplicantTransition", "ResidentManagement", FormMethod.Post, 
     new { id = "myForm", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model=>model.ApplicantId)

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Transition Applicant</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <h4>Are you sure you want to transition this applicant to a resident</h4>
                </div>

            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Transition" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}