﻿@model OfferApplicationDurationValidResponse

@{
    ViewData["Title"] = Model.Name;
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <section class="content-header">
                <ol class="breadcrumb pull-right">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="/ProgramManagement/ProgramOfferApplicants?Id=@Model.OfferId"><i class="fa fa-home"></i> Program Offer Applicants</a></li>
                    <li><a href="#"><u>Search Result</u></a></li>
                </ol>
            </section>
            <h1 class="page-head-line"> @Model.Name Offer Application </h1>
        </div>
    </div>
    <div class="box box-header">
        <div class="box-body">
                <div class="alert alert-danger">
                    <h4 style="font-weight:400"> @Model.Message </h4>
                </div>
        </div>
        <div class="pull-left">
            <a asp-controller="ProgramManagement" asp-action="ProgramOfferApplicants" asp-route-Id="@Model.OfferId">Back to List</a>
        </div>
    </div>
</section>