﻿@model ApplicantEvaluationViewModel


<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title"> @Model.ProgramOfferApplicationDetail.Name - Program Application Details </h4>
        </div>
        <form asp-action="ApplicantEvaluation">
            @Html.Hidden("Id", Model.ProgramOfferApplicationDetail.Id)
            @Html.Hidden("ApplicantId", Model.ProgramOfferApplicationDetail.ApplicantId)
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <b> Program</b>
                    </div>
                    <div class="col-md-6" style="margin-bottom:10px">
                        @Html.DisplayFor(model => model.ProgramOfferApplicationDetail.Program)
                    </div>

                    <div class="col-md-6">
                        <b>Program Offer Name</b>
                    </div>
                    <div class="col-md-6" style="margin-bottom:10px">
                        @Html.DisplayFor(model => model.ProgramOfferApplicationDetail.ProgramOfferName)
                    </div>
                    <div class="col-md-6">
                        <b>Application Status</b>
                    </div>
                    <div class="col-md-6" style="margin-bottom:10px">
                        @Html.DisplayFor(model => model.ProgramOfferApplicationDetail.ApplicationStatus)
                    </div>
                    <div class="col-md-6">
                        <b>Date Applied</b>
                    </div>
                    <div class="col-md-6" style="margin-bottom:10px">
                        @Html.DisplayFor(model => model.ProgramOfferApplicationDetail.DateApplied)
                    </div>

                    <div class="col-md-6">
                        <b>Oral Interview Score</b>
                    </div>
                    <div class="col-md-6" style="margin-bottom:10px">
                        <input type="number" min="0" max="100" asp-for="InterviewScore.OralInterview" class="form-control" required="required" />
                    </div>
                    <div class="col-md-6">
                        <b>Written Interview Score </b>
                    </div>
                    <div class="col-md-6" style="margin-bottom:10px">
                        <input type="number" min="0" max="100" asp-for="InterviewScore.WrittenInterview" class="form-control" required="required" />
                    </div>
                    <div class="col-md-6">
                        <label>Evaluation Status</label>
                    </div>
                    <div class="col-md-6" style="margin-bottom:10px">
                        <select class="form-control selectpicker" asp-for="EvaluationStatus"
                                asp-items="@Html.GetEnumSelectList(typeof(ProgramQualificationStatus))">
                            <option selected="selected" value="">Please select</option>
                        </select>
                    </div>


                    <div class="col-md-6">
                        <b> Comment </b>
                    </div>
                    <div class="col-md-6" style="margin-bottom:10px">
                        <textarea asp-for="Comment" class="form-control" required="required" />
                    </div>
                    <div class="col-md-6">
                        <b> Approved By County </b>
                    </div>
                    <div class="col-md-6" style="margin-bottom:10px">
                        <input class="checkbox" type="checkbox" asp-for="ApprovedByCounty" />
                    </div>
                    <div class="col-md-6">
                        <a asp-controller="ResidentManagement" asp-action="DownloadStatementFile" asp-route-id="@Model.ProgramOfferApplicationDetail.Id">
                            Download Personal Statement File
                        </a>
                    </div>
                   
                </div>
            </div>

            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn bg-purple" value="Evaluate" />

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
