﻿@model ApplicantEvaluationViewModel


<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title"> @Model.ProgramOfferApplicationDetail.Name - Program Application Details </h4>
        </div>
        <form asp-action="ApplicantEvaluation">
            @Html.Hidden("Id", Model.ProgramOfferApplicationDetail.Id)
            @Html.Hidden("ApplicantId", Model.ProgramOfferApplicationDetail.ApplicantId)
            <div class="modal-body">
                <div class="col-md-6">
                    <b> Program</b>
                </div>
                <div class="col-md-6" style="margin-bottom:10px">
                    @Html.DisplayFor(model => model.ProgramOfferApplicationDetail.Program)
                </div>

                <div class="col-md-6">
                    <b>Program Offer Name</b>
                </div>
                <div class="col-md-6" style="margin-bottom:10px">
                    @Html.DisplayFor(model => model.ProgramOfferApplicationDetail.ProgramOfferName)
                </div>
                <div class="col-md-6">
                    <b>Application Status</b>
                </div>
                <div class="col-md-6" style="margin-bottom:10px">
                    @Html.DisplayFor(model => model.ProgramOfferApplicationDetail.StrApplicationStatus)
                </div>
                <div class="col-md-6">
                    <b>Date Applied</b>
                </div>
                <div class="col-md-6" style="margin-bottom:10px">
                    @Html.DisplayFor(model => model.ProgramOfferApplicationDetail.DateApplied)
                </div>
                <div class="col-md-6">
                    <b> Approved By County </b>
                </div>
                <div class="col-md-6" style="margin-bottom:10px">
                    @Model.ProgramOfferApplicationDetail.ApprovedByCounty

                </div>
                @if (Model.InterviewScore != null)
                {

                    <div class="col-md-6">
                        <b>Oral Interview Score</b>
                    </div>

                    <div class="col-md-6" style="margin-bottom:10px">
                        @Html.DisplayFor(model => model.InterviewScore.OralInterview)
                    </div>

                    <div class="col-md-6">
                        <b>Written Interview Score</b>
                    </div>

                    <div class="col-md-6" style="margin-bottom:10px">
                        @Model.InterviewScore.WrittenInterview
                    </div>


                    <div class="col-md-6">
                        <b>Average Interview Score</b>
                    </div>
                    <div class="col-md-6" style="margin-bottom:10px">
                        @{
                            var average = Math.Floor((double)Model.InterviewScore.Total / 2);

                        }
                        @average
                    </div>
                }


                @if (Model.ProgramOfferApplicationDetail.DateEvaluated != null)
                {
                    <div class="col-md-6">
                        <b>Evaluated By</b>
                    </div>
                    <div class="col-md-6" style="margin-bottom:10px">
                        @Html.DisplayFor(model => model.ProgramOfferApplicationDetail.EvaluatedBy)
                    </div>
                    <div class="col-md-6">
                        <b>Date Evaluated</b>
                    </div>
                    <div class="col-md-6" style="margin-bottom:10px">
                        @Model.ProgramOfferApplicationDetail.DateEvaluated
                    </div>
                    <div class="col-md-6">
                        <b>Comment</b>
                    </div>

                    <div class="col-md-6" style="margin-bottom:10px">
                        @Html.DisplayFor(x => x.ProgramOfferApplicationDetail.Comment)
                    </div>

                }



                @if (Model.ProgramOfferApplicationDetail.PersonalStatementSubmitted)
                {

                    <a asp-controller="ResidentManagement" asp-action="DownloadStatementFile" asp-route-id="@Model.ProgramOfferApplicationDetail.Id">
                        Download Personal Statement File
                    </a>
                }

            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
