﻿@model FilterResident
@{
    ViewData["Title"] = "Applicants List";
}


@section Scripts
    {
    <script type="text/javascript" src="~/js/feltp/applicants-list.js"></script>
    <script type="text/javascript" src="~/js/feltp/semester-management.js"></script>
    <script type="text/javascript" src="~/js/feltp/programoffer-dropdown.js"></script>
}

<div class="row">
    <div class="col-md-12">
        <section class="content-header">
            <ol class="breadcrumb pull-right">
                <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="#"><u>Applicants List</u></a></li>
            </ol>
        </section>
        <h1 class="page-head-line">@ViewData["Title"] </h1>
    </div>
</div>
<div class="box box-header">
    <div class="box-body">
        <div class="form-group">
            <form>
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-info">
                            <h4> Please select the program and offer to view applicants </h4>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Select Program</label>
                            <select asp-for="ProgramId" asp-items="@Model.ProgramSelectList" data-live-search="true"
                                    class="form-control selectpicker">
                                <option value="0">Select Program</option>
                            </select>
                            <span asp-validation-for="ProgramId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Select Program Offer </label>
                            <select class="form-control selectpicker" asp-for="ProgramOfferId" data-live-search="true"></select>
                            <span asp-validation-for="ProgramOfferId" class="text-danger"></span>
                        </div>
                    </div>

                </div>

            </form>
        </div>
        <table id="applicants-list-table" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
    </div>
</div>
