﻿
@{
    ViewData["Title"] = "Cadre List";
}

@section Scripts
    {
    <script type="text/javascript" src="~/js/feltp/resident-management.js"></script>
}
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <section class="content-header">
                <ol class="breadcrumb pull-right">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="#">Cadre List</a></li>
                </ol>
            </section>
            <h1 class="page-head-line">
                @ViewData["Title"]
            </h1>
        </div>
    </div>
    <div class="box box-header">
        <div class="box-body">
            <button type="button" class="btn btn-default btn-md" style="margin-bottom:10px" data-toggle="modal" data-url="@Url.Action("_AddCadre","ResidentManagement")" id="btnCreateCadre">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create New
            </button>
            <table id="cadre-list" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
        </div>
    </div>
</section>
<div class="modal fade" id="createCadreModal" tabindex="-1" role="dialog" aria-labelledby="CreateCadreModal" aria-hidden="true" data-backdrop="static">
    <div id="createCadreContainer">
    </div>
</div>

<div class="modal fade" id="editCadreModal" tabindex="-1" role="dialog" aria-labelledby="EditCadreModal" aria-hidden="true" data-backdrop="static">
    <div id="editCadreContainer">
    </div>
</div>
<div class="modal fade" id="detailsCadreModal" tabindex="-1" role="dialog" aria-labelledby="DetailsCadreModal" aria-hidden="true" data-backdrop="static">
    <div id="detailsCadreContainer">
    </div>
</div>

<div class="modal fade" id="deactivateCadreModal" tabindex="-1" role="dialog" aria-labelledby="DeactivateCadreModal" aria-hidden="true" data-backdrop="static">
    <div id="deactivateCadreContainer">
    </div>
</div>