﻿@model ResidentCourseDetailViewModel
@{
    ViewData["Title"] = $"{Model.ResidentName} ({Model.RegistrationNumber}) Course Details";
}
@section Scripts
    {
    <script type="text/javascript" src="~/js/feltp/resident-coursework-management.js"></script>
    <script type="text/javascript" src="~/js/feltp/fieldplacement.js"></script>
    <script type="text/javascript" src="~/js/feltp/deliverable.js"></script>
    <script src="~/js/feltp/faculty-dropdown.js"></script>
}
<div class="row">
    <div class="col-md-12">
        <section class="content-header">
            <ol class="breadcrumb pull-right">
                <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="#"><u>Resident Course Details</u></a></li>
            </ol>
        </section>
        <h1 class="page-head-line"> @ViewData["Title"] </h1>
    </div>
</div>
<div class="row">
        <div class="col-md-9">
            <div class="box box-header">
                <div class="box-body" style="height:220px;">
                    @if (Model == null)
                    {
                        <div>
                            Resident Course Details Not Found
                        </div>
                        return;

                    }
                    @Html.HiddenFor(model => model.ProgramEnrollemntId)
                    @Html.HiddenFor(model => model.ResidentId)
                    @Html.Hidden("SelectedSemester")
                    @Html.HiddenFor(x => x.ProgramOfferId)
                    <div class="col-md-12" style="padding-right:5px;padding-left:5px">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Select Semester</label>
                                <select asp-for="SemesterId" asp-items="@Model.SemesterDropDown" data-live-search="true"
                                        class="form-control selectpicker">
                                    <option value="0">Select Semester</option>
                                </select>
                                <span asp-validation-for="SemesterId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" style="padding-right:5px;padding-left:5px">
                        <div class="col-md-4">
                            <b>Tier</b>
                        </div>
                        <div class="col-md-8">
                            @Model.ProgramTier
                        </div>
                        <div class="col-md-4">
                            <b> Program </b>
                        </div>
                        <div class="col-md-8">
                            @Model.Program
                        </div>
                        <div class="col-md-4">
                            <b>Offer Name</b>
                        </div>
                        <div class="col-md-8">
                            @Model.ProgramOffer
                        </div>
                    </div>
                    <div class="col-md-6" style="padding-right:5px;padding-left:5px">
                        <div class="col-md-5">
                            <b>Start Date</b>
                        </div>
                        <div class="col-md-7">
                            @Model.StartDate
                        </div>
                        <div class="col-md-5">
                            <b>End Date</b>
                        </div>
                        <div class="col-md-7">
                            @Model.EndDate
                        </div>
                        <div class="col-md-5">
                            <b>Duration</b>
                        </div>
                        <div class="col-md-7">
                            @Model.Duration
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box box-header" style="height:300px;">
                <div class="box-body">
                    <a class="initiate-fieldplacement btn btn-primary btn-md pull-left btn-sm" style="width:160px"
                       href="/FieldPlacement/InitiateResidentFieldPlacement">
                        Field Placement
                    </a><br />
                    <hr style="margin-top:5px;margin-bottom:5px">
                    <a class="submit-resident-deliverable btn btn-primary btn-md pull-left btn-sm" style="width:160px"
                       href="/Deliverable/SubmitResidentDeliverable">
                        Submit Deliverable
                    </a><br />
                    <hr style="margin-top:5px;margin-bottom:5px">
                    <a class="submit-residentdeliverable-scores btn btn-primary btn-md pull-left btn-sm" style="width:160px"
                       href="/Deliverable/InputResidentDeliverableScores">
                        Input Deliverable Scores
                    </a><br />
                    <hr style="margin-top:5px;margin-bottom:5px">
                    <a class="submit-residentexamination-scores btn btn-primary btn-md pull-left btn-sm" style="width:160px"
                       href="/ExaminationManagement/InputExaminationScores">
                        Input Examination Scores
                    </a><br />
                    <hr style="margin-top:5px;margin-bottom:5px">
                    <a class="submit-resident-cat-scores btn btn-primary btn-md pull-left btn-sm" style="width:160px"
                       href="/ExaminationManagement/InputCatScores">
                        Input Cat Scores
                    </a><br />
                    <hr style="margin-top:5px;margin-bottom:5px">
                    <a href="/ResidentManagement/ResidentDetails?applicantId=@Model.ApplicantId&offerId=@Model.ProgramOfferId"
                       class="btn btn-primary btn-md pull-left btn-sm" style="width:160px">
                        Back to Details
                    </a><br />
                    <hr style="margin-top:5px;margin-bottom:5px">
                </div>
            </div>
        </div>
</div>
<div class="row">
        <div class="col-md-12">
            <div class="box box-header">
                <div class="box box-solid">
                    <div class="box-primary with-border">
                    </div>
                    <div class="box-body">
                        <div class="box-group" id="accordion">
                            <div class="panel box box-primary">
                                <div class="box-header with-border bg-purple">
                                    <h6 class="box-title" style="font-size:14px">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="" aria-expanded="false" style="color:white">
                                            Resident Courses
                                        </a>
                                    </h6>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" aria-expanded="false" style="">
                                    <div class="box-body">
                                        <div class="col-xs-12 table-responsive">
                                            <table id="resident-courses-list-table" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel box box-primary">
                                <div class="box-header with-border bg-purple">
                                    <h5 class="box-title" style="font-size:14px">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed" aria-expanded="false" style="color:white">
                                            Resident Activities
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false">
                                    <div class="box-body">
                                        <div class="col-xs-12 table-responsive">
                                            <table id="resident-activities-list-table" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel box box-primary">
                                <div class="box-header with-border bg-purple">
                                    <h5 class="box-title" style="font-size:14px">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed" aria-expanded="false" style="color:white">
                                            Examination Scores
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" aria-expanded="false">
                                    <div class="box-body">
                                        <div class="col-xs-12 table-responsive">
                                            <table id="resident-examinationscores-list" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<div class="modal fade" id="resident-modules-modal" tabindex="-1" role="dialog" aria-labelledby="Resident Course Modules" aria-hidden="true" data-backdrop="static">
    <div id="resident-modules-container">
    </div>
</div>
<div class="modal fade" id="resident-activities-modal" tabindex="-1" role="dialog" aria-labelledby="Resident Course Activities" aria-hidden="true" data-backdrop="static">
    <div id="resident-activities-container">
    </div>
</div>
<div class="modal fade" id="resident-fieldplacement-modal" tabindex="-1" role="dialog" aria-labelledby="Resident Field Placement" aria-hidden="true" data-backdrop="static">
    <div id="resident-fieldplacement-container">
    </div>
</div>
<div class="modal fade" id="resident-attendance-modal" tabindex="-1" role="dialog" aria-labelledby="Resident Course Attendance" aria-hidden="true" data-backdrop="static">
    <div id="resident-attendance-container">
    </div>
</div>
<div class="modal fade" id="submit-residentdeliverable-modal" tabindex="-1" role="dialog" aria-labelledby="Resident Field Placement" aria-hidden="true" data-backdrop="static">
    <div id="submit-residentdeliverable-container">
    </div>
</div>
<div class="modal fade" id="resident-deliverable-submission-modal" tabindex="-1" role="dialog" aria-labelledby="Resident Field Placement" aria-hidden="true" data-backdrop="static">
    <div id="resident-deliverable-submission-container">
    </div>
</div>
<div class="modal fade" id="resident-examinationscore-submission-modal" tabindex="-1" role="dialog" aria-labelledby="Resident Field Placement" aria-hidden="true" data-backdrop="static">
    <div id="resident-examinationscore-submission-container">
    </div>
</div>
<div class="modal fade" id="resident-catscore-submission-modal" tabindex="-1" role="dialog" aria-labelledby="Input Cat Scores" aria-hidden="true" data-backdrop="static">
    <div id="resident-cat-score-submission-container">
    </div>
</div>

