﻿@using Microsoft.AspNetCore.Identity
@using UserManagement.Domain;

@{
    ViewData["Title"] = "Resident | Dashboard";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Resident | Dashboard</title>
</head>
<body>
            <div class="row">
                <div class="col-md-12">
                    <h4 class="page-head-line">Resident Dashboard</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="dashboard-div-wrapper bk-clr-three">
                        <i class="fa fa-user-plus dashboard-div-icon"></i>
                        <div class="progress progress-striped active">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                            </div>
                        </div>
                        <h5><a asp-area="" asp-controller="ResidentManagement" asp-action="ApplicantList" style="color:white">Applicants </a></h5>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="dashboard-div-wrapper bk-clr-three">
                        <i class="fa fa-users dashboard-div-icon"></i>
                        <div class="progress progress-striped active">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                            </div>

                        </div>
                        <h5><a asp-area="" asp-controller="ResidentManagement" asp-action="ResidentList" style="color:white">Residents</a> </h5>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="dashboard-div-wrapper bk-clr-three">
                        <i class="fa fa-file-text-o dashboard-div-icon"></i>
                        <div class="progress progress-striped active">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                            </div>

                        </div>
                        <h5><a asp-area="" asp-controller="EthicsManagement" asp-action="EthicsApprovalList" style="color:white"> Ethics Approval</a></h5>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="dashboard-div-wrapper bk-clr-three">
                        <i class="fa fa-clipboard dashboard-div-icon"></i>
                        <div class="progress progress-striped active">
                            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                            </div>

                        </div>
                        <h5><a asp-area="" asp-controller="ResidentManagement" asp-action="AddResidentCourseAttendance" style="color:white">Course Attendance</a> </h5>
                    </div>
                </div>

            </div>

</body>
</html>
