﻿@model EnrollResidentModel
@{

}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title"> Enroll Resident - @Model.Name (@Model.RegistrationNumber) </h4>
        </div>
        <div asp-validation-summary="All" class="text-danger">
        </div>
        <form action="/ResidentManagement/EnrollResident" method="post" id="enroll-resident-form">
            @Html.HiddenFor(model=>model.EnrollResidentCommand.ProgramId)
            @Html.HiddenFor(model=>model.EnrollResidentCommand.ProgramOfferApplicationId)
            @Html.HiddenFor(model=>model.EnrollResidentCommand.ResidentId)
            @Html.HiddenFor(model=> model.EnrollResidentCommand.ApplicantId)
            @Html.HiddenFor(model=>model.EnrollResidentCommand.ProgramOfferId)
            @Html.HiddenFor(model=> Model.ProgramOfferDetail)
            @Html.Hidden("RegistrationNumber", Model.RegistrationNumber)
            @Html.Hidden("Name", Model.Name)
            <div class="modal-body">
                @{
            Html.RenderPartial("_ProgramOfferDetails", Model.ProgramOfferDetail);
                }
            </div>

            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input id="enroll-applicant-btn" type="submit" class="btn btn-primary" value="Enroll" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

@section Scripts
    {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}