﻿@model ShortListApplicantCommand
@{
    ViewData["Title"] = "Shortlist Applicants";
}

@section Scripts
    {
    <script src="~/js/feltp/programoffer-dropdown.js"></script>
}
<div class="row">
    <div class="col-md-12">
        <section class="content-header">
            <ol class="breadcrumb pull-right">
                <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="/ResidentManagement/ApplicantList">Applicants List</a></li>
                <li><a href="#"><u>Short List Applicants</u></a></li>
            </ol>
        </section>
        <h1 class="page-head-line">Short List Applicants </h1>
    </div>
</div>
<section class="content">
    <div class="box  box-header">
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <form asp-action="FilterApplicants">
                            @Html.HiddenFor(x => x.ProgramName)
                            @Html.HiddenFor(x => x.ProgramOffer)
                            @Html.HiddenFor(x => x.ApplicationStatus)
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Select Program</label>
                                        <select asp-for="ProgramId" asp-items="@Model.ProgramSelectList" data-live-search="true"
                                                class="form-control selectpicker">
                                            <option value="0">Select Program</option>
                                        </select>
                                        <span asp-validation-for="ProgramId" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">Select Program Offer </label>
                                        <select class="form-control selectpicker" asp-for="ProgramOfferId" data-live-search="true"></select>
                                        <span asp-validation-for="ProgramOfferId" class="text-danger"></span>
                                    </div>
                                    <input type="submit" class="btn btn-primary bg-purple pull-right" value="Search" />
                                </div>

                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


