﻿@model ShortListApplicantCommand
@{
    ViewData["Title"] = $"{Model.ProgramName} - {Model.ProgramOffer} Shortlist Applicants";
}

@section Scripts
    {
    <script src="~/js/feltp/program-offer-applicants-list.js"></script>
}

<div class="row">
    <div class="col-md-12">
        <section class="content-header">
            <ol class="breadcrumb pull-right">
                <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="/ResidentManagement/FilterApplicants">Applicants List</a></li>
                <li><a href="#"><u>Search Results</u></a></li>
            </ol>
        </section>
        <h1 class="page-head-line">@ViewData["Title"] </h1>
    </div>
</div>
<section class="content">
    <div class="box box-header">
        <form asp-action="ShortListApplicants" id="short-list-applicants-frm">
            @Html.HiddenFor(x => x.ProgramName)
            @Html.HiddenFor(x => x.ProgramOffer)
            @Html.HiddenFor(x => x.ProgramOfferId)
            @Html.HiddenFor(x => x.ProgramId)
            @Html.HiddenFor(x => x.ApplicationStatus)
            @Html.HiddenFor(x => x.ProgramOfferApplicationIdsJson)
            @{
                var message = TempData["Message"];
            }
            @if (message != null)
            {
                <div class="alert alert-success col-md-12">
                    <h4 style="font-weight:400">@message</h4>
                </div>

            }

            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="box-body">
                <table id="shortlist-applicants-table" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
            </div>
            <div class="box-footer">
                <input type="submit" class="btn bg-purple" value="Shortlist" />
                <a asp-controller="ResidentManagement" asp-action="FilterApplicants" class="pull-right">Back to Search</a>
            </div>
        </form>
    </div>
</section>

