﻿@model string
<div class="modal-dialog" style="width:600px">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Resident Coursework Generation</h4>
        </div>

        <div class="modal-body">
            <div class="alert alert-success">
                @Model
            </div>
        </div>
        <div class="modal-footer">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="javascript:window.location.reload()">Close</button>
                </div>
            </div>
        </div>

    </div>
</div>