﻿@model RegisterNewApplicantCommand
@{
    ViewData["Title"] = $"{Model.OfferName} ({Model.ProgramName}) - Add Applicant";
}
@section Scripts
    {
    <script src="~/js/feltp/wizard.js"></script>
    <script src="~/js/feltp/cadre-dropdown.js"></script>
    <script src="~/js/feltp/country-dropdown.js"></script>
    <script src="~/js/feltp/county-dropdown.js"></script>
    <script src="~/js/feltp/subcounty-dropdown.js"> 
        </script>
    <script src="~/js/feltp/university-dropdown.js"></script>
    <script src="~/js/feltp/ministry-dropdown.js"></script>
    <link href="~/css/wizard.css" rel="stylesheet" />
}
<section class="content">
    <div class="row">
        <div class="container col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <section class="content-header">
                        <ol class="breadcrumb pull-right">
                            <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                            <li><a href="#">Register New Applicant</a></li>
                        </ol>
                    </section>
                    <h1 class="page-head-line">
                        @ViewData["Title"]
                    </h1>
                </div>
            </div>

            <div class="stepwizard">
                <div class="stepwizard-row setup-panel">
                    <div class="stepwizard-step col-xs-3">
                        <a href="#step-1" type="button" class="btn btn-success btn-circle">1</a>
                        <p><small>Bio Data</small></p>
                    </div>
                    <div class="stepwizard-step col-xs-3">
                        <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                        <p><small>Contact Info</small></p>
                    </div>
                    <div class="stepwizard-step col-xs-3">
                        <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                        <p><small>Employment History</small></p>
                    </div>
                    <div class="stepwizard-step col-xs-3">
                        <a href="#step-4" type="button" class="btn btn-default btn-circle" disabled="disabled">4</a>
                        <p><small>Academic History</small></p>
                    </div>
                </div>
            </div>
            <form role="form" asp-action="RegisterNewApplicant" asp-antiforgery="true" enctype="multipart/form-data">
                @Html.HiddenFor(x => x.OfferName)
                @Html.HiddenFor(x => x.ProgramOfferId)
                @Html.HiddenFor(x => x.ProgramName)
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="panel panel-primary setup-content" id="step-1">
                    <div class="panel-heading bg-purple">
                        <h3 class="panel-title">Bio Data</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">First Name </label>
                                <input asp-for="Person.BioDataInfo.FirstName" class="form-control" required="required" placeholder="Enter First Name" />
                                <span asp-validation-for="Person.BioDataInfo.FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Last Name </label>
                                <input asp-for="Person.BioDataInfo.LastName" class="form-control" required="required" placeholder="Enter Last Name" />
                                <span asp-validation-for="Person.BioDataInfo.LastName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Other Name </label>
                                <input asp-for="Person.BioDataInfo.OtherName" class="form-control" placeholder="Enter Other Name" />
                                <span asp-validation-for="Person.BioDataInfo.OtherName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Identification Type </label>
                                <select class="form-control selectpicker" asp-for="Person.BioDataInfo.IdentificationType" asp-items="@Html.GetEnumSelectList(typeof(IdentificationType))">
                                    <option selected="selected" value="">Please select</option>
                                </select>
                                <span asp-validation-for="Person.BioDataInfo.IdentificationType" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Identification Number </label>
                                <input asp-for="Person.BioDataInfo.IdentificationNumber" class="form-control" required="required" placeholder="Identification Number" />
                                <span asp-validation-for="Person.BioDataInfo.IdentificationNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Gender </label>
                                <select class="form-control selectpicker" asp-for="Person.BioDataInfo.Gender" asp-items="@Html.GetEnumSelectList(typeof(Gender))">
                                    <option selected="selected" value="">Please select</option>
                                </select>
                                <span asp-validation-for="Person.BioDataInfo.Gender" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Date Of Birth </label>
                                <div class='input-group date' id='DateOfBirth'>
                                    <input type='text' class="form-control" asp-for="Person.BioDataInfo.StrDateOfBirth" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                <span asp-validation-for="Person.BioDataInfo.StrDateOfBirth" class="text-danger"></span>
                            </div>
                            <script>
                                $(function () {
                                    var date = new Date();
                                    var currentMonth = date.getMonth();
                                    var currentDate = date.getDate();
                                    var currentYear = date.getFullYear();
                                    $('#DateOfBirth').datetimepicker({
                                format: 'DD/MM/YYYY',
                                maxDate: new Date(currentYear -18, currentMonth, currentDate)                       
                            });
                        });
                            </script>
                            <div class="form-group">
                                <label class="control-label">Cadre </label>
                                <select required="required" class="form-control selectpicker" asp-for="Person.BioDataInfo.CadreId"></select>
                                <span asp-validation-for="Person.BioDataInfo.CadreId" class="text-danger"></span>
                            </div>
                        </div>
                        <button class="btn bg-purple nextBtn pull-right" type="button">Next</button>
                    </div>
                </div>
                <div class="panel panel-primary setup-content" id="step-2">
                    <div class="panel-heading bg-purple">
                        <h3 class="panel-title">Contact Info</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Email Address </label>
                                <input type="email" asp-for="Person.ContactInfo.EmailAddress" class="form-control" required="required"
                                       placeholder="Enter Email Address" />
                                <span asp-validation-for="Person.ContactInfo.EmailAddress" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Primary Mobile Number</label>
                                <input type="tel" asp-for="Person.ContactInfo.PrimaryMobileNumber" class="form-control" required="required" placeholder="Enter Primary Mobile Number" />
                                <span asp-validation-for="Person.ContactInfo.PrimaryMobileNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Alternate Mobile Number </label>
                                <input type="tel" asp-for="Person.ContactInfo.AlternateMobileNumber" class="form-control" placeholder="Enter Alternate Mobile Number" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">Postal Address</label>
                                <input type="text" asp-for="Person.AddressInfo.PostalAddress" class="form-control" required="required"
                                       placeholder="Enter Postal Address" />
                                <span asp-validation-for="Person.AddressInfo.PostalAddress" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Country </label>
                                <select class="form-control selectpicker" required="required"
                                        asp-for="Person.AddressInfo.CountryId" data-live-search="true"></select>

                                <span asp-validation-for="Person.AddressInfo.CountryId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">County Of Employment </label>
                                <select class="form-control selectpicker" asp-for="Person.AddressInfo.CountyId" data-live-search="true"></select>
                                <span asp-validation-for="Person.AddressInfo.CountyId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Sub-County </label>
                                <select class="form-control selectpicker" asp-for="Person.AddressInfo.SubCountyId" data-live-search="true"></select>
                                <span asp-validation-for="Person.AddressInfo.SubCountyId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6" style="padding-top:30px">
                            <button class="btn bg-purple nextBtn pull-right" type="button" style="width:150px">Next</button>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary setup-content" id="step-3">
                    <div class="panel-heading bg-purple">
                        <h3 class="panel-title">Employment History</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Ministry </label>
                                <select required="required" class="form-control selectpicker" asp-for="Person.EmploymentDetail.MinistryId" data-live-search="true"></select>
                                <span asp-validation-for="Person.EmploymentDetail.MinistryId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Current Employer Name </label>
                                <input asp-for="Person.EmploymentDetail.EmployerName" class="form-control" required="required" placeholder="Enter Current Employer Name" />
                                <span asp-validation-for="Person.EmploymentDetail.EmployerName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Current Position </label>
                                <input asp-for="Person.EmploymentDetail.CurrentPosition" class="form-control" required="required" placeholder="Enter Current Position" />
                                <span asp-validation-for="Person.EmploymentDetail.CurrentPosition" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Specialization/Field Expertise </label>
                                <input asp-for="Person.EmploymentDetail.Designation" class="form-control" required="required" placeholder="Enter Specialization/Field Expertise" />
                                <span asp-validation-for="Person.EmploymentDetail.Designation" class="text-danger"></span>
                            </div>



                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Duty Station </label>
                                <input asp-for="Person.EmploymentDetail.WorkStation" class="form-control" required="required" placeholder="Enter Work station" />
                                <span asp-validation-for="Person.EmploymentDetail.WorkStation" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Personel Number </label>
                                <input asp-for="Person.EmploymentDetail.PersonnelNumber" class="form-control" required="required" placeholder="Enter Personel Number" />
                                <span asp-validation-for="Person.EmploymentDetail.PersonnelNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Year of Employment </label>
                                <div class='input-group date' id='YearOfEmployment'>
                                    <input type='text' class="form-control" asp-for="Person.EmploymentDetail.YearOfEmployment" required="required" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                <span asp-validation-for="Person.EmploymentDetail.YearOfEmployment" class="text-danger"></span>
                            </div>
                            <script>
                            $(function () {
                                $('#YearOfEmployment').datetimepicker({
                                    format: 'YYYY',
                                    viewMode:'years'
                                });
                            });
                            </script>
                        </div>
                        <div class="col-sm-12">
                            <button class="btn bg-purple nextBtn pull-right" type="button" style="width:150px">Next</button>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary setup-content" id="step-4">
                    <div class="panel-heading bg-purple">
                        <h3 class="panel-title">Academic History</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Highest Education Level </label>
                                <select class="form-control selectpicker" asp-for="Person.AcademicDetail.HighestEducationLevel" asp-items="@Html.GetEnumSelectList(typeof(EducationLevel))">
                                    <option selected="selected" value="">Please select</option>
                                </select>
                                <span asp-validation-for="Person.AcademicDetail.HighestEducationLevel" class="text-danger"></span>
                            </div>
                            <div class="form-group" id="university-dropdown-div">
                                <label class="control-label">Select University</label>
                                <select class="form-control selectpicker" asp-for="Person.AcademicDetail.UniversityId" data-live-search="true">
                                    <option selected="selected" value="">Please select</option>
                                </select>
                                <span asp-validation-for="Person.AcademicDetail.UniversityId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label style="font-weight:bold">
                                        <input asp-for="UniversityFound" /> @Html.DisplayName("Select if University is not found in dropdown")
                                    </label>
                                </div>
                            </div>
                            <div class="form-group" id="university-textarea-div" style="display:none">
                                <label class="control-label">Other University</label>
                                <input asp-for="Person.AcademicDetail.Other" class="form-control" placeholder="Enter University Name" />
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Course Name </label>
                                <input asp-for="Person.AcademicDetail.CourseName" class="form-control" required="required" placeholder="Enter Course Name" />
                                <span asp-validation-for="Person.AcademicDetail.CourseName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Year Of Graduation </label>
                                <div class='input-group date' id='StrDateGraduated'>
                                    <input type='text' class="form-control" asp-for="Person.AcademicDetail.YearOfGraduation" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                <span asp-validation-for="Person.AcademicDetail.YearOfGraduation" class="text-danger"></span>
                            </div>
                            <script>
                        $(function () {
                            $('#StrDateGraduated').datetimepicker({
                                format: 'YYYY'
                            });
                        });
                            </script>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input asp-for="PersonalStatementSubmitted" /> @Html.DisplayName("Personal Statement Submitted")
                                    </label>
                                </div>
                            </div>
                            <div class="form-group" id="personal-statement-div" style="display:none">
                                <label class="control-label">
                                    Personal Statement File
                                </label>
                                <input type="file" name="statementFile" class="form-control" />
                            </div>
                        </div>
                        <input type="submit" class="btn btn-success pull-right" value="Finish" />
                    </div>
                </div>

            </form>
        </div>
    </div>`
</section>