﻿@model ResidentCourseAttendanceResponse

@{
    ViewData["Title"] = String.IsNullOrEmpty(Model.Code) ? "Attendance Marking Result" : 
        $"{Model.Code}-{Model.UnitName} - Attendance Details";
}

@section Scripts
{

    <script src="~/js/feltp/program-offer-resident.js"></script>
}
<div class="row">
    <div class="col-md-12">
        <section class="content-header">
            <ol class="breadcrumb pull-right">
                <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="/ResidentManagement/AddResidentCourseAttendance">Resident Course Attendance</a></li>
                <li><a href="#"><u>Result</u></a></li>
            </ol>
        </section>
        <h1 class="page-head-line">@ViewData["Title"] </h1>
    </div>
</div>
<section class="content">
    <div class="box box-header">
        @{
            var alert = Model.Success ? "alert-success" : "alert-danger";
        }
        <div class="box-body">
            @Html.HiddenFor(x => x.SemesterScheduleItemId)
            @Html.HiddenFor(x => x.UnitId)

            <div class="alert @alert">
                <h4 style="font-weight:400">@Model.Message</h4>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table id="attendance-marking-results-table" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <a asp-controller="ResidentManagement" asp-action="AddResidentCourseAttendance" class="pull-right">Back</a>
        </div>
    </div>
</section>

