﻿@model ResidentDeliverableViewModel

<div class="modal-dialog" style="width:1000px">
    @Html.HiddenFor(x=>x.ResidentFieldPlacementActivityId)
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">@Model.Activity - Deliverables</h4>
        </div>
        <div class="modal-body">
            <table id="resident-deliverable-list" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>

        </div>
    </div>
</div>