﻿@model ResidentUnitViewModel

<div class="modal-dialog" style="width:900px">
    @Html.Hidden("ResidentCourseWorkId_UnitList",Model.ResidentCourseWorkId)
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">@Model.Course - Units</h4>
        </div>
        <div class="modal-body">
            <table id="resident-module-list" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>

        </div>
    </div>
</div>