﻿@model ResidentUnitAttendanceViewModel

<div class="modal-dialog" style="width:1100px">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">@Model.Course Attendance Details </h4>
        </div>
         @Html.Hidden("ResidentCourseWorkId_AttendanceList", Model.ResidentCourseWorkId)
        <div class="modal-body">
            <table id="residents-course-attendance" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
        </div>
    </div>
</div>
