﻿@model ApplicantViewModel
@{
    ViewData["Title"] = "Resident Details";
}


@{

    Html.RenderPartial("_Details", Model);

}


@section Scripts
    {
    <script src="~/js/feltp/program-offer-applicants-list.js"></script>
    <script src="~/js/feltp/applicant-resident-common-grids.js"></script>
    <script src="~/js/feltp/program-dropdown.js"></script>
    <script src="~/js/feltp/resident-management.js"></script>
    <script src="~/js/feltp/country-dropdown.js"></script>
    <script src="~/js/feltp/subcounty-dropdown.js"></script>


}