﻿@model ExamDetails

    @if (Model.AnyExamPendingSubmission)
    {

        <a class="submit-residentexamination-scores"
           href="/ExaminationManagement/InputExaminationScores">
            Input Examination Scores
        </a>
        <hr>
    }

    @if (Model.AnyDeliverablePendingSubmission)
    {
        <a class="submit-residentexamination-scores"
           href="/Deliverable/InputResidentDeliverableScores?Id=&scheduleItemId=&residentId=">
            Input Deliverable Scores
        </a>
        <hr>
    }