﻿@model SearchApplicantQuery

@{
    ViewData["Title"] = "Search Applicant";
}

@section Scripts {

}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <section class="content-header">
                <ol class="breadcrumb pull-right">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="/ResidentManagement/SearchApplicant">Search Applicant</a></li>
                </ol>
            </section>
            <h1 class="page-head-line">Search Applicant </h1>
        </div>
    </div>
    <div class="box  box-header">
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <form asp-action="SearchApplicantResult">
                            @Html.HiddenFor(x => x.OfferId)
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label class="control-label">Enter Identification Number or Passport </label>
                                <input asp-for="IdentificationNumber" class="form-control" />
                                <span asp-validation-for="IdentificationNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Search" class="btn btn-primary bg-purple pull-right" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="footer pull-left">
                <a asp-controller="ProgramManagement" asp-action="ProgramOfferApplicants" asp-route-Id="@Model.OfferId">Back to List</a>
            </div>
        </div>

    </div>
</section>

