﻿@model SearchApplicantQuery
@{
    ViewData["Title"] = "Applicant Search Results";
}


@section Scripts
    {
    <script type="text/javascript" src="~/js/feltp/applicants-list.js"></script>
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <section class="content-header">
                <ol class="breadcrumb pull-right">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="/ResidentManagement/Dashboard"><i class="fa fa-dashboard"></i> Resident Dashboard</a></li>
                    <li><a href="/ResidentManagement/SearchApplicant?Id=@Model.OfferId"><i class="fa fa-search"></i>Search </a></li>
                    <li><a href="#"><u>Search Result</u></a></li>
                </ol>
            </section>
            <h1 class="page-head-line"> Applicant Search Result </h1>
        </div>
    </div>
    <div class="box box-header">
        @Html.HiddenFor(x => x.IdentificationNumber)
        <div class="box-body">
            <table id="applicants-search-list-table" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>            
        </div>
        <div class="pull-left">
            <a asp-controller="ResidentManagement" asp-action="SearchApplicant" asp-route-Id="@Model.OfferId">Back to Search</a>
        </div>
    </div>
</section>