﻿@model PagedProgramViewModel
@{
    ViewData["Title"] = "Programs";
}

@section Scripts
    {
    @*<script type="text/javascript" src="~/js/feltp/program-management.js"></script>*@
    <script src="~/js/ssp/program-management.js"></script>
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <section class="content-header">
                <ol class="breadcrumb pull-right">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="#"><u>Programs</u></a></li>
                </ol>
            </section>
            <h1 class="page-head-line">Programs List </h1>
        </div>
    </div>
    <div class="box box-header">
        <div class="box-body">

            <table id="program-list-table" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
        </div>
    </div>
</section>

<div class="modal fade" id="createProgramModal" tabindex="-1" role="dialog" aria-labelledby="CreateProgramModal" aria-hidden="true" data-backdrop="static">
    <div id="createProgramContainer">
    </div>
</div>

<div class="modal fade" id="editProgramModal" tabindex="-1" role="dialog" aria-labelledby="EditProgramModal" aria-hidden="true" data-backdrop="static">
    <div id="editProgramContainer">
    </div>
</div>
<div class="modal fade" id="deleteProgramModal" tabindex="-1" role="dialog" aria-labelledby="DeleteProgramModal" aria-hidden="true" data-backdrop="static">
    <div id="deleteProgramContainer">
    </div>
</div>

<div class="modal fade" id="program-courses-modal" tabindex="-1" role="dialog" aria-labelledby="Program Courses" aria-hidden="true" data-backdrop="static">
    <div id="program-courses-container">
    </div>
</div>


