﻿@model ProgramViewModel

@{
    ViewData["Title"] = "Program Details";
}

@section Scripts
    {

    <script src="~/js/ssp/program-management.js"></script>
}

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <section class="content-header">
                    <ol class="breadcrumb pull-right">
                        <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                        <li><a href="#">Program Details</a></li>
                    </ol>
                </section>
                <h1 class="page-head-line">@Model.Name - Program Details</h1>
            </div>
        </div>
        <div class="row">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-header">
                        <div class="box-body">
                            @Html.Hidden("ProgramId", Model.Id)
                            <div class="col-md-12">
                                @if (Model == null)
                                {
                                    <div>
                                        Program Details Not Found
                                    </div>
                                    return;

                                }
                                @Html.HiddenFor(model => model.Id)
                                <div class="col-md-6">
                                    <div class="col-md-6">
                                        <b>Code</b>
                                    </div>
                                    <div class="col-md-6">
                                        @Model.Code
                                    </div>

                                    <div class="col-md-6">
                                        <b> Tier </b>
                                    </div>
                                    <div class="col-md-6">
                                        @Model.ProgramTier
                                    </div>
                                   
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-6">
                                        <b>Name</b>
                                    </div>
                                    <div class="col-md-6">
                                        @Model.Name
                                    </div>
                                    <div class="col-md-6">
                                        <b>Duration</b>
                                    </div>
                                    <div class="col-md-6">
                                        @Model.Duration
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-header">
                        <div class="box-body">
                            <h4 class="page-head-line">Courses</h4>
                            <div class="col-md-12">

                                <table id="program-courses-list-table" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
                                <div class="pull-left">
                                    <a asp-action="ProgramList">Back to List</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-header">
                        <div class="box-body">
                            <h4 class="page-head-line">Resources</h4>
                            <div class="col-md-12">

                                <table id="program-resource-list-table" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
                                <div class="pull-left">
                                    <a asp-action="ProgramList">Back to List</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>







