﻿@model GetProgramResourceFile
@section Scripts
    {
    @Html.Raw(TempData["msg"])
}

<div class="modal-dialog" style="width:600px">
    @Html.HiddenFor(x => x.resourceId)
    <div class="modal-content">
        <div class="modal-header">

            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span style="display:none;" class="sr-only">Close</span></button>
            <h4 class="modal-title">Download Resource Files</h4>


        </div>
        <div class="modal-body">
            <table id="resource-files-tables" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>

        </div>
    </div>
</div>

