﻿@model ResidentCourseDetailViewModel
@{
    ViewData["Title"] = Model == null ? "Resident Course Details" : $"{Model.ResidentName} - Course Details";
}
@section Scripts
    {
    <script src="~/js/ssp/coursework-management.js"></script>
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <section class="content-header">
                <ol class="breadcrumb pull-right">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                </ol>
            </section>
            <h1 class="page-head-line"> @ViewData["Title"] </h1>
        </div>
    </div>
    <div class="row">
        @if (Model == null)
        {
            <div>
                <h4 class="alert alert-info"> Resident course details not found </h4>
            </div>
            return;
        }

        @if (string.IsNullOrEmpty(Model.DateEnrolled))
        {
            <div>
                <h4 class="alert alert-info"> Resident course details not found. Course information will be visible after enrolment is completed</h4>
            </div>
            return;
        }

        @Html.HiddenFor(model => model.ProgramEnrollemntId)
        @Html.HiddenFor(model => model.ResidentId)
        @Html.Hidden("SelectedSemester")
        @Html.HiddenFor(x => x.ProgramOfferId)
        @Html.HiddenFor(x => x.ProgramId)
        

        <div class="col-md-9">
            <div class="col-md-12" style="padding-right:5px;padding-left:5px">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Select Semester</label>
                        <select asp-for="SemesterId" asp-items="@Model.SemesterDropDown" data-live-search="true"
                                class="form-control selectpicker">
                            <option value="0">Select Semester</option>
                        </select>
                        <span asp-validation-for="SemesterId" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="box box-header">
                <div class="box-body">
                    <div class="col-md-6" style="padding-right:5px;padding-left:5px">
                        <div class="col-md-4">
                            <b>Program Tier</b>
                        </div>
                        <div class="col-md-8">
                            @Model.ProgramTier
                        </div>
                        <div class="col-md-4">
                            <b> Program </b>
                        </div>
                        <div class="col-md-8">
                            @Model.Program
                        </div>
                        <div class="col-md-4">
                            <b>Program Offer</b>
                        </div>
                        <div class="col-md-8">
                            @Model.ProgramOffer
                        </div>
                        <div class="col-md-4">
                            <b>Date Enrolled</b>
                        </div>
                        <div class="col-md-8">
                            @Model.DateEnrolled
                        </div>

                    </div>
                    <div class="col-md-6" style="padding-right:5px;padding-left:5px">
                        <div class="col-md-5">
                            <b>Program Start Date</b>
                        </div>
                        <div class="col-md-7">
                            @Model.StartDate
                        </div>
                        <div class="col-md-5">
                            <b>Program End Date</b>
                        </div>
                        <div class="col-md-7">
                            @Model.EndDate
                        </div>
                        <div class="col-md-5">
                            <b>Duration</b>
                        </div>
                        <div class="col-md-7">
                            @Model.Duration
                        </div>
                        <div class="col-md-5">
                            <b>Enrolled By</b>
                        </div>
                        <div class="col-md-7">
                            @Model.EnrolledBy
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box box-header">
                <div class="box-body">
                    <hr style="margin-top:5px;margin-bottom:5px">
                    <a class="submit-resident-deliverable btn btn-primary btn-md pull-left btn-sm" style="width:160px"
                       href="/Deliverable/SubmitDeliverable">
                        Submit Deliverable
                    </a><br />
                    <hr style="margin-top:5px;margin-bottom:5px">
                    <a href="/Applicant/ApplicantProfile/@Model.ApplicantId"
                       class="btn btn-primary btn-md pull-left btn-sm" style="width:160px">
                        Back to Profile
                    </a><br />
                    <hr style="margin-top:5px;margin-bottom:5px">
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-header">
                <div class="box box-solid">
                    <div class="box-primary with-border">
                    </div>
                    <div class="box-body">
                        <div class="box-group" id="accordion">
                            <div class="panel box box-primary">
                                <div class="box-header with-border bg-purple">
                                    <h6 class="box-title" style="font-size:14px">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="" aria-expanded="false" style="color:white">
                                            Resident Courses
                                        </a>
                                    </h6>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" aria-expanded="false" style="">
                                    <div class="box-body">
                                        <div class="col-xs-12 table-responsive">
                                            <table id="resident-courses-list-table" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel box box-primary">
                                <div class="box-header with-border bg-purple">
                                    <h5 class="box-title" style="font-size:14px">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix" class="collapsed" aria-expanded="false" style="color:white">
                                            Course Resources
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseSix" class="panel-collapse collapse" aria-expanded="false">
                                    <div class="box-body">
                                        <div class="col-xs-12 table-responsive">
                                            <table id="resident-resources-list-table" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel box box-primary">
                                <div class="box-header with-border bg-purple">
                                    <h5 class="box-title" style="font-size:14px">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed" aria-expanded="false" style="color:white">
                                            Field Placement Activities
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false">
                                    <div class="box-body">
                                        <div class="col-xs-12 table-responsive">
                                            <table id="resident-activities-list-table" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel box box-primary">
                                <div class="box-header with-border bg-purple">
                                    <h5 class="box-title" style="font-size:14px">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed" aria-expanded="false" style="color:white">
                                            Provisional Examination Scores
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" aria-expanded="false">
                                    <div class="box-body">
                                        <div class="col-xs-12 table-responsive">
                                            <table id="resident-examinationscores-list" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel box box-primary">
                                <div class="box-header with-border bg-purple">
                                    <h5 class="box-title" style="font-size:14px">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" class="collapsed" aria-expanded="false" style="color:white">
                                            Unit Timetable
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse" aria-expanded="false">
                                    <div class="box-body">
                                        <div class="col-xs-12 table-responsive">
                                            <table id="unit-timetable-list" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel box box-primary">
                                <div class="box-header with-border bg-purple">
                                    <h5 class="box-title" style="font-size:14px">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" class="collapsed" aria-expanded="false" style="color:white">
                                            Examination Timetable
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseFive" class="panel-collapse collapse" aria-expanded="false">
                                    <div class="box-body">
                                        <div class="col-xs-12 table-responsive">
                                            <table id="examination-timetable-list" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<div class="modal fade" id="resident-coursework-modal" tabindex="-1" role="dialog" aria-labelledby="Course Work Module" aria-hidden="true" data-backdrop="static">
    <div id="resident-coursework-container">
    </div>
</div>

<div class="modal fade" id="viewResourceFilesModal" tabindex="-1" role="dialog" aria-labelledby="viewCourseFiles" aria-hidden="true" data-backdrop="static">
    <div id="viewFilesContainer">
    </div>
</div>