﻿@{
    Layout = null;
}
<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<link href="~/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/css/ionicons.min.css" rel="stylesheet" />
<link href="~/css/AdminLTE.min.css" rel="stylesheet" />
<link href="~/css/_all-skins.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link href="~/css/jquery-ui.min.css" rel="stylesheet" />
<head>
    <title>
        Account Locked Out
    </title>

</head>
<div>
    <h1>Account Locked Out</h1>
    <div>
        <strong>
            Your account has been locked out and you are not allowed to login to the system. Please contact the
            administrator for further details and help.
        </strong>
    </div>
</div>
