﻿@model LogInViewModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "FELTP | Login";
}

<div class="container-fluid" style="background-image: linear-gradient(269deg, #080527 108%, #203c5e 6%);">
    <div class="container" style="padding:1% 0 1% 0;">
        <div class="col">
            <a href="#" style="color:#fff; text-decoration:none;"> <b> FELTP TAMS </b> </a>
        </div>
    </div>
</div>


<div class="container-fluid" style="margin-top:1px;">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-12 col-sx-12 col-12">
                <div class="form-group">
                    <img src="~/images/emblem.png" class="img-fluid" alt="Responsive image" style="width:20%; height:auto;">
                </div>
                <div class="form-group">
                    <p style="font-family: Lato; font-size: 26px; font-weight: 300;">
                        Login and start
                        <br> managing your
                        <br> operations better!
                    </p>

                    <p> TAMS is a web based information system <br> whose main purpose is to support FELTP <br> training program Operations. </p>

                    <p style="margin-top:2px;"><i class="fas fa-check-circle fa-lg" style="color:#f36f2e;"></i> Program Courses Management </p>
                    <p style="margin-top:2px;"><i class="fas fa-check-circle fa-lg" style="color:#f36f2e;"></i> System Self Service Portal Management </p>
                    <p style="margin-top:2px;"><i class="fas fa-check-circle fa-lg" style="color:#f36f2e;"></i> Program Financial Administration </p>



                </div>
            </div>

            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12" style="background-image:url('/images/slanty.jpg');  background-repeat: no-repeat;">
                <form asp-action="LogIn" asp-controller="Account" autocomplete="off" method="POST" class="col-md-8 col-sm-12 col-12" style="padding:2% 6% 2% 6%; margin-left:25%; color:#ccc; background-image: linear-gradient(218DEG, #000033, #00004d);">
                    <div class="form-group">
                        <p style="font-family: Lato; font-size: 36px; font-weight: 300; text-align:left;">
                            &nbsp Welcome to KFELTP
                            <br> &nbsp Tracking & Activity
                            <br> &nbsp Monitoring System
                        </p>
                    </div>

                    <div class="form-group col-md-12">
                        <div asp-validation-summary="All" style="color:#fc0313;"></div>
                        <h6 class="text-danger">Restricted access.</h6>
                        <label for="UserNameOrEmail">Username</label>
                        <div class="input-group">
                            @Html.HiddenFor(x => x.ReturnUrl)
                            <input asp-for="UserNameOrEmail" type="text" class="form-control" placeholder="Username">
                        </div>
                        <span asp-validation-for="UserNameOrEmail" style="color:#fdb040;"></span>
                    </div>

                    <div class="form-group col-md-12">
                        <label for="password">Password</label>
                        <div class="input-group">
                            <input asp-for="Password" type="password" class="form-control" placeholder="Password">
                        </div>
                        <span asp-validation-for="Password" style="color:#fdb040;"></span>
                    </div>

                    <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-primary" style="background-image: linear-gradient(266DEG, #fdb040, #ee2124);"> &nbsp&nbsp LOG IN &nbsp&nbsp <i class="fa fa-sign-in"></i></button>
                        &nbsp &nbsp <a href="/UserManagement/ForgotPassword" style="color:#fdb040;">Forgot your password?</a>
                        <br><br>
                        <p style="text-align:center; font-size:14px;"> By signing up you agree to our Terms of Service <br> and acknowledge our Privacy Policy.</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container" style="padding:4px;">
        <a href="#" style="color:#080527; font-size:14px; text-decoration:none;"> <center><b> KFELTP - TAMS &nbsp &nbsp  Ver 1.0.0 </b></center> </a>
    </div>
</div>
