﻿@{
    Layout = "~/Views/Shared/_LayoutTermsandConditions.cshtml";
    ViewData["Title"] = "FELTP | Terms";
}
<div class="row">
    <div class="col-md-12">
        <h4 class="page-head-line">Terms and Conditions</h4>

    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger">
            <i class="glyphicon glyphicon-exclamation-sign"></i>
            Please read through the Terms and Conditions before you can accept and proceed.
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="notice-board">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5><b>KFELTP Tracking and Activity Monitoring System (TAMS)</b></h5>
                </div>
                <div class="panel-body" style="max-height: 250px;overflow-y: scroll;">

                        <ul style="font-family: Roboto, sans-serif; font-size:12px">

                            <li>

                                <h5>
                                    <b>
                                        1	Introduction.
                                    </b>
                                </h5>

                                These KFELTP Tracking and Activity Monitoring System (TAMS) Standard Terms and Conditions contained herein on this system page, shall govern your use of this System, including all sections within this System. These Terms apply in full force and effect to your use of this System and by using this System, you expressly accept all terms and conditions contained herein in full. You must not use this System nor accept these terms and conditions if you have any objection to any of these System Standard Terms and Conditions.
                                You must be at least 18 years of age to use Tracking and Activity Monitoring System; by using TAMS or agreeing to these terms and conditions, you warrant and represent to us that you are at least 18 years of age.
                            </li>
                            <li>

                                <h5>
                                    <b>
                                        2	Intellectual Property Rights.
                                    </b>
                                </h5>
                                Other than content you own, which you may have opted to include on this System, under these Terms, KFELTP and/or its licensors own all rights to the intellectual property and material contained in this System, and all such rights are reserved.
                                You are granted a limited license only, subject to the restrictions provided in these Terms, for purposes of viewing and interacting with the material contained on this System.


                            </li>
                            <li>
                                <h5>
                                    <b>
                                        3	Restrictions.
                                    </b>
                                </h5>
                                You are expressly and emphatically restricted from all of the following:
                                1.	Publishing any of the System`s material in any media;
                                2.	Selling, sub-licensing and/or otherwise commercializing any of this system`s material;
                                3.	Publicly performing and/or showing any of this System`s material;
                                4.	Using this System in any way that is, or may be, damaging to this System;
                                5.	Using this System in any way that impacts user access to this System;
                                6.	Using this System contrary to applicable laws and regulations, or in a way that causes, or may cause, harm to the System, or to any person or business entity;
                                7.	Engaging in any data mining, data harvesting, data extracting or any other similar activity in relation to this System, or while using this System;
                                8.	Using this System to engage in any advertising or marketing;
                                Certain areas of this System are restricted from access by you and KFELTP may further restrict access by you to any areas of this System, at any time, in its sole and absolute discretion.  Any user ID and password you may have for this System are confidential and you must maintain confidentiality of such information.

                            </li>
                            <li>
                                <h5>
                                    <b>
                                        4	Your Content.
                                    </b>
                                </h5>
                                In these System Standard Terms and Conditions, “Your Content” shall mean any audio, video, text, images or other material you choose to display on this System. With respect to Your Content, by displaying it, you grant KFELTP a non-exclusive, worldwide, irrevocable, royalty-free, sub-licensable license to use, reproduce, adapt, publish, translate and distribute it in any and all media.
                                Your Content must be your own and must not be infringing on any third party’s rights. KFELTP reserves the right to remove any of Your Content from this System at any time, and for any reason, without notice.
                            </li>
                            <li>
                                <h5>
                                    <b>
                                        5	No warranties.
                                    </b>
                                </h5>
                                This System is provided “as is,” with all faults, and KFELTP makes no express or implied representations or warranties, of any kind related to this System or the materials contained on this System. Additionally, nothing contained on this System shall be construed as providing consult or advice to you at personal level.
                            </li>
                            <li>
                                <h5>
                                    <b>
                                        6	Limitation of liability.
                                    </b>
                                </h5>
                                In no event shall KFELTP, nor any of its officers, directors and employees, be liable to you for anything arising out of or in any way connected with your use of this System, whether such liability is under contract, tort or otherwise, and KFELTP, including its officers, directors and employees shall not be liable for any indirect, consequential or special liability arising out of or in any way related to your use of this System.
                            </li>
                            <li>
                                <h5>
                                    <b>
                                        7	Indemnification.
                                    </b>
                                </h5>
                                You hereby indemnify to the fullest extent KFELTP from and against any and all liabilities, costs, demands, causes of action, damages and expenses (including reasonable attorney’s fees) arising out of or in any way related to your breach of any of the provisions of these Terms.
                            </li>
                            <li>
                                <h5>
                                    <b>
                                        8	Severability.
                                    </b>
                                </h5>
                                If any provision of these Terms is found to be unenforceable or invalid under any applicable law, such un-enforceability or invalidity shall not render these Terms un-enforceable or invalid as a whole, and such provisions shall be deleted without affecting the remaining provisions herein.
                            </li>
                            <li>
                                <h5>
                                    <b>
                                        9	Variation of Terms.
                                    </b>
                                </h5>
                                KFELTP is permitted to revise these Terms at any time as it sees fit, and by using this System you are expected to review such Terms on a regular basis to ensure you understand all terms and conditions governing use of this System.
                            </li>
                            <li>
                                <h5>
                                    <b>
                                        10	Assignment.
                                    </b>
                                </h5>
                                KFELTP shall be permitted to assign, transfer, and subcontract its rights and/or obligations under these Terms without any notification or consent required. However, .you shall not be permitted to assign, transfer, or subcontract any of your rights and/or obligations under these Terms.
                            </li>
                            <li>
                                <h5>
                                    <b>
                                        11	Entire Agreement.
                                    </b>
                                </h5>
                                These Terms, including any legal notices and disclaimers contained on this System, constitute the entire agreement between KFELTP and you in relation to your use of this System, and supersede all prior agreements and understandings with respect to the same.
                            </li>
                            <li>
                                <h5>
                                    <b>
                                        12	Governing Law & Jurisdiction.
                                    </b>
                                </h5>
                                These Terms will be governed by and construed in accordance with Kenyan laws, and you submit to the non-exclusive jurisdiction of the state and courts located in Kenya for the resolution of any disputes.
                            </li>
                            <li>
                                <h5>
                                    <b>
                                        13	Breaches of these terms and conditions
                                    </b>
                                </h5>
                                Without prejudice to our other rights under these terms and conditions, if you breach these terms and conditions in any way, or if we reasonably suspect that you have breached these terms and conditions in any way, we may:
                                a)	Send you one or more formal warnings;
                                b)	Temporarily suspend your access to our website;
                                c)	Permanently prohibit you from accessing our website;
                                d)	Block computers using your IP address from accessing our System;
                                e)	Commence legal action against you, whether for breach of contract or otherwise; and/or
                                f)	Suspend or delete your account on our System.
                                Where we suspend or prohibit or block your access to our System or a part of our System, you must not take any action to circumvent such suspension or prohibition or blocking, including without limitation, creating and/or using a different account.
                            </li>



                        </ul>
     
                </div>
            </div>
        </div>
        <hr>
       
    </div>
    
</div>

@using (Html.BeginForm("TermsAndConditions", "Account", FormMethod.Post, new { id = "myForm", enctype = "multipart/form-data" }))
{
    <div class="">
        <label style="font-family: 'Roboto' , sans-serif">
            <input type="checkbox" id="AcceptTerms">
            I accept the Terms and Condistions of Service.
        </label>
        <button type="submit" class="btn btn-success btn-sm pull-right" id="btnaccept" disabled>
            Accept Terms and conditions
        </button>

    </div>
}
    <script>
    var elem = document.getElementById('AcceptTerms');
    AcceptTerms.addEventListener('click', function () {
        document.getElementById('btnaccept').disabled = !this.checked;
    });
    </script>
