﻿@model SubmitDeliverableResponse

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h5 class="modal-title">Submit Deliverable</h5>
        </div>

        <div class="modal-body">
            <text style="font-size:medium" class="alert-success">
                @Model.Message
                .Click close button to exit
            </text>
        </div>
        <div class="modal-footer">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="javascript:window.location.reload()">
                        Close
                    </button>
                </div>
            </div>
        </div>


    </div>

</div>
