﻿@using ResidentManagement.Domain

@model AddResidentDeliverableItemCommand

<div class="modal-dialog" style="width:1000px">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h5 class="modal-title">Submit Deliverable </h5>
        </div>
        <form action="/Deliverable/SubmitDeliverable" id="submit-resident-deliverable-form" method="post"
              enctype="multipart/form-data">
            <div class="modal-body">
                @Html.HiddenFor(x => x.ProgramEnrollmentId)
                @Html.HiddenFor(x => x.ResidentId)
                @Html.HiddenFor(x => x.SemesterId)
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Select Deliverable</label>
                            <select asp-for="ResidentDeliverableId" asp-items="@Model.ResidentDeliverables"
                                    class="form-control selectpicker">
                                <option value="0">Select Deliverable </option>
                            </select>
                            <span asp-validation-for="ResidentDeliverableId" class="text-danger"></span>
                        </div>
                        <div class="form-group" id="programmaticarea-dropdown-div">
                            <div class="form-group">
                                <label asp-for="ProgrammaticArea" class="control-label">Programmatic Area</label>
                                <select asp-for="ProgrammaticArea" asp-items="Html.GetEnumSelectList<ProgrammaticArea>()"
                                        class="form-control selectpicker">
                                    <option value="0">Select Area</option>
                                </select>
                                <span asp-validation-for="SubmissionType" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="checkbox">
                            <label style="font-weight:bold">
                                <input asp-for="ProgrammaticAreaFound" /> @Html.DisplayName("Select if Programmatic Area is not found in dropdown")
                            </label>
                        </div>
                        <div class="form-group" id="programmaticarea-textarea-div" style="display:none">
                            <label class="control-label">Other ProgrammaticArea</label>
                            <input asp-for="Other" class="form-control" placeholder="Enter Programmatic Area" />
                        </div>
                        <div class="form-group">
                            <label asp-for="SubmissionType" class="control-label">Submission Type</label>
                            <select asp-for="SubmissionType" asp-items="Html.GetEnumSelectList(typeof(SubmissionType))"
                                    class="form-control selectpicker">
                                <option value="0">Select Type</option>
                            </select>
                            <span asp-validation-for="SubmissionType" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">                     
                        <div class="form-group">
                            <label asp-for="Title" class="control-label"></label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <input type="text" asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                Deliverable File
                            </label>
                            <input type="file" required="required" id="DeliverableFile" class="form-control" />
                           
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" id="btn-submit-deliverable" value="Save" />
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

@section Scripts
    {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
