﻿@model ResidentDeliverableSubmissionViewModel

<div class="modal-dialog" style="width:1200px">
    @Html.HiddenFor(x => x.ResidentDeliverableId)
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">@Model.DeliverableName - Submissions</h4>
        </div>
        <div class="modal-body">
            <table id="resident-deliverable-submissions-list" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
        </div>
    </div>
</div>