﻿@model ProgramCollaboratorViewModel

<div class="modal-dialog" style="width:1000px">
    @Html.HiddenFor(x => x.CollaboratorId)
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">@Model.CollaboratorName - Programs </h4>
        </div>
        <div class="modal-body">
            <table id="program-collaborator" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>

        </div>
    </div>
</div>