﻿@{
    ViewData["Title"] = "Collaborators";
}

@section Scripts
    {
    <script type="text/javascript" src="~/js/feltp/collaborator.js"></script>
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <section class="content-header">
                <ol class="breadcrumb pull-right">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="#"><u>CollaboratorsList</u></a></li>
                </ol>
            </section>
            <h1 class="page-head-line">Collaborators List </h1>
        </div>
    </div>
    <div class="box box-header">
        <div class="box-body">
            <button type="button" class="btn btn-default btn-md" style="margin-bottom:10px" data-toggle="modal" data-url="@Url.Action("_AddCollaborator","Collaborator")" id="btnCreateCollaborator">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create New
            </button>
            <table id="collaborator-list" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
        </div>
    </div>
</section>

<div class="modal fade" id="createCollaboratorModal" tabindex="-1" role="dialog" aria-labelledby="CreateCollaboratorModal" aria-hidden="true" data-backdrop="static">
    <div id="createCollaboratorContainer">
    </div>
</div>

<div class="modal fade" id="editCollaboratorModal" tabindex="-1" role="dialog" aria-labelledby="EditCollaboratorModal" aria-hidden="true" data-backdrop="static">
    <div id="editCollaboratorContainer">
    </div>
</div>

<div class="modal fade" id="deactivateCollaboratorModal" tabindex="-1" role="dialog" aria-labelledby="DeactivateCollaboratorModal" aria-hidden="true" data-backdrop="static">
    <div id="deactivateCollaboratorContainer">
    </div>
</div>

<div class="modal fade" id="program-collaborator-modal" tabindex="-1" role="dialog" aria-labelledby="Program Collaborator" aria-hidden="true" data-backdrop="static">
    <div id="program-collaborator-container">
    </div>
</div>

