﻿@{
    ViewData["Title"] = "Programs";
}

@section Scripts
    {
    <script type="text/javascript" src="~/js/ssp/program-offers.js"></script>
}
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <section class="content-header">
                <ol class="breadcrumb pull-right">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                </ol>
            </section>
            <h1 class="page-head-line"> <i class="fa fa-bullhorn"></i>  Notice Board : FELTP Program Offers </h1>
        </div>
    </div>
    <div class="box box-header">
        <div class="box-body">
            <div id="program-offers-div">
                <div id="spinner" class="fa fa-spinner">
                </div>
            </div>
        </div>
    </div>
</section>
