﻿@model AddSemesterCommand

@{
    ViewData["Title"] = "Add Semeter";
}

@using (Html.BeginForm("_AddSemester", "SemesterManagement", FormMethod.Post, new { id = "myForm", enctype = "multipart/form-data" }))
{
@Html.ValidationSummary(true)
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Add Semeter</h4>
        </div>

        <div class="modal-body">
            <form asp-action="AddFacultyRole" asp-antiforgery="true">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn bg-purple" value="Save" />
                </div>
            </div>
        </div>


    </div>
</div>
}
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
@section Scripts
 {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}