﻿@model UpdateScheduleItemTimetableCommand
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Edit Timetable Details</h4>
        </div>
        <form method="post" id="update-timetable-form" action="/SemesterManagement/_EditTimetable">
            <div class="modal-body">
                @Html.ValidationSummary(true)

                @Html.HiddenFor(x => x.StartDate)
                @Html.HiddenFor(x => x.EndDate)
                @Html.HiddenFor(x => x.Id)
                @Html.HiddenFor(x => x.TimetableType)
                @Html.HiddenFor(x => x.UnitId)
                @Html.HiddenFor(x => x.ExaminationId)
                @Html.HiddenFor(x => x.ScheduleItemId)
                @Html.HiddenFor(x => x.SemesterScheduleId)
                
                <div class="form-group">
                    <label class="control-label">Unit Name</label>
                    <input type='text' disabled="disabled" asp-for="UnitName" class="form-control" />
                    <span asp-validation-for="UnitName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Date</label>
                    <div class='input-group date' id='selected_date'>
                        <input type='text' asp-for="Date" class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Start Time</label>
                    <div class='input-group date' id='start_time'>
                        <input type='text' asp-for="StartTime" class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">End Time</label>
                    <div class='input-group date' id='end_time'>
                        <input type='text' asp-for="EndTime" class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                </div>
                <script type="text/javascript">
                    $(function () {
                        var startDate = $("#StartDate").val();
                        var endDate = $("#EndDate").val();

                        $('#start_time').datetimepicker({
                            format: "HH:mm"
                        });

                        $('#end_time').datetimepicker({
                            format: "HH:mm"
                        });

                        $('#selected_date').datetimepicker({
                            format: 'DD/MM/YYYY'
                        });

                        $("#start_time").on("dp.change", function (e) {
                            $('#end_time').data("DateTimePicker").minDate(e.date);
                        });

                        $('#selected_date').data('DateTimePicker').minDate(startDate)
                        $('#selected_date').data('DateTimePicker').maxDate(endDate)
                    });
                </script>
                <div class="form-group">
                    <label class="control-label">Select Faculty</label>
                    <select class="form-control selectpicker" data-live-search="true" asp-items="@Model.FacultySelectList" asp-for="FacultyId">
                        <option value="0">Select Faculty</option>
                    </select>
                    <span asp-validation-for="FacultyId" class="text-danger"></span>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" id="update-timetable-btn" class="btn bg-purple" value="Update" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
