﻿@model SemesterScheduleItemViewModel

@{
    ViewData["Title"] = "Edit Course Timetable";
}

@using (Html.BeginForm("_EditCourseTimetable", "SemesterManagement", FormMethod.Post, new { id = "myForm", enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Edit CourseTimetable</h4>
            </div>

            <div class="modal-body">
                <form asp-action="CreateCourseTimetable">
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="form-group col-md-3" style="width:250px">
                        <label class="control-label">Select Topic</label>
                        <select class="form-control selectpicker" asp-for="TimetableItem.UnitId"></select>
                        <span asp-validation-for="TimetableItem.UnitId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3" style="width:250px">
                        <label class="control-label">Date</label>
                        <div class='input-group date' id='date'>
                            <input type='text' asp-for="TimetableItem.Date" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-3" style="width:250px">
                        <label class="control-label">Start Time</label>
                        <div class='input-group date' id='starttime'>
                            <input type='text' asp-for="TimetableItem.StartTime" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-time"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-3" style="width:250px">
                        <label class="control-label">End Time</label>
                        <div class='input-group date' id='endtime'>
                            <input type='text' asp-for="TimetableItem.EndTime" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-time"></span>
                            </span>
                        </div>
                    </div>

                    <script type="text/javascript">
            $(function () {
                $('#starttime').datetimepicker({
                    formatTime: "h:i a",
                    step: 60
                });
                $('#endtime').datetimepicker({
                    formatTime: "h:i a",
                    step: 60
                });
                $('#date').datetimepicker({
                    format: 'DD/MM/YYYY'

                });
            });
                    </script>
                    <div class="form-group col-md-3" style="width:250px">
                        <label class="control-label">Select Faculty</label>
                        <select class="form-control selectpicker" asp-items="@Model.FacultySelectList" asp-for="TimetableItem.FacultyId"></select>
                        <span asp-validation-for="TimetableItem.FacultyId" class="text-danger"></span>
                    </div>

                    <div class="from-group col-md-12">
                        <button type="submit" class="btn btn-primary btn-md pull-right" style="margin-top:10px">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New
                        </button>
                    </div>

                    <div class="form-group col-md-12" style="margin-top:20px">
                        <table id="course-timetable-details-table" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
                        <a asp-action="SemesterScheduleDetails" asp-route-Id="@Model.SemesterScheduleId" class="pull-right">Back to Details</a>

                    </div>
                </form>

            </div>

        </div>
        <div class="modal-footer">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn bg-purple" value="Save" />
                </div>
            </div>
        </div>

    </div>

}
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
@section Scripts
    {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}