﻿@model TimetableViewModel

<div class="modal-dialog" style="width:1200px">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">@Model.UnitName - Schedule</h4>
        </div>
        <div class="modal-body">
            @Html.HiddenFor(x => x.SemesterScheduleItemId)
            @Html.HiddenFor(x=>x.UnitId)
            <table id="course-timetable-schedule" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
        </div>
    </div>
</div>
