﻿@model AddSemesterScheduleItemCommand

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Create @Model.SemesterSchedule.Semester Course Schedule</h4>
        </div>
        <form id="create-course-schedule-form" action="/SemesterManagement/AddCourseSchedule">
            <div class="modal-body" id="course-schedule-div">
                <div asp-validation-summary="All" class="text-danger"></div>
                @Html.HiddenFor(x => x.SemesterScheduleId)
                @Html.HiddenFor(x => x.SemesterId)
                @Html.HiddenFor(x => x.ProgramId)
                @Html.HiddenFor(x => x.ScheduleItemType)
                @Html.Hidden("SemesterStartDate", Model.SemesterSchedule.StartDate)
                @Html.Hidden("SemesterEndDate", Model.SemesterSchedule.EndDate)

                <div class="form-group">
                        <label class="control-label"> Semester Start Date </label>
                        <input type="text" asp-for="SemesterSchedule.StartDate" class="form-control" disabled="disabled" />
                        </div>
                <div class="form-group">
                        <label class="control-label"> Semester End Date  </label> <br />
                        <input type="text" asp-for="SemesterSchedule.EndDate" class="form-control" disabled="disabled" />
                </div>
                    <div class="form-group">
                        <label class="control-label">Select Course Title</label>
                        <select asp-for="ProgramCourseId" asp-items="@Model.ProgramCourses"
                                class="form-control selectpicker" data-live-search="true">
                            <option value="0">Select Course</option>
                        </select>
                        <span asp-validation-for="ProgramCourseId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Start Date</label>
                        <div class='input-group date' id='StrStartDate'>
                            <input type='text' asp-for="StrStartDate" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label"> Duration In Weeks </label>
                        <input type="text" asp-for="Duration" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label"> End Date </label>
                        <input type="text" asp-for="StrEndDate" class="form-control" />
                    </div>

                    <script type="text/javascript">
                        $(function () {
                            var semStartDate = $("#SemesterStartDate").val();
                            var semEndDate = $("#SemesterEndDate").val();
                            console.log(semStartDate);
                            console.log(semEndDate);
                            
                            $('#StrStartDate').datetimepicker({
                                format: 'DD/MM/YYYY',
                                useCurrent: false,
                            });
                            
                            $('#StrStartDate').data("DateTimePicker").minDate(semStartDate);
                            $('#StrStartDate').data("DateTimePicker").maxDate(semEndDate);                                                   
                        });
                    </script>
                </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="button" id="create-course-schedule-btn" value="Save" class="btn bg-purple"/>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
@section Scripts {


    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
