﻿@model InitiateSemesterScheduleChangeRequest
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Semester Schedule Date Adjustment</h4>
        </div>
        <form action="/SemesterManagement/AdjustSemesterSchedule" method="post" id="edit-semester-schedule-form">
            <div asp-validation-summary="All" class="text-danger">
            </div>
            <div class="modal-body">
                @Html.HiddenFor(x => x.SemesterScheduleId)
                @Html.HiddenFor(x => x.ProgramOfferId)
                @Html.HiddenFor(x => x.OfferStartDate)
                @Html.HiddenFor(x => x.OfferEndDate)
                @Html.HiddenFor(x => x.Duration)
                @Html.HiddenFor(x => x.ProgramOffer)
                @Html.HiddenFor(x => x.ScheduleName)
                @Html.HiddenFor(x => x.Status)
                @Html.HiddenFor(x=>x.Semester)

                <div class="row">
                    <div class="col-md-6">
                        <b> Program Offer</b>
                    </div>
                    <div class="col-md-6" style="margin-bottom:10px">
                        @Model.ProgramOffer
                    </div>
                    <div class="col-md-6">
                        <b> Schedule Name</b>
                    </div>
                    <div class="col-md-6" style="margin-bottom:10px">
                        @Model.ScheduleName
                    </div>
                    <div class="col-md-6">
                        <b> Semester</b>
                    </div>
                    <div class="col-md-6" style="margin-bottom:10px">
                        @Model.Semester
                    </div>
                    <div class="col-md-6">
                        <b> Start Date</b>
                    </div>
                    <div class="col-md-6" style="margin-bottom:10px">
                        <div class='input-group date' id='StrStartDate'>
                            <input type='text' asp-for="StartDate" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <b> End Date</b>
                    </div>
                    <div class="col-md-6" style="margin-bottom:10px">
                        <div class='input-group date' id='StrEndDate'>
                            <input type='text' asp-for="EndDate" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <b> Semester Duration</b>
                    </div>
                    <div class="col-md-6" style="margin-bottom:10px">
                        @Model.Duration Weeks
                    </div>
                    <script>
                        $(function () {

                            var offerStartDate = $("#OfferStartDate").val();
                            var offerEndDate = $("#OfferEndDate").val();

                            $('#StrStartDate').datetimepicker({
                                format: 'DD/MM/YYYY'
                            });

                            $('#StrEndDate').datetimepicker({
                                format: 'DD/MM/YYYY'
                            });

                            $('#StrStartDate').data("DateTimePicker").minDate(offerStartDate);
                            $('#StrStartDate').data("DateTimePicker").maxDate(offerEndDate);
                            $('#StrEndDate').data("DateTimePicker").minDate(offerStartDate);
                            //$('#StrEndDate').data("DateTimePicker").maxDate(offerEndDate);

                        });
                    </script>
                    <div class="col-md-6">
                        <b> Comment</b>
                    </div>
                    <div class="col-md-6" style="margin-bottom:10px">
                        <input type='text' asp-for="Comment" class="form-control" />
                    </div>
                </div>
            </div>
        </form>

        <div class="modal-footer">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" id="btn-update-semester-details" class="btn bg-purple" value="Save" />
                </div>
            </div>
        </div>


    </div>
</div>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}