﻿@model ApproveSemesterCompletionCommand

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Approve Semester Completion Request</h4>
        </div>
        <form action="/SemesterManagement/ApproveSemesterCompletionRequest" id="approve-semester-completion-form">
            <div class="modal-body">
                @Html.HiddenFor(x => x.SemesterScheduleId)
                @Html.HiddenFor(x => x.ScheduleName)
                @Html.HiddenFor(x => x.StartDate)
                @Html.HiddenFor(x => x.EndDate)
                @Html.HiddenFor(x => x.RequestedBy)
                @Html.HiddenFor(x => x.RequestReason)


                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-6">
                        <b> Semester Name</b>
                    </div>
                    <div class="col-md-6" style="margin-bottom:10px">
                        @Html.DisplayFor(x => x.ScheduleName)
                    </div>
                    <div class="col-md-6">
                        <b> Start Date</b>
                    </div>
                    <div class="col-md-6" style="margin-bottom:10px">

                        @Html.DisplayFor(x => x.StartDate)
                    </div>
                    <div class="col-md-6">

                        <b> End Date</b>
                    </div>
                    <div class="col-md-6" style="margin-bottom:10px">
                        @Html.DisplayFor(x => x.EndDate)
                    </div>
                    <div class="col-md-6">
                        <b> Requested By</b>
                    </div>
                    <div class="col-md-6" style="margin-bottom:10px">

                        @Html.DisplayFor(x => x.RequestedBy)
                    </div>
                    <div class="col-md-6">

                        <b> Reason</b>
                    </div>
                    <div class="col-md-6" style="margin-bottom:10px">
                        @Html.DisplayFor(x => x.RequestReason)
                    </div>

                    <div class="col-md-6">

                        <b> Approval Status</b>
                    </div>
                    <div class="col-md-6" style="margin-bottom:10px">
                        <select asp-for="Status" class="selectpicker" asp-items="@Html.GetEnumSelectList<ApprovalStatus>()">
                            <option>Select Status</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <b>Comment </b>
                    </div>
                    <div class="col-md-6" style="margin-bottom:10px">
                        <textarea asp-for="Comment" class="form-control" />
                        <span asp-validation-for="Comment" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" id="btn-approve-completion-request" class="btn bg-purple" value="Save" />
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
@section Scripts {


    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
