﻿@model ApproveSemesterChangeRequest

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Approve Semester Schedule Change Request</h4>
        </div>
        <form action="/SemesterManagement/ApproveSemesterScheduleChangeRequest" id="approve-semester-changerequest-form">
            <div class="modal-body">
                @Html.HiddenFor(x => x.ChangeRequestId)
                @Html.HiddenFor(x => x.OriginalStartDate)
                @Html.HiddenFor(x => x.OriginalEndDate)
                @Html.HiddenFor(x => x.SemesterScheduleId)
                @Html.HiddenFor(x => x.ScheduleName)
                @Html.HiddenFor(x => x.StartDate)
                @Html.HiddenFor(x => x.EndDate)
                @Html.HiddenFor(x => x.Comment)
                @Html.HiddenFor(x => x.RequestedBy)


                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-6">
                        <b> Schedule Name</b>
                    </div>
                    <div class="col-md-6" style="margin-bottom:10px">
                        @Model.ScheduleName
                    </div>
                    <div class="col-md-6">
                        <b> Current Start Date</b>
                    </div>
                    <div class="col-md-6" style="margin-bottom:10px">

                        @Model.OriginalStartDate
                    </div>
                    <div class="col-md-6">
                        <b> Current End Date</b>
                    </div>
                    <div class="col-md-6" style="margin-bottom:10px">

                        @Model.OriginalEndDate
                    </div>
                    <div class="col-md-6">
                        <b> New Start Date</b>
                    </div>
                    <div class="col-md-6" style="margin-bottom:10px">

                        @Model.StartDate
                    </div>
                    <div class="col-md-6">

                        <b>New  End Date</b>
                    </div>
                    <div class="col-md-6" style="margin-bottom:10px">
                        @Model.EndDate
                    </div>
                    <div class="col-md-6">
                        <b> Requested By</b>
                    </div>
                    <div class="col-md-6" style="margin-bottom:10px">

                        @Model.RequestedBy
                    </div>
                    <div class="col-md-6">

                        <b> Comment</b>
                    </div>
                    <div class="col-md-6" style="margin-bottom:10px">
                        @Model.Comment
                    </div>

                    <div class="col-md-6">

                        <b> Approval Status</b>
                    </div>
                    <div class="col-md-6" style="margin-bottom:10px">
                        <select asp-for="ApprovalStatus" class="selectpicker" asp-items="@Html.GetEnumSelectList<ApprovalStatus>()">
                            <option value="0">Select Status</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <b>Approval Reason </b>
                    </div>
                    <div class="col-md-6" style="margin-bottom:10px">
                        <textarea asp-for="ApprovalReason" class="form-control" />
                        
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" id="btn-approve-semester-completion-request" class="btn bg-purple" value="Save" />
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
@section Scripts {


    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
