﻿@model CompleteSemesterCommand

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Complete Semester Request</h4>
        </div>
        <form action="/SemesterManagement/CompleteSemesterRequest" id="complete-semester-form">
            <div class="modal-body">
                @Html.HiddenFor(x => x.SemesterScheduleId)
                @Html.HiddenFor(x => x.ScheduleName)
                @Html.HiddenFor(x => x.StartDate)
                @Html.HiddenFor(x => x.EndDate)

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-6">
                        <b> Semester Name</b>
                    </div>
                    <div class="col-md-6" style="margin-bottom:10px">
                        @Html.DisplayFor(x => x.ScheduleName)
                    </div>
                    <div class="col-md-6">
                        <b> Start Date</b>
                    </div>
                    <div class="col-md-6" style="margin-bottom:10px">

                        @Html.DisplayFor(x => x.StartDate)
                    </div>
                    <div class="col-md-6">

                        <b> End Date</b>
                    </div>
                    <div class="col-md-6" style="margin-bottom:10px">
                        @Html.DisplayFor(x => x.EndDate)
                    </div>
                    <div class="col-md-6">
                        <b>Comment </b>
                    </div>
                    <div class="col-md-6" style="margin-bottom:10px">
                        <textarea asp-for="CompletionReason" class="form-control" />
                        <span asp-validation-for="CompletionReason" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" id="btn-complete-semester-request" class="btn bg-purple" value="Save" />
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
@section Scripts {


    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
