﻿@model AddSemesterScheduleCommand

@{
    ViewData["Title"] = "Create Semester Schedule";
}

@section Scripts
    {

    <script src="~/js/feltp/semester-management.js">  </script>
    <script src="~/js/feltp/programoffer-dropdown.js"></script>
}
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <section class="content-header">
                <ol class="breadcrumb">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="/SemesterManagement/SemesterScheduleList">Semester Schedule List</a></li>
                    <li><a href="#">Create Semester Schedule</a></li>
                </ol>
            </section>
            <h1 class="page-head-line">@ViewData["Title"]</h1>
        </div>
    </div>
    <div class="box box-header">
        <div class="box-body">
            <div class="row">
                <form asp-action="CreateSemesterSchedule">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @Html.HiddenFor(x=>x.StrEstimatedEndDate)
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Select Program</label>
                            <select asp-for="ProgramId" asp-items="@Model.ProgramSelectList"
                                    class="form-control selectpicker" data-live-search="true">
                                <option value="0">Select Program</option>
                            </select>
                            <span asp-validation-for="ProgramId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Select Program Offer</label>
                            <select asp-for="ProgramOfferId" class="form-control selectpicker"
                                    data-live-search="true"></select>
                            <span asp-validation-for="ProgramOfferId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Select Semester</label>
                            <select asp-for="SemesterId" class="form-control selectpicker"
                                    data-live-search="true"></select>
                            <span asp-validation-for="SemesterId" class="text-danger"></span>
                        </div>
                        <div id="semester-courses-div" style="display:none">

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group offer-details-div" style="display:none">
                            <label class="control-label"> Program Start Date </label>
                            <input type="text" class="form-control" id="OfferStartDate" disabled="disabled" />
                        </div>
                        <div class="form-group offer-details-div" style="display:none">
                            <label class="control-label"> Program End Date  </label>
                            <input type="text" class="form-control" id="OfferEndDate" disabled="disabled" />
                        </div>

                        <div class="form-group">
                            <label class="control-label">Estimated Start Date</label>
                            <div class='input-group date' id='StrEstimatedStartDate'>
                                <input type='text' asp-for="StrEstimatedStartDate" class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label"> Estimated End Date </label>                            
                                <input type='text' disabled="disabled" class="form-control" id="SemesterEndDate" />                          
                        </div>
                        <script type="text/javascript">
                            $(function () {

                                $('#StrEstimatedStartDate').datetimepicker({
                                    format: 'DD/MM/YYYY',
                                    useCurrent: false,

                                });
                            });
                        </script>
                    </div>


                    <div class="form-group">
                        <input type="submit" id="btn-create-semester-schedule" value="Create" class="btn btn bg-purple margin pull-right" />
                    </div>
                </form>
            </div>
        </div>
        <div class="box-footer">
            <a asp-action="SemesterScheduleList">Back to List</a>
        </div>
    </div>
</section>



