﻿@model AddScheduleItemTimetableCommand


@{
    ViewData["Title"] = "Create Course Timetable";
}

@section Scripts
    {
    <script src="~/js/feltp/semester-management.js"></script>
}

<div class="row">
    <div class="col-md-12">
        <section class="content-header">
            <ol class="breadcrumb">
                <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="/SemesterManagement/SemesterScheduleList"><u>Course Schedule Timetable</u></a></li>
            </ol>
        </section>
        <h1 class="page-head-line">@ViewData["Title"]</h1>
    </div>
</div>
<form asp-action="CreateCourseTimetable">
    <div asp-validation-summary="All" class="text-danger"></div>
    <section class="content">
        <div class="box box-header">
            <div class="box-body">
                @Html.HiddenFor(x => x.StartDate)
                @Html.HiddenFor(x => x.EndDate)
                @Html.HiddenFor(x => x.EndDateLimit)
                @Html.HiddenFor(x => x.ScheduleItemId)
                @Html.HiddenFor(x => x.TimetableType)
                @Html.HiddenFor(x => x.SemesterScheduleId)
                @Html.HiddenFor(x => x.ProgramCourseId)
                @Html.HiddenFor(x => x.TimetableItem.UnitName)
                @Html.HiddenFor(x => x.TimetableItem.FacultyName)
                @Html.HiddenFor(x => x.ScheduleItemName)
                <div class="row">
                    <div class="col-md-12" style="margin-bottom: 1em;height:60px">
                        <div class="col-md-4">
                            <b>Schedule Name</b>
                        </div>
                        <div class="col-md-8">
                            @Model.ScheduleItemName
                        </div>

                        <div class="col-md-4">
                            <b>Course Timetable Start Date </b>
                        </div>
                        <div class="col-md-8">
                            @Model.StartDate
                        </div>
                        <div class="col-md-4">
                            <b>Course Timetbale End Date</b>
                        </div>
                        <div class="col-md-8">
                            @Model.EndDate
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div class="box box-header">

            <div class="form-group col-md-3" style="width:250px">
                <label class="control-label">Select Topic</label>
                <select class="form-control selectpicker" asp-items="@Model.TimetableItem.Units" asp-for="TimetableItem.UnitId">
                    <option value="0">Select Topic</option>
                </select>
                <span asp-validation-for="TimetableItem.UnitId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3" style="width:250px">
                <label class="control-label">Date</label>
                <div class='input-group date' id='date'>
                    <input type='text' asp-for="TimetableItem.Date" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="form-group col-md-3" style="width:250px">
                <label class="control-label">Start Time</label>
                <div class='input-group date' id='starttime'>
                    <input type='text' asp-for="TimetableItem.StartTime" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                    </span>
                </div>
            </div>
            <div class="form-group col-md-3" style="width:250px">
                <label class="control-label">End Time</label>
                <div class='input-group date' id='endtime'>
                    <input type='text' asp-for="TimetableItem.EndTime" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                    </span>
                </div>
            </div>

            <script type="text/javascript">
            $(function () {
                $('#starttime').datetimepicker({
                    format: "HH:mm"
                });
                $('#endtime').datetimepicker({
                    format: "HH:mm"
                });
                $('#date').datetimepicker({
                    format: 'DD/MM/YYYY'
                });
                $("#starttime").on("dp.change", function (e) {
                    $('#endtime').data("DateTimePicker").minDate(e.date);
                });

                $('#date').data('DateTimePicker').minDate($("#StartDate").val())
                $('#date').data('DateTimePicker').maxDate($("#EndDateLimit").val())
            });
            </script>
            <div class="form-group col-md-3" style="width:250px;padding-right:4px">
                <label class="control-label">Select Faculty</label>
                <select class="form-control selectpicker" asp-items="@Model.FacultySelectList" asp-for="TimetableItem.FacultyId">
                    <option value="0">Select Faculty</option>
                </select>
                <span asp-validation-for="TimetableItem.FacultyId" class="text-danger"></span>
            </div>

            <div class="from-group col-md-12">
                <button type="submit" class="btn btn-primary btn-md pull-right" style="margin-top:10px;width:150px">
                    Save Timetable
                </button>
            </div>

            <div class="form-group col-md-12" style="margin-top:20px">
                <table id="course-timetable-details-table" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
                <a asp-action="SemesterScheduleDetails" asp-route-Id="@Model.SemesterScheduleId" class="pull-right">Back to Details</a>

            </div>
        </div>
    </section>
</form>


<div class="modal fade" id="edit_timetable_modal" tabindex="-1" role="dialog" aria-labelledby="Update Applicant Modal" aria-hidden="true" data-backdrop="static">
    <div id="edit_timetable_container">
    </div>
</div>

