﻿
@{
    ViewData["Title"] = "Semester Completion Requests Pending Approval";
}

@section Scripts
    {
    <script type="text/javascript" src="~/js/feltp/semester-management.js"></script>
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <section class="content-header">
                <ol class="breadcrumb pull-right">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="#"><U>Semester Completion Request</U></a></li>
                </ol>
            </section>
            <h1 class="page-head-line">Semester Completion Request List </h1>
        </div>
    </div>
    <div class="box box-header">
        <div class="box-body">
            <table id="semester-schedule-pendingcompletion-list-table" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
        </div>
    </div>
</section>


<div class="modal fade" id="semester-schedule-completion-modal" tabindex="-1" role="dialog" aria-labelledby="Semester Schedule" aria-hidden="true" data-backdrop="static">
    <div id="semester-schedule-completion-container">
    </div>
</div>