﻿@model IEnumerable<SemesterViewModel>
@{
    ViewData["Title"] = "Semester List";
}

@section Scripts
    {
    <script type="text/javascript" src="~/js/feltp/semester-management.js">   alert("Test javascript")</script>
}
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <section class="content-header">
                    <ol class="breadcrumb pull-right">
                        <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                        <li><a href="#">Semester</a></li>
                    </ol>
                </section>
                <h1 class="page-head-line">Semester List </h1>
            </div>
        </div>
        <div class="box box-header">
            <div class="box-body">
                <button type="button" class="btn btn-default btn-md" style="margin-bottom:10px" data-toggle="modal" data-url="@Url.Action("_AddSemester","SemesterManagement")" id="btnCreateSemester">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create New
                </button>
                <table id="semester-list" class="table table-bordered table-striped" cellspacing="0"></table>
            </div>
        </div>
    </section>

<div class="modal fade" id="createSemesterModal" tabindex="-1" role="dialog" aria-labelledby="CreateSemesterModal" aria-hidden="true" data-backdrop="static">
    <div id="createSemesterContainer">
    </div>
</div>

<div class="modal fade" id="editSemesterModal" tabindex="-1" role="dialog" aria-labelledby="EditSemesterModal" aria-hidden="true" data-backdrop="static">
    <div id="editSemesterContainer">
    </div>
</div>
<div class="modal fade" id="deactivateSemesterModal" tabindex="-1" role="dialog" aria-labelledby="DeactivateProgramTierModal" aria-hidden="true" data-backdrop="static">
    <div id="deactivateSemesterContainer">
    </div>
</div>



