﻿
@{
    ViewData["Title"] = "Semester Schedule List";
}


@section Scripts
{
    <script type="text/javascript" src="~/js/feltp/semester-management.js"></script>
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <section class="content-header">
                <ol class="breadcrumb pull-right">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="#"><U>SemesterSchedule</U></a></li>
                </ol>
            </section>
            <h1 class="page-head-line">Semester Schedule List </h1>
        </div>
    </div>
    <div class="box box-header">
        <div class="box-body">
            <a asp-controller="SemesterManagement" asp-action="CreateSemesterSchedule" class="btn btn-default btn-md" style="margin-bottom:10px"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>  Create New</a><p></p>
            <table id="semester-schedule-list-table" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
        </div>
    </div>
</section>
