﻿@model SemesterScheduleViewModel

@{
    ViewData["Title"] = Model.Description;
}

@section Scripts
{
    <script src="~/js/feltp/semester-management.js"></script>
}

<div class="row">
    <div class="col-md-12">
        <section class="content-header">
            <ol class="breadcrumb">
                <li>
                    <a href="/Home/Index"><i class="fa fa-home"></i> Home</a>
                </li>
                <li>
                    <a href="/SemesterManagement/SemesterScheduleList"><i class="fa fa-home"></i> Semester Schedule List</a>
                </li>
                <li>
                    <a href="#">Semester Schedule Details</a>
                </li>
            </ol>
        </section>
        <h1 class="page-head-line">@ViewData["Title"]</h1>
    </div>
</div>

<div class="col-md-9">
    <div class="box box-header" style="height: 190px">
        <div class="box-body">
            @Html.Hidden("SemesterScheduleId", Model.Id)

            <div class="col-md-12">
                @if (Model == null)
                {
                    <div>
                        Semester Schedule Details Not Found
                    </div>
                    return;
                }
                <div class="row">
                    <div class="col-md-6">

                        <div class="col-md-4">
                            <b>Program</b>
                        </div>
                        <div class="col-md-8">
                            @Model.Program
                        </div>
                        <div class="col-md-4">
                            <b>Program Offer</b>
                        </div>
                        <div class="col-md-8">
                            @Model.ProgramOffer
                        </div>
                        <div class="col-md-4">
                            <b>Semester</b>
                        </div>
                        <div class="col-md-8">
                            @Model.Semester
                        </div>
                        <div class="col-md-4">
                            <b>Status</b>
                        </div>
                        <div class="col-md-8">
                            @Model.Status
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-4">
                            <b>Start Date</b>
                        </div>
                        <div class="col-md-8">
                            @Model.EstimatedStartDate
                        </div>
                        <div class="col-md-4">
                            <b>End Date</b>
                        </div>
                        <div class="col-md-8">
                            @Model.EstimatedEndDate
                        </div>
                        <div class="col-md-4">
                            <b>CreatedBy</b>
                        </div>
                        <div class="col-md-8">
                            @Model.CreatedBy
                        </div>
                        <div class="col-md-4">
                            <b>Date Created</b>
                        </div>
                        <div class="col-md-8">
                            @Model.DateCreated
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col-md-3">
    <div class="box box-header" style="height: 190px;">
        <!-- /.box-header -->
        <div class="box-body">
            <a class="btn btn-primary btn-md pull-left btn-sm adjust-semester-date-link" style="width: 180px" href="/SemesterManagement/AdjustSemesterSchedule?semesterScheduleId=@Model.Id">
                Adjust Semester Dates
            </a>
            <br />
            <hr style="margin-bottom: 5px; margin-top: 5px" />
            <a class="btn btn-primary btn-md pull-left btn-sm add-course-schedule-link" style="width: 180px" href="/SemesterManagement/AddCourseSchedule?scheduleId=@Model.Id&programId=@Model.ProgramId&semesterId=@Model.SemesterId">
                Add Course Schedule
            </a>
            <br />
            <hr style="margin-bottom: 5px; margin-top: 5px" />
            @if (!Model.CatScheduleCreated)
            {
                <a class="btn btn-primary btn-md pull-left btn-sm add-cat-schedule-link" style="width: 180px" href="/SemesterManagement/AddCatSchedule?scheduleId=@Model.Id&programId=@Model.ProgramId&semesterId=@Model.SemesterId">
                    Add CAT Schedule
                </a>
                <br />
                <hr style="margin-bottom: 5px; margin-top: 5px" />
            }
            @if (!Model.ExaminationScheduleCreated)
            {
                <a class="btn btn-primary btn-md pull-left btn-sm add-examination-link" style="width: 180px" href="/ExaminationManagement/AddExaminationSchedule?scheduleId=@Model.Id&programId=@Model.ProgramId&semesterId=@Model.SemesterId">
                    Add Examination Schedule
                </a>
                <br />
                <hr style="margin-bottom: 5px; margin-top: 5px" />
            }
            @if (Model.SemesterCompletionRequestPending)
            {
                <a class="btn btn-primary btn-md pull-left btn-sm complete-semester-link" style="width: 180px" href="/SemesterManagement/CompleteSemesterRequest?semesterScheduleId=@Model.Id">
                    Complete Semester
                </a>
                <br />
                <hr style="margin-bottom: 5px; margin-top: 5px" />
            }
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</div>

<div class="col-md-12">
    <div class="box box-header">
        <div class="box-body">

            <h4 style="text-align: center">Curriculum Schedule</h4>
            <div class="col-md-12">
                <table id="semester-curiculum-schedule-list" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
            </div>
            <div class="box-footer pull-right">
                <a asp-controller="SemesterManagement" asp-action="SemesterScheduleList">Back to List</a>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
</div>
<div class="modal fade" id="semester-schedule-modal" tabindex="-1" role="dialog" aria-labelledby="Semester Schedule" aria-hidden="true" data-backdrop="static">
    <div id="semester-schedule-container">
    </div>
</div>