﻿
@{
    ViewData["Title"] = "Semester Schedule Change Requests";
}

@section Scripts
 {
    <script type="text/javascript" src="~/js/feltp/semester-management.js"></script>
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <section class="content-header">
                <ol class="breadcrumb pull-right">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="/SemesterManagement/SemesterScheduleChangeRequests">Schedule Change Request</a></li>
                </ol>
            </section>
            <h1 class="page-head-line">Semester Schedule Change Requests</h1>
        </div>
    </div>
    <div class="box box-header">
        <div class="box-body">
            <table id="semester-schedule-change-request" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
        </div>
    </div>
</section>

<div class="modal fade" id="approve-schedule-change-modal" tabindex="-1" role="dialog" aria-labelledby="Approve Semester Schedule Change" aria-hidden="true" data-backdrop="static">
    <div id="approve-schedule-change-container">
    </div>
</div>