﻿@model TimetableViewModel
@{
    var split = Model.ScheduleItemName.Split("(");

    ViewData["Title"] = $" { split[0] } Course Timetable";
}

@section Scripts
  {
    <script type="text/javascript" src="~/js/feltp/semester-management.js"></script>
  }
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <section class="content-header">
                <ol class="breadcrumb">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="#">View Course Timetable</a></li>
                </ol>
            </section>
            <h1 class="page-head-line">@ViewData["Title"]</h1>
        </div>
    </div>
    <div class="box box-header">
        <div class="box-body">
            @Html.HiddenFor(x => x.SemesterScheduleItemId)
            <table id="course-timetable-schedule-table" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
        </div>
        <div class="box-footer">
            <a asp-controller="SemesterManagement" asp-action="SemesterScheduleDetails" asp-route-Id="@Model.SemesterScheduleId">Back to Details</a>
        </div>
    </div>
</section>

<div class="modal fade" id="editCourseTimetableModal" tabindex="-1" role="dialog" aria-labelledby="Edit Course Timetable" aria-hidden="true" data-backdrop="static">
    <div id="editCourseTimetablecontainer">
    </div>
</div>
<div class="modal fade" id="viewCourseTimetablemodal" tabindex="-1" role="dialog" aria-labelledby="View Course Timetable" aria-hidden="true" data-backdrop="static">
    <div id="viewCourseTimetableontainer">
    </div>
</div>

