﻿@using Microsoft.AspNetCore.Identity
@using UserManagement.Domain;
@{
    ViewData["Title"] = "Main DashBoard";
}
<div class="row">
    <div class="col-md-12">
        <h4 class="page-head-line">Dashboard</h4>
    </div>
</div>


<div class="row">
    <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="dashboard-div-wrapper bk-clr-one">
            <i class="fa fa-file dashboard-div-icon"></i>
            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                </div>

            </div>
            <h5><a asp-area="" asp-controller="ProgramManagement" asp-action="DashBoard" style="color:white">Program Management</a></h5>
        </div>
    </div>
	
	<div class="col-md-3 col-sm-3 col-xs-6">
        <div class="dashboard-div-wrapper bk-clr-two">
            <i class="glyphicon glyphicon-blackboard dashboard-div-icon"></i>
            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                </div>

            </div>
            <h5><a asp-area="" asp-controller="FacultyManagement" asp-action="DashBoard" style="color:white"> Faculty Management</a></h5>
        </div>
    </div>
	
    <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="dashboard-div-wrapper bk-clr-three">
            <i class="fa fa-user dashboard-div-icon"></i>
            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                </div>

            </div>
            <h5><a asp-area="" asp-controller="ResidentManagement" asp-action="DashBoard" style="color:white"> Resident Management</a></h5>
        </div>
    </div>

    <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="dashboard-div-wrapper bk-clr-four">
            <i class="fa fa-gears dashboard-div-icon"></i>
            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                </div>

            </div>
            <h5><a asp-area="" asp-controller="UserManagement" asp-action="DashBoard" style="color:white"> User Management</a></h5>
        </div>
    </div>
</div>
