﻿@model string

@{
    ViewData["Title"] = "Sample Report";
}


@section Scripts
 {
    <script src="~/ReportViewer/js/telerikReportViewer-12.0.18.416.js"></script>
    <script src="~/ReportViewer/js/telerikReportViewer.kendo-12.0.18.416.min.js"></script>
}
<h2>Sample Report</h2>

@Html.Raw(Model)