﻿@model UpdatePersonContactInfoCommand

@{
    ViewData["Title"] = "Update Faculty Contact Info";
}

@using (Html.BeginForm("_EditFacultyContactInfo", "FacultyManagement", FormMethod.Post, new { id = "myForm", enctype = "multipart/form-data" }))
{

    @Html.ValidationSummary(true)
    <div class="modal-dialog" style="width:1000px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Update Applicant Contact Info</h4>
            </div>
            
            <div class="modal-body">
                <form asp-action="_EditFaculty" asp-antiforgery="true">
                    @Html.HiddenFor(x => x.ContactInfo.Id)
                    @Html.HiddenFor(x => x.AddressInfo.Id)
                    @Html.HiddenFor(x => x.PersonId)
                    @Html.HiddenFor(x => x.CorrelationId)
                    @Html.HiddenFor(x => x.ProgramOfferId)
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Email Address </label>
                                <input type="email" asp-for="ContactInfo.EmailAddress" class="form-control" required="required"
                                       placeholder="Enter Email Address" />
                                <span asp-validation-for="ContactInfo.EmailAddress" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Primary Mobile Number</label>
                                <input type="tel" asp-for="ContactInfo.PrimaryMobileNumber" pattern="^\d{10}$" class="form-control" required="required" placeholder="Enter Primary Mobile Number" />
                                <span asp-validation-for="ContactInfo.PrimaryMobileNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Alternate Mobile Number </label>
                                <input type="tel" asp-for="ContactInfo.AlternateMobileNumber" pattern="^\d{10}$" class="form-control" placeholder="Enter Alternate Mobile Number" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">Postal Address</label>
                                <input type="text" asp-for="AddressInfo.PostalAddress" class="form-control" required="required"
                                       placeholder="Enter Postal Address" />
                                <span asp-validation-for="AddressInfo.PostalAddress" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Country </label>
                                <select class="form-control selectpicker" required="required" asp-items="Model.Countries"
                                        asp-for="AddressInfo.CountryId" data-live-search="true"></select>
                                <span asp-validation-for="AddressInfo.CountryId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">County </label>
                                <select class="form-control selectpicker" asp-items="Model.Counties" asp-for="AddressInfo.CountyId" data-live-search="true"></select>
                                <span asp-validation-for="AddressInfo.CountyId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Sub-County </label>
                                <select class="form-control selectpicker" asp-items="Model.Subcounties" asp-for="AddressInfo.SubCountyId" data-live-search="true"></select>
                                <span asp-validation-for="AddressInfo.SubCountyId" class="text-danger"></span>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn bg-purple" value="Save" />
                    </div>
                </div>
            </div>


        </div>
    </div>
}
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
                }