﻿@using Microsoft.AspNetCore.Identity
@using UserManagement.Domain;
@{
    ViewData["Title"] = "Faculty Management";
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Faculty | Dashboard</title>
</head>
<body>

            <div class="row">
                <div class="col-md-12">
                    <h4 class="page-head-line">Faculty Dashboard</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="dashboard-div-wrapper bk-clr-two">
                        <i class="fa fa-files-o dashboard-div-icon"></i>
                        <div class="progress progress-striped active">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                            </div>
                        </div>
                        <h5><a asp-area="" asp-controller="FacultyManagement" asp-action="FacultyRoleList" style="color:white">Faculty Roles</a></h5>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="dashboard-div-wrapper bk-clr-two">
                        <i class="glyphicon glyphicon-blackboard dashboard-div-icon"></i>
                        <div class="progress progress-striped active">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                            </div>

                        </div>
                        <h5><a asp-area="" asp-controller="FacultyManagement" asp-action="FacultyList" style="color:white">Faculty</a> </h5>
                    </div>
                </div>
            </div>

</body>
</html>
