﻿@model DeactivateFacultyCommand
@{
    Layout = null;
}

<div class="modal-dialog" style="width: 600px;">
    <div class="modal-content">
        <div class="modal-header">
            <center>
                <h4 class="modal-title">
                    Deactivate Faculty <b> @Model.Name (@Model.PersonnelNumber) </b>
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h4>
            </center>

        </div>
        <div class="modal-body">
            <form id="deactivate-faculty-form" action="/FacultyManagement/DeactivateFaculty">
                @Html.HiddenFor(x => x.FacultyId)
                @Html.HiddenFor(x => x.Name)
                @Html.HiddenFor(x => x.PersonnelNumber)
                <center><i class="fa fa-warning danger" style="font-size:48px;color:#d9534f;"></i></center>
                <center><h5>Are you sure you want to deactivate ?</h5></center>
            </form>
        </div>
        <div class="modal-footer">
            @Html.ActionLink("Close", "FacultyDetails", null, new { Id = Model.FacultyId }, new { @class = "btn btn-default pull-left" })
            <input type="submit" value="Deactivate" id="deactivate-faculty-btn" class="btn btn-danger pull-right" />
        </div>
    </div>
</div>