﻿@model FacultyActivationDeactivationResult
@{
    Layout = null;
}

<div class="modal-dialog" style="width: 600px;">
    <div class="modal-content">
        <div class="modal-header">
            <center>
                <h4 class="modal-title">
                      Result
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h4>
            </center>

        </div>
        <div class="modal-body">
            <form>
                <div >
                    <center><h5 class="bg-success">@Model.Message</h5></center>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            @Html.ActionLink("Close", "FacultyDetails", null, new { Id = Model.Id }, new { @class = "btn btn-default pull-right" })
        </div>
    </div>
</div>