﻿
@{
    ViewData["Title"] = "Faculty Role List";
}

@section Scripts
    {
    <script type="text/javascript" src="~/js/feltp/faculty-management.js"></script>
}
<section class="content">
    <div class="row">
            <section class="content-header">
                <ol class="breadcrumb pull-right">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="#"><u>FacultyRole</u></a></li>
                </ol>
            </section>
            <h1 class="page-head-line">Faculty Role List </h1>
       
    </div>
    <div class="box box-header">
        <div class="box-body">
            <button type="button" class="btn btn-default btn-md" style="margin-bottom:10px" data-toggle="modal" data-url="@Url.Action("_AddFacultyRole","FacultyManagement")" id="btnCreateFacultyRole">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create New
            </button>
            <table id="faculty-role-list" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
        </div>
    </div>
</section>

<div class="modal fade" id="createFacultyRoleModal" tabindex="-1" role="dialog" aria-labelledby="CreateFacultyRoleModal" aria-hidden="true" data-backdrop="static">
    <div id="createFacultyRoleContainer">
    </div>
</div>

<div class="modal fade" id="editFacultyRoleModal" tabindex="-1" role="dialog" aria-labelledby="EditFacultyRoleModal" aria-hidden="true" data-backdrop="static">
    <div id="editFacultyRoleContainer">
    </div>
</div>
<div class="modal fade" id="detailsFacultyRoleModal" tabindex="-1" role="dialog" aria-labelledby="DetailsFacultyRoleModal" aria-hidden="true" data-backdrop="static">
    <div id="detailsFacultyRoleContainer">
    </div>
</div>

<div class="modal fade" id="deactivateFacultyRoleModal" tabindex="-1" role="dialog" aria-labelledby="DeactivateFacultyRoleModal" aria-hidden="true" data-backdrop="static">
    <div id="deactivateFacultyRoleContainer">
    </div>
</div>

