﻿@model FacultyViewModel
@{
    ViewData["Title"] = "Faculty Details";
}
@section Scripts
    {
    <script src="~/js/feltp/applicant-resident-common-grids.js"></script>
    <script src="~/js/feltp/faculty-management.js"></script>
    <script src="~/js/feltp/cadre-dropdown.js"></script>
    <script src="~/js/feltp/county-dropdown.js"></script>
    <script src="~/js/feltp/subcounty-dropdown.js"></script>

}
<div class="row">
    <div class="col-md-12">
        <section class="content-header">
            <ol class="breadcrumb pull-right">
                <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="#"><u>Faculty Details</u></a></li>
            </ol>
        </section>
        <h1 class="page-head-line">Faculty Details </h1>
    </div>
</div>
@if (Model.Person.BioDataInfo == null)
{
    <div class="row">
        <div class="row">
            <div class="col-md-9">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        Details Not Found
                    </div>
                </div>
            </div>
        </div>
    </div>
    return;
}
<div class="content">
    <div class="row">
        <div class="row">
            <div class="col-md-9">
                <div class="box box-header">
                    <div class="box-header with-border">
                        <h3 class="box-title">Faculty General Information</h3>
                    </div>
                    <div class="box-body">
                        @Html.Hidden("PersonId", Model.Person.BioDataInfo.Id)
                        @Html.Hidden("FacultyId", Model.Id)
                        @Html.Hidden("CadreId", Model.Person.BioDataInfo.CadreId)


                        <strong><i class="fa fa-file-text-o margin-r-5" style="color:#2196F3"></i>Bio Data</strong>
                        <div class="col-md-12" style="border-bottom: 1px solid #d2d6de;">
                            <div class="col-md-6" style="margin-bottom: 1em;">
                                <div class="col-md-6">
                                    <b> First Name</b>
                                </div>
                                <div class="col-md-6">
                                    @Html.DisplayFor(model => model.Person.BioDataInfo.FirstName)
                                </div>
                                <div class="col-md-6">
                                    <b>Last Name</b>
                                </div>
                                <div class="col-md-6">
                                    @Html.DisplayFor(model => model.Person.BioDataInfo.LastName)
                                </div>
                                <div class="col-md-6">
                                    <b>Other Name</b>
                                </div>
                                <div class="col-md-6">
                                    @if (Model.Person.BioDataInfo.OtherName == null)
                                    {
                                        <div class="col-md-6" style="padding-right:1px;padding-left:1px">
                                            Not Found
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-md-6" style="padding-right:1px;padding-left:1px">
                                            @Html.DisplayFor(model => model.Person.BioDataInfo.OtherName)
                                        </div>
                                    }

                                </div>
                                <div class="col-md-6">
                                    <b>Identification Type </b>
                                </div>
                                <div class="col-md-6">
                                    @Html.DisplayFor(model => model.Person.BioDataInfo.IdentificationType)
                                </div>
                            </div>
                            <div class="col-md-6">

                                <div class="col-md-6">
                                    <b>Identification Number </b>
                                </div>
                                <div class="col-md-6">
                                    @Html.DisplayFor(model => model.Person.BioDataInfo.IdentificationNumber)
                                </div>
                                <div class="col-md-6">
                                    <b>Gender</b>
                                </div>
                                <div class="col-md-6">
                                    @Html.DisplayFor(model => model.Person.BioDataInfo.Gender)
                                </div>
                                <div class="col-md-6">
                                    <b>Date of Birth</b>
                                </div>
                                <div class="col-md-6">
                                    @Model.Person.BioDataInfo.DateOfBirth.ToShortDateString()
                                </div>
                                <div class="col-md-6">
                                    <b>Status</b>
                                </div>
                                <div class="col-md-6">
                                    @Model.Status
                                </div>
                            </div>

                        </div>
                        <hr />
                        <strong><i class="fa fa-envelope margin-r-5" style="color:#2196F3"></i>Adress Information</strong>
                        <div class="col-md-12" style="border-bottom: 1px solid #d2d6de;">
                            <div class="col-md-6" style="margin-bottom: 1em;">
                                <div class="col-md-6">
                                    <b>Country</b>
                                </div>
                                <div class="col-md-6">
                                    @if (Model.Person.AddressInfo == null)
                                    {
                                        <div class="col-md-6" style="padding-right:1px;padding-left:1px">
                                            Not Found
                                        </div>
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(model => model.Person.AddressInfo.Country)

                                    }
                                </div>
                                <div class="col-md-6">
                                    <b>County</b>
                                </div>
                                <div class="col-md-6">
                                       @if (Model.Person.AddressInfo == null)
                                       {
                                           <div class="col-md-6" style="padding-right:1px;padding-left:1px">
                                               Not Found
                                           </div>
                                       }
                                       else
                                       {
                                           @Html.DisplayFor(model => model.Person.AddressInfo.County)

                                       }
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-6">
                                    <b>Sub-County</b>
                                </div>
                                <div class="col-md-6">
                                    @if (Model.Person.AddressInfo == null)
                                    {
                                        <div class="col-md-6" style="padding-right:1px;padding-left:1px">
                                            Not Found
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-md-6" style="padding-right:1px;padding-left:1px">
                                            @Html.DisplayFor(model => model.Person.AddressInfo.SubCounty)
                                        </div>
                                    }
                                </div>
                                <div class="col-md-6">
                                    <b>Postal Address</b>
                                </div>
                                @if (Model.Person.AddressInfo == null)
                                {
                                    <div class="col-md-6" style="padding-right:1px;padding-left:1px">
                                        Not Found
                                    </div> 
                                }
                                else
                                {
                                    <div class="col-md-6">
                                        @Html.DisplayFor(model => model.Person.AddressInfo.PostalAddress)
                                    </div>
                                }
                                
                            </div>
                        </div>
                        <hr>
                        <strong><i class="fa fa-phone margin-r-5" style="color:#2196F3"></i> Contact Information</strong>
                        <div class="col-md-12" style="border-bottom: 1px solid #d2d6de;">
                            <div class="col-md-6" style="margin-bottom: 1em;">
                                <div class="col-md-6">
                                    <b>Primary Phone No.</b>
                                </div>
                                <div class="col-md-6">
                                    @if (Model.Person.ContactInfo == null)
                                    {
                                        <div class="col-md-6 pull-left" style="padding-right:1px;padding-left:1px">
                                            Not Found
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-md-6 pull-left" style="padding-right:1px;padding-left:1px">
                                            @Html.DisplayFor(model => model.Person.ContactInfo.PrimaryMobileNumber)
                                        </div>
                                    }
                                </div>
                                <div class="col-md-6">
                                    <b>Alternate Phone No.</b>
                                </div>
                                <div class="col-md-6">
                                    @if (Model.Person.ContactInfo == null)
                                    {
                                        <div class="col-md-6 pull-left" style="padding-right:1px;padding-left:1px">
                                            Not Found
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-md-6 pull-left" style="padding-right:1px;padding-left:1px">
                                            @Html.DisplayFor(model => model.Person.ContactInfo.AlternateMobileNumber)
                                        </div>
                                    }

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-6">
                                    <b>Email</b>
                                </div>
                                <div class="col-md-6">
                                    @if (Model.Person.ContactInfo == null)
                                    {
                                        <div class="col-md-6 pull-left" style="padding-right:1px;padding-left:1px">
                                            Not Found
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-md-6 pull-left" style="padding-right:1px;padding-left:1px">
                                            @Html.DisplayFor(model => model.Person.ContactInfo.EmailAddress)
                                        </div>
                                    }
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box box-header" style="height: 410px;">
                    <div class="box-header with-border">
                        <h3 class="box-title">Actions</h3>
                    </div>
                    <div class="box-body">
                        <a asp-area="" asp-controller="FacultyManagement" asp-action="FacultyList" class="btn btn-primary btn-md pull-left btn-sm" style="width:150px">
                            Back To List
                        </a><br />
                        <hr style="margin-top:5px;margin-bottom:5px" />
                        <button type="button" class="btn btn-primary btn-md pull-left btn-sm" style="width:150px" data-toggle="modal" data-url="@Url.Action("_EditFacultyBioData","FacultyManagement",new { facultyId = Model.Id})" id="btnUpdateFacultyBioData">
                            Edit Bio Data
                        </button><br />
                        <hr style="margin-top:5px;margin-bottom:5px" />
                        <button type="button" class="btn btn-primary btn-md pull-left btn-sm" style="width:150px" data-toggle="modal" data-url="@Url.Action("_EditFacultyContactInfo","FacultyManagement",new { personId = Model.Person.BioDataInfo.Id, facultyId = Model.Id})" id="btnUpdateFacultyContactInfo">
                            Edit Contact Info
                        </button><br />
                        <hr style="margin-top:5px;margin-bottom:5px" />
                        @if (Model.Status == Status.Active.ToString())
                        {

                            <button type="button" class="btn btn-primary btn-md pull-left btn-sm" style="width:150px" data-toggle="modal" data-url="@Url.Action("DeactivateFaculty","FacultyManagement",new { facultyId = Model.Id})" id="btnDeactivateFaculty">
                                Deactivate Faculty
                            </button><br />
                            <hr style="margin-top:5px;margin-bottom:5px" />
                        }
                        else
                        {
                            <button type="button" class="btn btn-primary btn-md pull-left btn-sm" style="width:150px" data-toggle="modal" data-url="@Url.Action("ActivateFaculty","FacultyManagement",new { facultyId = Model.Id})" id="btnActivateFaculty">
                                Activate Faculty
                            </button><br />
                            <hr style="margin-top:5px;margin-bottom:5px"/>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-header">
                    <div class="box box-solid">
                        <div class="box-primary with-border">
                        </div>
                        <div class="box-body">
                            <div class="box-group" id="accordion">
                                <div class="panel box box-primary">
                                    <div class="box-header with-border bg-purple">
                                        <h6 class="box-title" style="font-size:14px">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="" aria-expanded="false" style="color:white">
                                                Academic Details
                                            </a>
                                        </h6>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in" aria-expanded="false" style="">
                                        <div class="box-body">
                                            <table id="academic-history-list-table" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel box box-primary">
                                    <div class="box-header with-border bg-purple">
                                        <h5 class="box-title" style="font-size:14px">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed" aria-expanded="false" style="color:white">
                                                Employment Details
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false">
                                        <div class="box-body">
                                            <table id="employment-history-list-table" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel box box-primary">
                                    <div class="box-header with-border bg-purple">
                                        <h5 class="box-title" style="font-size:14px">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" class="collapsed" style="color:white">
                                                Faculty Roles
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                        <div class="box-body">
                                            <div class="col-xs-12 table-responsive">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr></tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (Model.Roles == null)
                                                        {
                                                            <text>Roles Not Found</text>
                                                        }
                                                        else
                                                        {
                                                            @foreach (var role in Model.Roles)
                                                            {
                                                                <tr>
                                                                    <td>@role.Name</td>
                                                                </tr>

                                                            }

                                                        }

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="panel box box-primary">
                                    <div class="box-header with-border bg-purple">
                                        <h5 class="box-title" style="font-size:14px">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" class="collapsed" aria-expanded="false" style="color:white">
                                                Examination Schedule
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseFour" class="panel-collapse collapse" aria-expanded="false">
                                        <div class="box-body">
                                            <table id="examination-schedule-list-table" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel box box-primary">
                                    <div class="box-header with-border bg-purple">
                                        <h5 class="box-title" style="font-size:14px">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" class="collapsed" aria-expanded="false" style="color:white">
                                                Course Schedule
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseFive" class="panel-collapse collapse" aria-expanded="false">
                                        <div class="box-body">
                                            <table id="course-schedule-list-table" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="updateFacultyBioDataModal" tabindex="-1" role="dialog" aria-labelledby="Update Faculty Modal" aria-hidden="true" data-backdrop="static">
    <div id="updateFacultyBioDataContainer">
    </div>
</div>
<div class="modal fade" id="updateFacultyContactInfoModal" tabindex="-1" role="dialog" aria-labelledby="Update Faculty Modal" aria-hidden="true" data-backdrop="static">
    <div id="updateFacultyContactInfoContainer">
    </div>
</div>