﻿@{
    ViewData["Title"] = "Faculty List";
}

@section Scripts
    {
    <script type="text/javascript" src="~/js/feltp/faculty-management.js"></script>
}
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <section class="content-header">
                <ol class="breadcrumb pull-right">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="#"><u>Faculty</u></a></li>
                </ol>
            </section>
            <h1 class="page-head-line">Faculty List </h1>
        </div>
    </div>
    <div class="box box-header">
        <div class="box-body">
            <a asp-controller="FacultyManagement" asp-action="AddFaculty" class="btn btn-default btn-md" style="margin-bottom:10px"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Register New</a><p></p>
            <table id="faculty-list" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
        </div>
    </div>
</section>

<div class="modal fade" id="deactivatFacultyModal" tabindex="-1" role="dialog" aria-labelledby="DeactivatFacultyModal" aria-hidden="true" data-backdrop="static">
    <div id="deactivatFacultyContainer">
    </div>
</div>