﻿@model AddCompetencyCommand
@{
    Layout = null;
}

@using (Html.BeginForm("Delete", "Competency", FormMethod.Post, new { id = "myForm", enctype = "multipart/form-data" }))
{

    <div class="modal-dialog" style="width: 400px;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Deactivate Competency</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

               <h5>Are you sure you want to deactivate this?</h5>
            </div>
            <div class="modal-footer">
                @Html.HiddenFor(x => x.Name)
                <input type="submit" value="Deactivate" class="btn btn-danger" />
                @Html.ActionLink("Close", "CompetencyList", null, new { data_dismiss = "modal" }, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}