﻿@model AddCompetencyDeliverableCommand

@{
    ViewData["Title"] = "Add Competency Deliverable";
}


<section class="content">
    <div class="box box-header">
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <form asp-action="AddCompetencyDeliverable">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label class="control-label">Select Competency</label>
                                <select asp-for="CompetencyId" class="form-control selectpicker">
                                </select>
                                <span asp-validation-for="CompetencyId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label"> Select Deliverable </label>

                                <select asp-for="DeliverableId" class="form-control selectpicker" multiple>
                                </select>
                                <span asp-validation-for="DeliverableId" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Create" class="btn bg-purple margin pull-right" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <a asp-action="CompetencyDeliverableList">Back to List</a>
        </div>
    </div>
</section>
<div>


</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript" src="~/js/feltp/competency-dropdown.js"></script>
    <script type="text/javascript" src="~/js/feltp/deliverable-dropdown.js"></script>
}
