﻿@model IEnumerable<CompetencyDeliverableViewModel>
    @{
    ViewData["Title"] = "Competency Deliverables";
    }

    @section Scripts
    {
        <script type="text/javascript" src="~/js/feltp/competencydeliverable.js"></script>
    }

  <section class="content">
        <div class="box box-primary">
            <!-- /.box-header -->
            <div class="box-body">
                <table id="competencydeliverable" class="table table-bordered table-striped" cellspacing="0" width="100%">
                </table>
            </div>
        </div>
    </section>


