﻿@{
    ViewData["Title"] = "Competencies";
}

@section Scripts
    {
    <script type="text/javascript" src="~/js/feltp/competency.js"></script>
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <section class="content-header">
                <ol class="breadcrumb pull-right">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="#">Competency</a></li>
                </ol>
            </section>
            <h1 class="page-head-line">Competency List </h1>
        </div>
    </div>
    <div class="box box-header">
        <div class="box-body">
            <button type="button" class="btn btn-default btn-md" style="margin-bottom:10px" data-toggle="modal" data-url="@Url.Action("_AddCompetency","Competency")" id="btnCreateCompetency">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create New
            </button>
            <table id="competency" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
        </div>
    </div>
</section>

<div class="modal fade" id="createCompetencyModal" tabindex="-1" role="dialog" aria-labelledby="CreateCompetencyModal" aria-hidden="true" data-backdrop="static">
    <div id="createCompetencyContainer">
    </div>
</div>

<div class="modal fade" id="editCompetencyModal" tabindex="-1" role="dialog" aria-labelledby="EditCompetencyModal" aria-hidden="true" data-backdrop="static">
    <div id="editCompetencyContainer">
    </div>
</div>

<div class="modal fade" id="deleteCompetencyModal" tabindex="-1" role="dialog" aria-labelledby="DeleteCompetencyModal" aria-hidden="true" data-backdrop="static">
    <div id="deleteCompetencyContainer">
    </div>
</div>

<div class="modal fade" id="competency-deliverable-modal" tabindex="-1" role="dialog" aria-labelledby="Competency Deliverables" aria-hidden="true" data-backdrop="static">
    <div id="competency-deliverable-container">
    </div>
</div>
