﻿@model UpdateFieldPlacementSiteCommand

@{
    ViewData["Title"] = "Updates Field Placement SIte";
}

@using (Html.BeginForm("_EditFieldPlacementSite", "FieldPlacement", FormMethod.Post, new { id = "myForm", enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(x => x.Id)
    <div class="modal-dialog" style="width:1000px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Field Placement Site</h4>
            </div>
            <div>
                <div class="modal-body col-md-6">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" required class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Level </label>
                        <select class="form-control selectpicker" asp-for="Level" asp-items="@Html.GetEnumSelectList(typeof(Level))">
                            <option selected="selected" value="">Please select</option>
                        </select>
                        <span asp-validation-for="Level" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label"> Select Country </label>
                        <select class="form-control selectpicker" asp-items="Model.Countries" asp-for="CountryId" data-live-search="true"></select>
                        <span asp-validation-for="CountryId" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Select County</label>
                        <select asp-items="Model.Counties" asp-for="CountyId" class="form-control selectpicker" data-live-search="true"></select>
                        <span asp-validation-for="CountyId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Sub County</label>
                        <select asp-items="Model.Subcounties" asp-for="SubCountyId" class="form-control selectpicker"></select>
                        <span asp-validation-for="SubCountyId" class="text-danger"></span>
                    </div>

                </div>
                <div class="modal-body col-md-6">
                    <div class="form-group">
                        <label asp-for="PostalAddress" class="control-label"></label>
                        <input asp-for="PostalAddress" class="form-control" />
                        <span asp-validation-for="PostalAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Building" class="control-label"></label>
                        <input asp-for="Building" class="form-control" />
                        <span asp-validation-for="Building" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Venue </label>
                        <input asp-for="Location" required class="form-control" />
                        <span asp-validation-for="Location" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Select Supervisor </label>
                        <select class="form-control selectpicker" asp-items="Model.Faculties" asp-for="FacultyId" multiple></select>
                        <span asp-validation-for="FacultyId" class="text-danger"></span>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Save" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

@section Scripts
    {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}