﻿@model UpdateFieldPlacementActivityCommand

@{
    ViewData["Title"] = "Update Field Placement Activity";
}


@using (Html.BeginForm("_EditFieldPlacementActivity", "FieldPlacement", FormMethod.Post, new { id = "myForm", enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(x => x.Id)
    <div class="modal-dialog" style="width:600px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Field Placement Activity</h4>
            </div>
            <div>
                <div class="modal-body col-md-12">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label class="control-label">Activity Type </label>
                        <select class="form-control selectpicker" asp-for="ActivityType" asp-items="@Html.GetEnumSelectList(typeof(ActivityType))">
                            <option selected="selected" value="">Please select</option>
                        </select>
                        <span asp-validation-for="ActivityType" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Select Deliverable</label>
                        <select asp-items="Model.Deliverables" asp-for="DeliverableId" class="form-control selectpicker" data-live-search="true" multiple></select>
                        <span asp-validation-for="DeliverableId" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary" value="Save" />
                        </div>
                    </div>
                </div>
                </div>
            </div>
    </div>
}
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

@section Scripts
    {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}