﻿@model AddFieldPlacementActivityCommand

@{
    ViewData["Title"] = "Add Field Placement Activity";
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <section class="content-header">
                <ol class="breadcrumb pull-right">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="/FieldPlacement/FieldPlacementActivityList">FieldPlacement Activity List</a></li>
                    <li><a href="#">Add FieldPlacement Activity</a></li>
                </ol>
            </section>
            <h1 class="page-head-line">@ViewData["Title"]</h1>
        </div>
    </div>
    <div class="box  box-header">
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <form asp-action="AddFieldPlacementActivity">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label class="control-label">Activity Type </label>
                            <select class="form-control selectpicker" asp-for="ActivityTpe" asp-items="@Html.GetEnumSelectList(typeof(ActivityType))">
                                <option selected="selected" value="">Please select</option>
                            </select>
                            <span asp-validation-for="ActivityTpe" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Select Deliverable</label>
                            <select asp-for="DeliverableId" class="form-control selectpicker" data-live-search="true" multiple></select>
                            <span asp-validation-for="DeliverableId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn bg-purple margin pull-right" />
                        </div>
                    </form>
                </div>
            </div>

            <div class="box-footer">
                <a asp-action="FieldPlacementActivityList">Back to List</a>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <script src="~/js/feltp/coursetype-dropdown.js"></script>
    <script src="~/js/feltp/deliverable-dropdown.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

