﻿@model AddFieldPlacementActivityDeliverableCommand

@{
    ViewData["Title"] = "Add Field Placement Activity Deliverable";
}

<section class="content">
    <div class="box  box-primary">
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <form asp-action="AddFieldPlacementActivityDeliverable">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label class="control-label">Select Field Placement Activity</label>
                                <select asp-for="FieldPlacementActivityId"  class="form-control"> <option>Select</option> </select>
                                <span asp-validation-for="FieldPlacementActivityId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Select Deliverable</label>
                                <select asp-for="DeliverableId" class="form-control selectpicker" data-live-search="true">
                                </select>
                                <span asp-validation-for="DeliverableId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn bg-purple margin pull-right" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <a asp-action="Index">Back to List</a>
        </div>

    </div>

</section>

@section Scripts {
    <script type="text/javascript" src="~/js/feltp/deliverable-dropdown.js"></script>
    <script type="text/javascript" src="~/js/feltp/field-placement-activity-dropdown.js"></script>


    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}