﻿
@{
    ViewData["Title"] = "Field Placement Activities";
}


@section Scripts
    {
    <script type="text/javascript" src="~/js/feltp/fieldplacement.js"></script>
    }
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <section class="content-header">
                <ol class="breadcrumb pull-right">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="#">Field Activity List</a></li>
                </ol>
            </section>
            <h1 class="page-head-line">Field Activity List </h1>
        </div>
    </div>
    <div class="box box-header">
        <div class="box-body">
            <a asp-controller="FieldPlacement" asp-action="AddFieldPlacementActivity" class="btn btn-default btn-md" style="margin-bottom:10px"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create New</a><p></p>
            <table id="fieldplacementactivity-list-table" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
        </div>
    </div>
</section>

<div class="modal fade" id="fieldplacement-deliverable-modal" tabindex="-1" role="dialog" aria-labelledby="Field Placement Deliverables" aria-hidden="true" data-backdrop="static">
    <div id="fieldplacement-deliverable-container">
    </div>
</div>

<div class="modal fade" id="fieldPlacementActivitymodal" tabindex="-1" role="dialog" aria-labelledby="Field Placement Activity" aria-hidden="true" data-backdrop="static">
    <div id="fieldPlacementActivitycontainer">
    </div>
</div>