﻿
@{
    ViewData["Title"] = "Field Placement Activity Deliverables";
}


@section Scripts
    {
    <script type="text/javascript" src="~/js/feltp/fieldplacement-activity-deliverable-list.js"></script>
}
<section class="content-header">
    <h2>
        @ViewData["Title"]
    </h2>
    <ol class="breadcrumb pull-right">
        <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#">Field Placement Activity Deliverable</a></li>
    </ol>
</section>
<section class="content">
    <div class="box box-primary">
        <div class="box-body">
            <a asp-area="" asp-controller="FieldPlacement" asp-action="AddFieldPlacementActivityDeliverable">Create New</a><p></p>
            <table id="fieldplacementactivity-deliverable-list-table" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
        </div>
    </div>
</section>
