﻿
@{
    ViewData["Title"] = "Field Placement Site";
}

@section Scripts
    {
    <script type="text/javascript" src="~/js/feltp/fieldplacement.js"></script>
    <script src="~/js/feltp/country-dropdown.js"></script>
    <script src="~/js/feltp/county-dropdown.js"></script>
    <script src="~/js/feltp/subcounty-dropdown.js"></script>
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <section class="content-header">
                <ol class="breadcrumb pull-right">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="#">Field Site</a></li>
                </ol>
            </section>
            <h1 class="page-head-line">Field Site List </h1>
        </div>
    </div>
    <div class="box box-header">
        <div class="box-body">
            <button type="button" class="btn btn-default btn-md" style="margin-bottom:10px" data-toggle="modal" data-url="@Url.Action("_AddFieldPlacementSite","FieldPlacement")" id="btnCreateFieldPlacementSite">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create New
            </button>
            <table id="fieldplacementsite-list" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
        </div>
    </div>
</section>

<div class="modal fade" id="createFieldPlacementSiteModal" tabindex="-1" role="dialog" aria-labelledby="CreateFieldPlacementSiteModal" aria-hidden="true" data-backdrop="static">
    <div id="createFieldPlacementSiteContainer">
    </div>
</div>

<div class="modal fade" id="editFieldPlacementSiteModal" tabindex="-1" role="dialog" aria-labelledby="EditFieldPlacementSiteModal" aria-hidden="true" data-backdrop="static">
    <div id="editFieldPlacementSiteContainer">
    </div>
</div>
<div class="modal fade" id="detailsFieldPlacementSiteModal" tabindex="-1" role="dialog" aria-labelledby="DetailsFieldPlacementSiteModal" aria-hidden="true" data-backdrop="static">
    <div id="detailsFieldPlacementSiteContainer">
    </div>
</div>

<div class="modal fade" id="deleteFieldPlacementSiteModal" tabindex="-1" role="dialog" aria-labelledby="DeleteFieldPlacementSiteModal" aria-hidden="true" data-backdrop="static">
    <div id="deleteFieldPlacementSiteContainer">
    </div>
</div>

