﻿@model AddResidentFieldPlacementCommand
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Initiate Resident Field Placement</h4>
        </div>
        <form action="/FieldPlacement/InitiateResidentFieldPlacement" id="initiate-resident-placement-div">
            <div class="modal-body">
                @Html.HiddenFor(x => x.ResidentId)
                @Html.HiddenFor(x => x.ProgramEnrollmentId)
                @Html.HiddenFor(x => x.SiteName)
                @Html.HiddenFor(x => x.ActivityType)
                @Html.HiddenFor(x => x.SemesterId)
                @Html.HiddenFor(x => x.ProgramOfferId)
                @Html.HiddenFor(x => x.SemesterStartDate)
                @Html.HiddenFor(x => x.SemesterEndDate)

                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">Select Activity</label>
                    <select asp-for="ResidentFieldPlacementActivityId"
                            asp-items="@Model.ResidentFieldPlacementActivities"
                            class="form-control selectpicker" data-live-search="true">
                        <option value="0">Select Activity</option>
                    </select>
                    <span asp-validation-for="ResidentFieldPlacementActivityId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Semester Start Date</label>
                    <input disabled="disabled" value="@Model.SemesterStartDate" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Semester End Date</label>
                    <input disabled="disabled" value="@Model.SemesterEndDate" class="form-control" />
                </div>

                <div class="form-group">
                    <label class="control-label">Activity Start Date </label>
                    <div class='input-group date'>
                        <input type='text' class="form-control" asp-for="StrStartDate" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    <span asp-validation-for="StrStartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Activity End Date </label>
                    <div class='input-group date'>
                        <input type='text' class="form-control" asp-for="StrEndDate" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    <span asp-validation-for="StrEndDate" class="text-danger"></span>
                </div>
                <script>
                    $(function () {
                        $('#StrStartDate').datetimepicker({
                            format: 'DD/MM/YYYY'

                        });
                        $('#StrEndDate').datetimepicker({
                            useCurrent: false,
                            format: 'DD/MM/YYYY'

                        });
                        $("#StrStartDate").on("dp.change", function (e) {
                            $('#StrEndDate').data("DateTimePicker").minDate(e.date);
                        });
                        $("#StrEndDate").on("dp.change", function (e) {
                            $('#StrStartDate').data("DateTimePicker").maxDate(e.date);
                        });

                        var semStartDate = $("#SemesterStartDate").val();
                        var semEndDate = $("#SemesterEndDate").val();

                        $('#StrStartDate').data("DateTimePicker").minDate(semStartDate);
                        $('#StrStartDate').data("DateTimePicker").maxDate(semEndDate);

                        $('#StrEndDate').data("DateTimePicker").minDate(semStartDate);
                        $('#StrEndDate').data("DateTimePicker").maxDate(semEndDate);
                    });
                </script>

                <div id="faculty-div" style="display:none">
                    <div class="form-group">
                        <label class="control-label">Select Faculty </label>
                        <select class="form-control selectpicker" asp-for="Faculty"></select>
                        <span asp-validation-for="Faculty" class="text-danger"></span>
                    </div>
                </div>
                <div id="supervisor-div" style="display:none">
                    <div class="form-group">
                        <label asp-for="SupervisorId" class="control-label">Select Site Supervisor</label>
                        <select asp-for="SupervisorId" asp-items="@Model.SiteSupervisors" data-live-search="true" class="form-control selectpicker"> <option value="0">Select Supervisor</option></select>
                        <span asp-validation-for="SupervisorId" class="text-danger"></span>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" id="btn-initiate-placement" class="btn btn-primary" value="Save" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

@section Scripts
    {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}