﻿@model ResidentFieldPlacementInfoViewModel


<div class="modal-dialog">
    <div class="row">
        <div class="modal-content">
            @if (Model == null)
            {
                <div class="modal-body">
                    Details Not Found
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                        </div>
                    </div>
                </div>
                return;
            }
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"> @Model.ResidentName - Placement Detials </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <b> Activity Type</b>
                    </div>
                    <div class="col-md-6" style="margin-bottom:10px">
                        @Html.DisplayFor(model => model.ActivityType)
                    </div>
                    <div class="col-md-6">
                        <b> Activity Name</b>
                    </div>
                    <div class="col-md-6" style="margin-bottom:10px">
                        @Html.DisplayFor(model => model.ActivityName)
                    </div>

                    <div class="col-md-6">
                        <b>Activity Description</b>
                    </div>
                    <div class="col-md-6" style="margin-bottom:10px">
                        @Html.DisplayFor(model => model.Description)
                    </div>
                    <div class="col-md-6">
                        <b>Start Date</b>
                    </div>
                    <div class="col-md-6" style="margin-bottom:10px">
                        @Html.DisplayFor(model => model.StartDate)
                    </div>
                    <div class="col-md-6">
                        <b>End Date</b>
                    </div>
                    <div class="col-md-6" style="margin-bottom:10px">
                        @Html.DisplayFor(model => model.EndDate)
                    </div>

                    @if (Model.ActivityType == ActivityType.Field.ToString())
                    {
                        <div class="col-md-6">
                            <b> Supervisor </b>
                        </div>
                        <div class="col-md-6" style="margin-bottom:10px">
                            @Model.Supervisor

                        </div>
                        <div class="col-md-6">
                            <b>Placement Site</b>
                        </div>
                        <div class="col-md-6" style="margin-bottom:10px">
                            @Html.DisplayFor(model => model.SiteName)
                        </div>

                    }
                    else
                    {
                        <div class="col-md-6">
                            <b> Faculty </b>
                        </div>
                        <div class="col-md-6" style="margin-bottom:10px">
                            @Model.Faculty

                        </div>

                    }
                    <div class="col-md-6">
                        <b>Progress Status</b>
                    </div>
                    <div class="col-md-6" style="margin-bottom:10px">
                        @Model.ProgressStatus
                    </div>
                    <div class="col-md-6">
                        <b>Placed By</b>
                    </div>
                    <div class="col-md-6" style="margin-bottom:10px">
                        @Model.PlacedBy
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
