﻿@model AddEventScheduleCommand
@{
    ViewData["Title"] = "Add Event Schedule";
}

@using (Html.BeginForm("_AddEventSchedule", "EventManagement", FormMethod.Post, new { id = "myForm", enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <div class="modal-dialog" style="width:900px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add Event Schedule</h4>
            </div>
            @Html.HiddenFor(x => x.EventId)
            @Html.HiddenFor(x => x.ProgramId)

            <div class="modal-body">
                <form asp-action="_AddEventSchedule">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Select Program</label>
                                <select asp-for="ProgramId" asp-items="@Model.ProgramSelectList"
                                        class="form-control selectpicker" disabled="disabled" data-live-search="true">
                                    <option value="0">Select Program</option>
                                </select>
                                <span asp-validation-for="ProgramId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Select Event </label>
                                <select class="form-control selectpicker" asp-items="Model.ProgramEvents" asp-for="ProgramEventId"></select>
                                <span asp-validation-for="ProgramEventId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Presentation Type </label>
                                <select class="form-control selectpicker" asp-for="PresentationType" asp-items="@Html.GetEnumSelectList(typeof(PresentationType))">
                                    <option selected="selected" value="">Please select</option>
                                </select>
                                <span asp-validation-for="PresentationType" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="form-group">
                                <label class="control-label">Venue </label>
                                <input asp-for="Location" class="form-control" />
                                <span asp-validation-for="Location" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Start Date</label>
                                <div class='input-group date' id='StrStartDate'>
                                    <input type='text' asp-for="StrStartDate" class="form-control" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label">End Date </label>
                                <div class='input-group date' id='StrEndDate'>
                                    <input type='text' class="form-control" asp-for="StrEndDate" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <script type="text/javascript">
                                $(function () {
                                    $('#StrStartDate').datetimepicker({
                                        format: 'DD/MM/YYYY'

                                    });
                                    $('#StrEndDate').datetimepicker({
                                        useCurrent: false,
                                        format: 'DD/MM/YYYY'

                                    });
                                    $("#StrStartDate").on("dp.change", function (e) {
                                        $('#StrEndDate').data("DateTimePicker").minDate(e.date);
                                    });
                                    $("#StrEndDate").on("dp.change", function (e) {
                                        $('#StrStartDate').data("DateTimePicker").maxDate(e.date);
                                    });
                                });
                            </script>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn bg-purple" value="Save" />
                    </div>
                </div>
            </div>


        </div>
    </div>
}
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
@section Scripts
    {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

