﻿@model UpdateEventCommand
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Update Event</h4>
            </div>

            <div class="modal-body">
                <form action="/EventManagement/_EditEvent" id="update-program-event-form">
                    <div asp-validation-summary="All" class="text-danger"></div>
                      @Html.HiddenFor(x=>x.Id)
                    <div class="form-group">
                        <label asp-for="Theme" class="control-label"></label>
                        <input asp-for="Theme" class="form-control" />
                        <span asp-validation-for="Theme" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Event Type </label>
                        <select class="form-control selectpicker" asp-for="EventTypeId" asp-items="@Html.GetEnumSelectList<EventType>()">
                            <option selected="selected" value="">Please select</option>
                        </select>
                        <span asp-validation-for="EventTypeId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Select Programs </label>
                        <select class="form-control selectpicker" asp-items="@Model.ProgramSelectList" asp-for="ProgramId" multiple="multiple"></select>
                        <span asp-validation-for="ProgramId" class="text-danger"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" id="btn-update-event" class="btn bg-purple" value="Save" />
                    </div>
                </div>
            </div>


        </div>
    </div>
}
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}