﻿@model ProgramEventViewModel


<div class="modal-dialog" style="width:1000px">
    @Html.Hidden("ProgramEventId",Model.Id)
    @{ 

        string programName = Model == null ? "Events" : $"{Model.ProgramName} - Schedule";
    }
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">@programName</h4>
        </div>
        <div class="modal-body">

            <table id="event-schedule" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>

        </div>
    </div>
</div>