﻿@model EventViewModel

@{
    ViewData["Title"] = "Event Details";
}

@section Scripts
    {
    <script src="~/js/feltp/event.js"></script>
}
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <section class="content-header">
                <ol class="breadcrumb pull-right">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="#">Event Details</a></li>
                </ol>
            </section>
            <h1 class="page-head-line"> @ViewData["Title"]</h1>
        </div>
    </div>
    <div class="row">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-header">
                    <div class="box-body">
                        @Html.Hidden("EventId", Model.Id)
                        <div class="col-md-12">
                            @if (Model == null)
                            {
                                <div>
                                    Event Details Not Found
                                </div>
                                return;

                            }
                            @Html.HiddenFor(model => model.Id)
                            <div class="col-md-6">
                                <div class="col-md-6">
                                    <b>Theme</b>
                                </div>
                                <div class="col-md-6">
                                    @Model.Theme
                                </div>

                                <div class="col-md-6">
                                    <b> Title </b>
                                </div>
                                <div class="col-md-6">
                                    @Model.Title
                                </div>
                                <div class="col-md-6">
                                    <b>Event Type</b>
                                </div>
                                <div class="col-md-6">
                                    @Model.EventType
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-6">
                                    <b>Status</b>
                                </div>
                                <div class="col-md-6">
                                    @Model.Status
                                </div>
                                <div class="col-md-6">
                                    <b>Date Created</b>
                                </div>
                                <div class="col-md-6">
                                    @Model.DateCreated
                                </div>
                                <div class="col-md-6">
                                    <b>Created By</b>
                                </div>
                                <div class="col-md-6">
                                    @Model.CreatedBy
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-header">
                    <div class="box-body">
                        <center><h4>Programs under - @Model.Title</h4> </center>
                        <hr />
                        <div class="col-md-12">

                            <table id="program-event-list" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
                        </div>
                        <a asp-area="" asp-controller="EventManagement" asp-action="EventList" class="pull-right" style="width:150px">
                            Back To List
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="program-schedule-modal" tabindex="-1" role="dialog" aria-labelledby="Program Schedule" aria-hidden="true" data-backdrop="static">
        <div id="program-schedule-container">
        </div>
    </div>
    <div class="modal fade" id="createEventScheduleModal" tabindex="-1" role="dialog" aria-labelledby="CreateEventScheduleModal" aria-hidden="true" data-backdrop="static">
        <div id="createEventScheduleContainer">
        </div>
    </div>
</section>


