﻿@{
    ViewData["Title"] = "Event Schedule";
}

@section Scripts
    {
    <script src="~/js/feltp/event.js"></script>
}
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <section class="content-header">
                <ol class="breadcrumb pull-right">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="#"><u>Events Schedule</u></a></li>
                </ol>
            </section>
            <h1 class="page-head-line">Events Schedule </h1>
        </div>
    </div>
    <div class="box box-header">
        <div class="box-body">
            <button type="button" class="btn btn-default btn-md" style="margin-bottom:10px" data-toggle="modal" data-url="@Url.Action("_AddEventSchedule","ProgramManagement")" id="btnCreateEventSchedule">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create New
            </button>
            <table id="event-schedule" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
        </div>
    </div>
</section>


<div class="modal fade" id="editEventScheduleModal" tabindex="-1" role="dialog" aria-labelledby="EditEventScheduleModal" aria-hidden="true" data-backdrop="static">
    <div id="editEventScheduleContainer">
    </div>
</div>
<div class="modal fade" id="detailsEventScheduleModal" tabindex="-1" role="dialog" aria-labelledby="DetailsEventScheduleModal" aria-hidden="true" data-backdrop="static">
    <div id="detailsEventScheduleContainer">
    </div>
</div>
<div class="modal fade" id="deleteEventScheduleModal" tabindex="-1" role="dialog" aria-labelledby="DeleteEventScheduleModal" aria-hidden="true" data-backdrop="static">
    <div id="deleteEventScheduleContainer">
    </div>
</div>

<style>
    td.details-control {
        background: url('/images/open.png')no-repeat center center;
        cursor: pointer;
    }

    tr.shown td.details-control {
        background: url('/images/minus.png') no-repeat center center;
    }
</style>
