﻿
@{
    ViewData["Title"] = "Event List";
}

@section Scripts
    {
    <script type="text/javascript" src="~/js/feltp/event.js"></script>
}
  <section class="content">
        <div class="row">
            <div class="col-md-12">
                <section class="content-header">
                    <ol class="breadcrumb pull-right">
                        <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                        <li><a href="#"><u>Events List</u></a></li>
                    </ol>
                </section>
                <h1 class="page-head-line">Events List </h1>
            </div>
        </div>
        <div class="box box-header">
            <div class="box-body">
                <button type="button" class="btn btn-default btn-md" style="margin-bottom:10px" data-toggle="modal" data-url="@Url.Action("_AddEvent","EventManagement")" id="btnCreateEvent">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create New
                </button>
                <table id="event-list" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
            </div>
        </div>
    </section>

<div class="modal fade" id="createEventModal" tabindex="-1" role="dialog" aria-labelledby="CreateEventModal" aria-hidden="true" data-backdrop="static">
    <div id="createEventContainer">
    </div>
</div>

<div class="modal fade" id="editEventModal" tabindex="-1" role="dialog" aria-labelledby="EditEventModal" aria-hidden="true" data-backdrop="static">
    <div id="editEventContainer">
    </div>
</div>
<div class="modal fade" id="detailEventModal" tabindex="-1" role="dialog" aria-labelledby="DetailEventModal" aria-hidden="true" data-backdrop="static">
    <div id="detailEventContainer">
    </div>
</div>

<div class="modal fade" id="deactivateEventModal" tabindex="-1" role="dialog" aria-labelledby="DeactivateEventModal" aria-hidden="true" data-backdrop="static">
    <div id="deactivateEventContainer">
    </div>
</div>
