﻿@{ 


}
<div class="row">
    <div class="col-md-12">
        <div class="error-template">
            <h1>
                Oops!
            </h1>
            <h2>
                403 Access Denied
            </h2>
            <div class="error-details">
                Sorry, You do not have permission to view this page
            </div>
        </div>
    </div>
</div>