﻿@model UserManagement.ViewModels.LogInViewModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "FELTP Reports | Login";
}

<div class="login-form" style="padding-top:70px">
    <form asp-action="LogIn" asp-controller="Account" autocomplete="off" method="POST">
        <center><img src="~/images/emblem.png" /></center>
        <h3 class="text-center" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Login to Your Account</h3>
        <hr style="border-top: 1px solid lightgrey;" />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div>

            <h6 class="text-center" style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, 'Arial', sans-serif; color:black">
                <b>KFELTP</b> Tracking and Activity Monitoring System <b>(TAMS)</b>. <p></p>
            </h6>
            <center><h6 style="color:#337ab7">Restricted access.</h6></center>
        </div>

        <div class="form-group">
            <div class="input-group">
                @Html.HiddenFor(x => x.ReturnUrl)
                <span class="input-group-addon"><i class="fa fa-user">&nbsp;</i></span>
                <input asp-for="UserNameOrEmail" type="text" class="form-control" placeholder="Username">
            </div>
            <span asp-validation-for="UserNameOrEmail" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-key"></i></span>
                <input asp-for="Password" type="password" class="form-control" placeholder="Password">
            </div>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn bg-purple btn-primary btn-lg btn-block"><i class="fa fa-sign-in"></i> LOG IN</button>
        </div>
        <div class="form-group">
            <center><a href="/UserManagement/ForgotPassword">Forgot your password?</a></center>
        </div>
        <hr style="border-top: 1px solid lightgrey;margin-top:10px;margin-bottom:10px" />

        <div class="clearfix pull-left">
            <h6>Powered by Palladium</h6>
        </div>
        <div class="clearfix pull-right">
            <h6>Ver. 0.0.1</h6>
        </div>
    </form>
</div>




