﻿@inject IConfiguration Configuration;
@model LoginViewModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "FELTP SSP | Login";
    var sspPortalUrl = Configuration["Client-EndPoints:Feltp-Ssp"];
}

@if (Model.EnableLocalLogin)
{
    <div class="login-form">
        <form asp-route="Login">
            <input type="hidden" asp-for="ReturnUrl" />
            <center><img src="~/images/emblem.png" /></center>
            <h3 class="text-center h3-font-family">Login to Your Account</h3>
            <hr class="hr-border" />
            <div>

                <h6 class="text-center h6-font-family">
                    <b>KFELTP</b> Self Service Portal <b>(SSP)</b>. <p></p>
                </h6>
            </div>
            <div class="row">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user">&nbsp;</i></span>
                        <input asp-for="Username" type="text" class="form-control" placeholder="Username">
                    </div>
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-key"></i></span>
                        <input asp-for="Password" type="password" class="form-control" placeholder="Password">
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button name="button" value="login" class="btn bg-purple btn-primary btn-lg btn-block"><i class="fa fa-sign-in"></i> LOG IN</button>
                </div>
                <div>
                    <center>
                        <a href="@sspPortalUrl/UserManagement/ForgotPassword">Forgot Password</a> | <a href="@sspPortalUrl/UserManagement/Register">Sign Up</a>

                    </center>
                </div>
            </div>

            <hr class="hr-bottom-border" />

            <div class="clearfix pull-left">
                <h6>KFELTP - SSP </h6>
            </div>
            <div class="clearfix pull-right">
                <h6>Ver. 1.0.0</h6>
            </div>
        </form>
    </div>
}

@if (Model.VisibleExternalProviders.Any())
{
    <div class="col-md-6 col-sm-6 external-providers">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">External Login</h3>
            </div>
            <div class="panel-body">
                <ul class="list-inline">
                    @foreach (var provider in Model.VisibleExternalProviders)
                    {
                        <li>
                            <a class="btn btn-default"
                               asp-controller="External"
                               asp-action="Challenge"
                               asp-route-provider="@provider.AuthenticationScheme"
                               asp-route-returnUrl="@Model.ReturnUrl">
                                @provider.DisplayName
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
}

@if (!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any())
{
    <div class="alert alert-warning">
        <strong>Invalid login request</strong>
        There are no login schemes configured for this client.
    </div>
}




