﻿@model List<ProgramLocationViewModel>
<table id="program-offer-locations-table" class="table table-bordered table-striped" cellspacing="0" width="100%">
    <tr>
        <th>
            Country
        </th>
        <th>
            County
        </th>

        <th>
            Location
        </th>
        <th>
            Building
        </th>
        <th>
            Road
        </th>
    </tr>
    @if (Model.Any())
    {

        @for (int com = 0; com < Model.Count; com++)
        {

            <tr>
                <td>
                    @Model[com].Country
                </td>
                <td>
                    @Model[com].County
                </td>
                <td>
                    @Model[com].Location
                </td>
                <td>
                    @Model[com].Building
                </td>
                <td>
                    @Model[com].Road
                </td>
 
            </tr>
        }
    }
    else
    {
        <tr>
            <td></td>
            <td></td>
            <td>Details not found</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

    }


</table>
