﻿@using X.PagedList.Mvc.Core
@using X.PagedList;
@using X.PagedList.Mvc.Common;
@model PagedProgramOfferViewModel;

<form>
    @if (!Model.ProgramOffers.Any())
    {
        <h4 class="alert alert-info"> Program offer information not found </h4>
    }
    else
    {
        <h4> Recent Offers </h4>
        <hr />
    }
    @foreach (var item in Model.ProgramOffers)
    {
        <div class="col-md-12">
            <div class="pull-right">
                <div class="view-details">
                    <a href="/ProgramOffer/ViewProgramOfferDetails/@item.Id"
                       class="btn btn-primary">View Details</a>
                </div>
            </div>
            <h4 class="event-title"><a href="@Url.Action("ViewProgramOfferDetails","ProgramOffer", new { id=@item.Id })">@item.Name</a></h4>
            <p>@item.ProgramDescription</p>
            <hr style="color:#d5dbe0" />
        </div>
    }

    <pager class="pager-container" list="@Model" options="@PagedListRenderOptions.TwitterBootstrapPager" asp-action="_ViewProgramOffers" asp-controller="Home" />
    <div id='Paging' style="text-align: center">

        @Html.PagedListPager(Model.ProgramOffers, page => Url.Action("_ViewProgramOffers", "ProgramOffer", new { page }), new PagedListRenderOptionsBase { ContainerDivClasses = new List<string> { "program-offer-info" }, LiElementClasses = new List<string> { "paginationLI" }, MaximumPageNumbersToDisplay = 5 })
        Page @(Model.ProgramOffers.PageCount < Model.ProgramOffers.PageNumber ? 0 : Model.ProgramOffers.PageNumber)
        of @Model.ProgramOffers.PageCount
    </div>
</form>

<style>
    .list-event-item .list-event-header span i {
        margin-right: 10px;
    }

    .list-event-item .list-event-header .event-place {
        margin-right: 20px;
    }

    .list-event-item .list-event-header .view-details {
        float: right;
    }

    .lightBtn {
        display: inline-block;
        height: 32px;
        padding: 0 12px;
        line-height: 32px;
    }

    .event-container .event-title {
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
    }
</style>