﻿@model ProgramOfferRequirementsViewModel
@if(Model.GeneralRequirementsViewModel == null)
{
    <text>
    Program offer application requirements not found    
   </text>
    return;
}
<h5><b> 1.General Requirements</b></h5>
<div>
    <ul>
        <li>
            To be eligible to register for the @Model.ProgramName, a candidate must have a Minimum of @Model.GeneralRequirementsViewModel.MinimumWorkExperienceDuration years working experience in public health
        </li>
        @if (Convert.ToBoolean(Model.GeneralRequirementsViewModel.BasicComputerKnowledge))
        {
            <li>
                Knowledge in Basic Computer Packages
            </li>

        }
        @if (Convert.ToBoolean(Model.GeneralRequirementsViewModel.WillingnessToRelocate))
        {
            <li>
                Willingness to be potentially deployed outside their current duty station
            </li>

        }
        @if (Convert.ToBoolean(Model.GeneralRequirementsViewModel.InternalTravelRequired))
        {
            <li>
                Availability to travel within the country at short-notice
            </li>

        }
        @if (Convert.ToBoolean(Model.GeneralRequirementsViewModel.InternalTravelRequired))
        {
            <li>
                Availability to travel outside the country at short-notice
            </li>

        }

    </ul>
</div>

<h5><b> 2. Academic Requirements</b></h5>
<div>
    <table id="program-offer-academic-requirements-table" class="table table-bordered table-striped" cellspacing="0" width="100%">
        <tr>
            <th>
                Education Level
            </th>
            <th>
                Course Name
            </th>

            <th>
                Minimum Grade
            </th>
        </tr>
        @if (Model.AcademicRequirementsViewModel.Any())
        {

            @for (int com = 0; com < Model.AcademicRequirementsViewModel.Count; com++)
            {

                <tr>
                    <td>
                        @Model.AcademicRequirementsViewModel[com].EducationLevel
                    </td>
                    <td>
                        @Model.AcademicRequirementsViewModel[com].CourseName
                    </td>
                    <td>
                        @Model.AcademicRequirementsViewModel[com].MinimunGrade
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td></td>
                <td></td>
                <td>Details not found</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

        }


    </table>
   Or a holder of an academic degree in Biological and Health Sciences from an institution  recognized by the Commission of Higher Education Kenya
</div>