﻿@model ProgramOfferApplicationViewModel
@using ProgramManagement.Domain.Program
@{
    ViewData["Title"] = "Program Application Details";
}


@{
    var header = Model == null ? "Offer Application Details" : $"{Model.ProgramOfferName} - Application Details";
}
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <section class="content-header">
                <ol class="breadcrumb pull-right">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                </ol>
            </section>
            <h1 class="page-head-line"> @header  </h1>
        </div>
    </div>
    <div class="box box-header">
        <div class="box-body">
            <div>

                @if (Model == null)
                {
                    <h5 class="alert alert-info">Offer application details not found </h5>
                    return;
                }
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div>
                                <h4 class="alert alert-info" style="text-align:center"> @Model.ProgramOfferName - Application Progress</h4>
                            </div>
                            <hr />
                            <div class="progress">
                                @{
                                    var colors = new Dictionary<ProgressStage, string>
                                                            {
                                                                { ProgressStage.Enrolled, "#5cb85c" },
                                                                { ProgressStage.Shortlisted,  "#800080"},
                                                                { ProgressStage.ApplicationSubmitted, "#f0ad4e" },
                                                                { ProgressStage.TrainingOffered,"#2196F3" },
                                                                { ProgressStage.WaitingList,"#2196F3" },
                                                                { ProgressStage.FailedEvaluation,"#d9534f" },
                                                                { ProgressStage.ApplicationClosed,"#337ab7"}
                                                            };
                                }
                                @foreach (var status in Model.ProgressBuilder.ValidStatuses)
                                {
                                    var color = colors.Where(x => x.Key == status.Key).FirstOrDefault().Value;

                                    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="50"
                                         aria-valuemin="0" aria-valuemax="100" style="width:@Model.ProgressBuilder.Width%; background-color:@color">
                                        @status.Value
                                    </div>
                                }


                            </div>
                            <hr />
                            <div class="col-md-6">
                                <div class="col-md-6">
                                    <b>Program Name</b>
                                </div>
                                <div class="col-md-6">
                                    @Model.Program
                                </div>
                                <div class="col-md-6">
                                    <b>Program Offer Name</b>
                                </div>
                                <div class="col-md-6">
                                    @Model.ProgramOfferName
                                </div>
                                <div class="col-md-6">
                                    <b>Date Applied</b>
                                </div>
                                <div class="col-md-6">
                                    @Model.DateApplied
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-6">
                                    <b>Application Status</b>
                                </div>
                                <div class="col-md-6">
                                    @Model.ApplicationStatus
                                </div>
                                <div class="col-md-6">
                                    <b>Qualification Status</b>
                                </div>
                                <div class="col-md-6">
                                    @Model.QualificationStatus
                                </div>
                                <div class="col-md-6">
                                    <b>Approved By County</b>
                                </div>
                                <div class="col-md-6">
                                    @Model.ApprovedByCounty
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="box-footer pull-right">
            <a asp-controller="ProgramOffer" asp-action="ProgramApplications" asp-route-id="@Model.ApplicantId">Back to Applications</a>
        </div>
    </div>
</section>
