﻿@model AddNewProgramOfferApplicationCommand

@{
    ViewData["Title"] = "Program Offer Application";
}
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <section class="content-header">
                <ol class="breadcrumb pull-right">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                </ol>
            </section>
            <h1 class="page-head-line"> <i class="fa fa-th-list"></i> @Model.ProgramOfferDetail.Name - Application Details  </h1>
        </div>
    </div>
    <div class="box box-header">
        <div class="box-body">
            <form method="post" action="Apply" enctype="multipart/form-data">
                <div class="text-danger" asp-validation-summary="All">

                </div>
                @Html.HiddenFor(x => x.ProgramOfferDetail.ProgramDescription)
                @Html.HiddenFor(x => x.ProgramOfferDetail.ProgramName)
                @Html.HiddenFor(x => x.ProgramOfferDetail.Name)
                @Html.HiddenFor(x => x.ProgramOfferDetail.StrStartDate)
                @Html.HiddenFor(x => x.ProgramOfferDetail.StrEndDate)
                @Html.HiddenFor(x => x.ProgramOfferDetail.ProgramId)
                @Html.HiddenFor(x => x.PersonId)
                @Html.HiddenFor(x => x.ApplicantId)
                @Html.HiddenFor(x => x.ProgramOfferId)
                @Html.HiddenFor(x => x.ProgramId, Model.ProgramOfferDetail.ProgramId)


                @if (Model.ProgramOfferDetail == null)
                {
                    <div class="alert-info">
                        Program Offer details not found
                    </div>
                    return;
                }
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-6">
                            <b>Program Name</b>
                        </div>
                        <div class="col-md-6">
                            @Model.ProgramOfferDetail.ProgramName
                        </div>
                        <div class="col-md-6">
                            <b>Program Description</b>
                        </div>
                        <div class="col-md-6">
                            @Model.ProgramOfferDetail.ProgramDescription
                        </div>
                        <div class="col-md-6">
                            <b>Approved By County</b>
                        </div>
                        <div class="checkbox col-md-6">
                            <label>
                                <input asp-for="ApprovedByCounty" />
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-6">
                            <b>Program Start Date</b>
                        </div>
                        <div class="col-md-6">
                            @Model.ProgramOfferDetail.StrStartDate
                        </div>
                        <div class="col-md-6">
                            <b>Program End Date</b>
                        </div>
                        <div class="col-md-6">
                            @Model.ProgramOfferDetail.StrEndDate
                        </div>
                        <div class="col-md-6">
                            <b>Personal Statement File</b>
                        </div>
                        <div class="col-md-6">
                            <input type="file" accept=".doc,.docx,.pdf" asp-for="StatementFileCommand.StatementFile" class="form-control" />
                        </div>

                    </div>

                </div>
                <div>
                    <div class="form-group">
                        <button style="background-color:#0f81da; color:white" class="btn btn-success pull-right"> Submit </button>
                        <div class="pull-left">
                            <a asp-controller="ProgramOffer" asp-action="ViewProgramOfferDetails"
                               asp-route-Id="@Model.ProgramOfferId">Back to Details</a>
                        </div>
                    </div>
                </div>
            </form>
           
        </div>

    </div>
</section>