﻿@model ProgramOfferRequirementsViewModel


<div class="container">
    <div class="page-title clearfix">
        <div class="row">
            <div class="col-md-12">
                <h6><a href="index.html">Home</a></h6>
                <h6><span class="page-active">ProgramOffers</span></h6>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="widget-main">
                        <div class="widget-inner">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, excepturi ullam officia debitis blanditiis eos omnis asperiores eaque mollitia consequatur in aspernatur delectus ab accusantium itaque dolores alias provident veritatis repellendus culpa nemo vel accusamus! Ullam sint deserunt est quas.</p>
                            <h3 class="archive-title">Requirements</h3>
                            <ul class="archive-list">
                                @Html.HiddenFor(x => x.ProgramOfferId)
                                <li>@Model.ProgramName</li>
                                <li>@Model.ProgramOfferName</li>
                               
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
