﻿@model string
@{
    ViewData["Title"] = "Program Applications";
}

@section Scripts
    {
    <script type="text/javascript" src="~/js/ssp/program-offers.js"></script>
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <section class="content-header">
                <ol class="breadcrumb pull-right">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                </ol>
            </section>
            <h1 class="page-head-line">Program Offer Applications</h1>
        </div>
    </div>
    <div class="box box-header">
        <div class="box-body">
            @Html.Hidden("ApplicantId",Model)
            <table id="program-offer-applications-table" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
        </div>
        <div class="pull-left">
            <a  asp-controller="Applicant" asp-action="ApplicantProfile" asp-route-Id="@Model">Back to Profile</a>
        </div>
    </div>
</section>

<input type="hidden" id="loader-input-path" value='<img src="@Url.Content("~/images/loading.gif")" />' />