﻿@model ProgramOfferViewModel
@{
    ViewData["Title"] = "Program Offer Details";
}
@section Scripts
{
    <script src="~/js/ssp/program-offers.js"></script>
}

@{
    var applicationResponse = Model.ValidateProgramOfferApplicationDuration();

}
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <section class="content-header">
                <ol class="breadcrumb pull-right">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                </ol>
            </section>
            <h1 class="page-head-line"> <i class="fa fa-th-list"></i> @Model.ProgramName - @Model.Name Details  </h1>
        </div>
    </div>
    <div class="box box-header">
        <div class="box-body">
            <div>
                <strong><i class="fa fa-file-text-o margin-r-5" style="color:#2196F3;font-size:large"></i>Program Offer Details</strong>
                <hr />
                @if (Model == null)
                {
                    <div>
                        <text>Program Offer details not found</text>
                    </div>
                    return;
                }
                @Html.Hidden("ProgramOfferId", Model.Id)
                <div id="program-offer-details-div">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="col-md-6">
                                        <b>Program Name</b>
                                    </div>
                                    <div class="col-md-6">
                                        @Model.ProgramName
                                    </div>
                                    <div class="col-md-6">
                                        <b>Program Start Date</b>
                                    </div>
                                    <div class="col-md-6">
                                        @Model.StrStartDate
                                    </div>
                                    <div class="col-md-6">
                                        <b>Program End Date</b>
                                    </div>
                                    <div class="col-md-6">
                                        @Model.StrEndDate
                                    </div>
                                    <div class="col-md-6">
                                        <b>Program Description</b>
                                    </div>
                                    <div class="col-md-6">
                                        @Model.ProgramDescription
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-6">
                                        <b>Application Start Date</b>
                                    </div>
                                    <div class="col-md-6">
                                        @Model.ApplicationStartDate.ToShortDateString()
                                    </div>
                                    <div class="col-md-6">
                                        <b>Application End Date</b>
                                    </div>
                                    <div class="col-md-6">
                                        @Model.ApplicationEndDate.ToShortDateString()
                                    </div>
                                    <div class="col-md-6">
                                        <b>Faculty</b>
                                    </div>
                                    <div class="col-md-6">
                                        @Model.Faculty
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <hr />
            <div class="box-content-inner clearfix">
                <strong><i class="fa fa-check-square margin-r-5" style="color:#2196F3"></i>Application Requirements</strong>
                <hr>
                <div id="program-offer-requirements-div">
                    <div id="spinner" class="fa fa-spinner">

                    </div>
                </div>
            </div>
            <hr />
            <div class="box-content-inner clearfix">
                <strong><i class="fa fa-building margin-r-5" style="color:#2196F3"></i>Offer Locations</strong>
                <hr>
                <div id="program-offer-locations-div">
                    <div id="spinner" class="fa fa-spinner">

                    </div>
                </div>
                <div class="box-footer pull-left">
                    @if (applicationResponse.ApplicationsClosed || !applicationResponse.ApplicationsOpen)
                    {
                        <div class="alert-info">
                            @applicationResponse.Message
                        </div>
                    }
                    else
                    {
                        <a href="/ProgramOffer/Apply?Id=@Model.Id" style="background-color:#0f81da; color:white" class="btn btn-success pull-right"> Click Here To Apply </a>                       
                    }
                </div>
                <div class="box-footer pull-right">
                    <a asp-controller="Home" asp-action="Index">Back to Offers</a>
                </div>
            </div>
        </div>
    </div>
</section>
