﻿@model AddUnitCommand

@{
    ViewData["Title"] = "Add Topic";
}
@section Scripts
 {
<script type="text/javascript" src="~/js/feltp/field-placement-activity-dropdown.js"></script>
 }

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <section class="content-header">
                    <ol class="breadcrumb pull-right">
                        <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                        <li><a href="/Unit/UnitList">Topic List</a></li>
                        <li><a href="#">Add Topic</a></li>
                    </ol>
                </section>
                <h1 class="page-head-line">Add Topic</h1>
            </div>
        </div>
        <div class="box box-header">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        <form asp-action="AddUnit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Code" class="control-label"></label>
                                <input asp-for="Code" class="form-control" />
                                <span asp-validation-for="Code" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Description" class="control-label"></label>
                                <input asp-for="Description" class="form-control" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label" style="display:inline">Has Activity</label>
                                <input class="checkbox" type="checkbox" asp-for="HasFieldPlacementActivity" />
                            </div>
                            <div class="form-group" id="field-placement-activity-div" style="display:none">
                                <label class="control-label">Field Placement Activity</label>
                                <select class="form-control selectpicker" multiple asp-for="FieldPlacementActivities"></select>
                                <span asp-validation-for="FieldPlacementActivities" class="text-danger"></span>
                            </div>
                            <div class="form-group pull-right">
                                <input type="submit" value="Create" class="btn bg-purple btn-block" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <a asp-action="UnitList">Back to List</a>
            </div>

        </div>
    </section>
