﻿@model UpdateUnitCommand
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Edit Topic</h4>
        </div>
        <div class="modal-body">
            <form action="/Unit/EditUnit" method="post" id="edit-unit-details-form">
                @Html.HiddenFor(x => x.Id)
                <div class="form-group">
                    <label asp-for="Code" class="control-label"></label>
                    <input asp-for="Code" class="form-control" />
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label" style="display:inline">Has Activity</label>
                    <input class="checkbox" type="checkbox" asp-for="HasFieldPlacementActivity" />
                </div>
                @if (Model.HasFieldPlacementActivity)
                {
                    <div class="form-group" id="field-placement-activity-div">
                        <label class="control-label">Field Placement Activity</label>
                        <select class="form-control selectpicker" multiple asp-for="FieldPlacementActivityId"
                                asp-items="Model.FieldPlacementActivities"></select>
                        <span asp-validation-for="FieldPlacementActivityId" class="text-danger"></span>
                    </div>

                }

            </form>
        </div>
        <div class="modal-footer">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" id="btn-update-unit" class="btn bg-purple" value="Save" />
                </div>
            </div>
        </div>


    </div>
</div>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}