﻿
@{
    ViewData["Title"] = "Topics";
}

@section Scripts
    {
    <script type="text/javascript" src="~/js/feltp/unit.js"></script>
    <script type="text/javascript" src="~/js/feltp/field-placement-activity-dropdown.js"></script>

}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <section class="content-header">
                <ol class="breadcrumb pull-right">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="#">Topics List</a></li>
                </ol>
            </section>
            <h1 class="page-head-line">Topics List </h1>
        </div>
    </div>
    <div class="box box-header">
        <div class="box-body">
            <a asp-controller="Unit" asp-action="AddUnit" class="btn btn-default btn-md" style="margin-bottom:10px"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create New</a><p></p>
            <table id="units-list-table" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
        </div>
    </div>
</section>

<div class="modal fade" id="units-details-modal" tabindex="-1" role="dialog" aria-labelledby="Edit Topic" aria-hidden="true" data-backdrop="static">
    <div id="units-details-container">
    </div>
</div>