﻿@model UnitViewModel
<div class="modal-dialog" style="width:800px">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">@Model.Name Activities</h4>
        </div>
        <div class="modal-body">
            @Html.Hidden("UnitId",Model.Id)
            <table id="unit-activity-list-table" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
        </div>
        <div class="modal-footer">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

