@{
    ViewData["Title"] = "Trigger Service";
}
@section Scripts
 {
<script type="text/javascript"></script>
 }

    <section class="content">
        <div class="row">
           
        </div>
        <div class="box box-header">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        <form asp-action="TriggerActivityMonitoringService">
                            <div class="form-group pull-right">
                                <input type="submit" value="Trigger Activity Monitoring Service" class="btn bg-purple btn-block" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="box-footer">
            </div>

        </div>
    </section>
