﻿@model EvaluateEthicsApprovalSubmissionCommand

@{
    ViewData["Title"] = "Evaluate Ethics Approval Submission";
}

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Evaluate Ethics Approval Submission</h4>
            </div>
            <form asp-action="_EvaluateEthicsApprovalSubmission">
                <div class="modal-body">
                    @Html.HiddenFor(x => x.EthicsApprovalCommitteeId)
                    @Html.HiddenFor(x => x.EthicsApprovalItemId)
                    @Html.HiddenFor(x=>x.EthicsApprovalId)

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="ApprovalStatus" class="control-label">Approval Status</label>
                        <select asp-for="ApprovalStatus"
                                asp-items="@Html.GetEnumSelectList<EthicsApprovalStatus>()" class="form-control selectpicker">
                            <option value="@Model.ApprovalStatus"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Comment" class="control-label"></label>
                        <input asp-for="Comment" class="form-control" />
                        <span asp-validation-for="Comment" class="text-danger"></span>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn bg-purple" value="Save" />
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
@section Scripts {


    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
