﻿
@{
    ViewData["Title"] = "Ethics Approval List";
}

@section Scripts
    {
    <script type="text/javascript" src="~/js/feltp/ethics-management.js"></script>
}
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <section class="content-header">
                <ol class="breadcrumb pull-right">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="#"><u>Ethics Approval List</u></a></li>
                </ol>
            </section>
            <h1 class="page-head-line">Ethics Approval List </h1>
        </div>
    </div>
    <div class="box box-header">
        <div class="box-body">
            <a asp-controller="EthicsManagement" asp-action="EthicsApprovalForm" class="btn btn-default btn-md" style="margin-bottom:10px"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create New</a><p></p>
            <table id="ethics-approval-list-table" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
        </div>
    </div>
</section>
