﻿@model List<EthicsApprovalItemCommand>
<table id="committee-approval-table" class="table"  cellspacing="0" width="100%">
    <tr>
        <th >
            Ethics Approval Committee
        </th>
        <th >
            CoAuthor Name
        </th>
        <th>
            Submission Date
        </th>
        <th >
            Approval Status
        </th>
        <th>
            Comment
        </th>
    </tr>


    @for (int com = 0; com < Model.Count(); com++)
    {
        string className = "show-approval-committee";
        if (com > 1)
        {
            className = "hide-approval-committee";

        }
        @Html.HiddenFor(x => x[com].CommitteeId)
        @Html.HiddenFor(x => x[com].CommitteeName)
        <tr>
            <td class="@className">
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="@Model[com].Selected" /> @Html.DisplayFor(model => model[com].CommitteeName)
                        </label>
                    </div>
                </div>
            </td>
            <td class="@className">
                <div class="form-group">
                    @if (String.IsNullOrEmpty(Model[com].Author))
                    {

                        <text>
                        Not Specified
                        </text>

                    }
                    else
                    {

                        @Html.DisplayFor(model => model[com].Author)
                    }

                </div>
            </td>
            <td class="@className">
                <div class="form-group">
                    <div class='input-group date date-submitted'>
                        <input type='text' class="form-control" asp-for="@Model[com].StrDateSubmitted" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    <span asp-validation-for="@Model[com].StrDateSubmitted" class="text-danger"></span>
                </div>

            </td>
            <td class="@className">
                <div class="form-group">
                    <select asp-for="@Model[com].ApprovalStatus" asp-items="Html.GetEnumSelectList<ApprovalStatus>()"
                            class="form-control selectpicker">
                        <option value="0">Select Status</option>
                    </select>
                    <span asp-validation-for="@Model[com].ApprovalStatus" class="text-danger"></span>
                </div>
            </td>
            <td class="@className">
                <div class="form-group">
                    <input asp-for="@Model[com].Comment" class="form-control" />
                    <span asp-validation-for="@Model[com].Comment" class="text-danger"></span>
                </div>
            </td>
        </tr>
    }
</table>
<div id="toggle-approval-commitee-div" style="display:none">
    <a> <<< Show More</a>
</div>
<div id="hide-approval-commitee-div" style="display:none">
    <a> >>> Show Less</a>
</div>
<script>
    $(function () {
        $('.date-submitted').datetimepicker({
            format: 'DD/MM/YYYY'
        });
    });
</script>
