﻿@model EthicsApprovalViewModel

@{
    ViewData["Title"] = "Ethics Approval Details";
}

@section Scripts
    {
    <script src="~/js/feltp/ethics-management.js"></script>
}

<div class="row">
    <div class="col-md-12">
        <section class="content-header">
            <ol class="breadcrumb pull-right">
                <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="#">Ethics Approval Details</a></li>
            </ol>
        </section>
        <h1 class="page-head-line">  @ViewData["Title"]</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        <div class="box box-header">
            @Html.Hidden("EthicsApprovalId", Model.Id)
            <div class="col-md-12" style="padding-right:5px;padding-left:5px">
                @if (Model == null)
                {
                    <div>
                        Ethics Approval Details Not Found
                    </div>
                    return;

                }

                <div class="col-md-6">
                    <div class="col-md-6">
                        <b>Resident</b>
                    </div>
                    <div class="col-md-6">
                        @Model.ResidentName
                    </div>

                    <div class="col-md-6">
                        <b> Deliverable </b>
                    </div>
                    <div class="col-md-6">
                        @Model.DeliverableName
                    </div>

                    <div class="col-md-6">
                        <b>Date Created</b>
                    </div>
                    <div class="col-md-6">
                        @Model.DateCreated
                    </div>
                    <div class="col-md-6">
                        <b>Created By</b>
                    </div>
                    <div class="col-md-6">
                        @Model.CreatedBy
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="col-md-6">
                        <b>Approval Status</b>
                    </div>
                    <div class="col-md-6">
                        @Model.ApprovalStatus
                    </div>
                    <div class="col-md-6">
                        <b>Event Type </b>
                    </div>
                    <div class="col-md-6">
                        @Model.EventTypeId
                    </div>
                    <div class="col-md-6">
                        <b>Event Title </b>
                    </div>
                    <div class="col-md-6">
                        @Model.Title
                    </div>
                    <div class="col-md-6">
                        <b>Submission Due Date </b>
                    </div>
                    <div class="col-md-6">
                        @Model.SubmissionDueDate
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="box box-header" style="height: 140px;">
            <div class="box-header with-border">
                <h3 class="box-title">Action Links</h3>
            </div>
            <div class="box-body">
                <a href="/EthicsManagement/OverrideEthicsApprovalOutcome?Id=@Model.Id&status=@Model.ApprovalStatus" class="override-ethics-approval-outcome btn btn-primary btn-md pull-left btn-sm">
                    Override Ethics Approval Outcome
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="box box-header">
            <div class="box-header with-border">
                <h3 class="box-title">Ethics Approval Committees</h3>
            </div>
            <div class="box-body">
                <table id="ethics-approval-committee-table" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>

                <a asp-action="EthicsApprovalList" class="pull-right">Back to List</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="override-ethics-approval-submissions-modal" tabindex="-1" role="dialog" aria-labelledby="Override Ethics Approval Submission" aria-hidden="true" data-backdrop="static">
    <div id="override-ethics-approval-submissions-container">
    </div>
</div>


