﻿@model AddEthicsApprovalCommand
@{
    ViewData["Title"] = "Ethics Approval Form";
}
@section Scripts
    {
    <script src="~/js/feltp/ethics-management.js"></script>
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <section class="content-header">
                <ol class="breadcrumb pull-right">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="/EthicsManagement/EthicsApprovalList">Ethics Approval List</a></li>
                    <li><a href="#">Ethics Approval Form</a></li>
                </ol>
            </section>
            <h1 class="page-head-line">Ethics Approval Form </h1>
        </div>
    </div>
    <div class="box box-header">
        <div class="box-body">
            <div class="row">
                <form asp-action="EthicsApprovalForm" enctype="multipart/form-data">
                    @Html.HiddenFor(x => x.StrSubmissionExpiryDate)
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Select Program</label>
                            <select asp-for="ProgramId" asp-items="@Model.ProgramSelectList" data-live-search="true"
                                    class="form-control selectpicker">
                                <option value="0">Select Program</option>
                            </select>
                            <span asp-validation-for="ProgramId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Select Program Offer </label>
                            <select class="form-control selectpicker" asp-for="ProgramOfferId"></select>
                            <span asp-validation-for="ProgramOfferId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Select Resident</label>
                            <select asp-for="ProgramEnrollmentId" class="form-control selectpicker" data-live-search="true"></select>
                            <span asp-validation-for="ProgramEnrollmentId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Select Deliverable</label>
                            <select asp-for="ResidentDeliverableId" class="form-control selectpicker" data-live-search="true">
                                <option value="0">Select Deliverable</option>
                            </select>
                            <span asp-validation-for="ResidentDeliverableId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Select Presentation Event</label>
                            <select asp-for="ProgramEventId" class="form-control selectpicker" data-live-search="true">
                                <option value="0">Select Event</option>
                            </select>
                            <span asp-validation-for="ProgramEventId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Select Paper Category</label>
                            <select asp-for="PaperCategory" asp-items="@Html.GetEnumSelectList<PaperCategory>()" class="form-control selectpicker">
                                <option value="0">
                                    Select Category
                                </option>
                            </select>
                            <span asp-validation-for="PaperCategory" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label"> Select Document Version </label>
                            <select asp-for="DocumentVersion" asp-items="@Html.GetEnumSelectList<DocumentVersion>()" class="form-control selectpicker">
                                <option value="0">
                                    Select Version
                                </option>
                            </select>
                            <span asp-validation-for="DocumentVersion" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label"> Upload Document </label>
                            <input type="file" asp-for="FormFile" class="form-control" />
                            <span asp-validation-for="FormFile" class="text-danger"></span>
                        </div>
                        <div class="form-group" id="submission-expiry-date-div" style="display:none">
                            <label class="control-label"> Submission Expiry Date </label>
                            <input asp-for="SubmissionExpiryDate" disabled="disabled" />
                        </div>
                    </div>
                    <div id="ethics-approval-committee-div" style="display:none">
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary bg-purple margin pull-right" />
                            </div>
                        </div>
                    </div>
                </form>
                <div class="box-footer">
                    <a asp-action="EthicsApprovalList">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</section>

