﻿@model OverrideEthicsApprovalOutcomeCommand

@{
    ViewData["Title"] = "Override Ethics Approval Outcome";
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Override Ethics Approval Outcome</h4>
        </div>
        <form asp-action="OverrideEthicsApprovalOutcome">
            <div class="modal-body">
                @Html.HiddenFor(x => x.Deliverable)
                @Html.HiddenFor(x => x.EthicsApprovalId)
                @Html.HiddenFor(x => x.EventTypeId)
                @Html.HiddenFor(x => x.Title)
                @if (Model.ApprovalStatus == EthicsApprovalStatus.Approved)
    {
            <text>
            @Model.Message
            </text>
return;
}

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-6">
                        <b> Deliverable Name</b>
                    </div>
                    <div class="col-md-6" style="margin-bottom:10px">
                        @Html.DisplayFor(x => x.Deliverable)
                    </div>
                    <div class="col-md-6">
                        <b> Event Type</b>
                    </div>
                    <div class="col-md-6" style="margin-bottom:10px">

                        @Html.DisplayFor(x => x.EventTypeId)
                    </div>
                    <div class="col-md-6">

                        <b> Title</b>
                    </div>
                    <div class="col-md-6" style="margin-bottom:10px">
                        @Html.DisplayFor(x => x.Title)
                    </div>
                    <div class="col-md-6">
                        <b>Approval Status</b>
                    </div>
                    <div class="col-md-6" style="margin-bottom:10px">

                        <select asp-for="ApprovalStatus"
                                asp-items="@Html.GetEnumSelectList<ApprovalStatus>()" class="form-control selectpicker">
                            <option value="@Model.ApprovalStatus"></option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <b>OverrideReason </b>
                    </div>
                    <div class="col-md-6" style="margin-bottom:10px">

                        <input asp-for="OverrideReason" class="form-control" />
                        <span asp-validation-for="OverrideReason" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn bg-purple" value="Save" />
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
@section Scripts {


    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
