﻿@model EthicsSubmissionViewModel

@{
    ViewData["Title"] = $"{Model.Committee} Ethics Approval Submissions";
}

@section Scripts
    {
    <script src="~/js/feltp/ethics-management.js"></script>
}
    <section class="content-header">
        <h1>
            @ViewData["Title"]
        </h1>
        <ol class="breadcrumb pull-right">
            <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
            <li><a href="#">Ethics Approval Committee</a></li>
        </ol>
    </section>

<div class="row">
    <div class="row">
        <div>
            <div class="box box-primary">
                <div class="box-body">
                    @Html.HiddenFor(x=>x.EthicsApprovalId)
                    @Html.HiddenFor(x=>x.CommitteeId)
                    <div class="col-md-12" style="border-bottom: 1px solid #d2d6de;">
                        @if (Model == null)
                        {
                            <div>
                                Details Not Found
                            </div>
                            return;

                        }

                            <div class="col-md-6" style="margin-bottom: 1em;">
                                <div class="col-md-6">
                                    <b>Committee</b>
                                </div>
                                <div class="col-md-6">
                                    @Model.Committee
                                </div>

                                <div class="col-md-6">
                                    <b> Deliverable </b>
                                </div>
                                <div class="col-md-6">
                                    @Model.DeliverableName
                                </div>

                                <div class="col-md-6">
                                    <b>Submission Due Date</b>
                                </div>
                                <div class="col-md-6">
                                    @Model.SubmissionDueDate
                                </div>
                                

                            </div>
                            <div class="col-md-6" style="margin-bottom: 1em;">
                                <div class="col-md-6">
                                    <b>Event Type</b>
                                </div>
                                <div class="col-md-6">
                                    @Model.EventTypeId
                                </div>
                                <div class="col-md-6">
                                    <b>Title</b>
                                </div>
                                <div class="col-md-6">
                                    @Model.Title
                                </div>
                            </div>
                      
                    </div>
    

                    <h4 style="text-align:center;padding-top:30px">Ethics Approval Submissions</h4>
                    <div class="col-md-12">

                        <table id="ethics-approval-submissions" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
                        <a asp-action="EthicsApprovalDetails" asp-route-Id="@Model.EthicsApprovalId" class="pull-right">Back to Details</a>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</div>


<div class=" modal fade" id="evaluate-ethics-approval-submission-modal" tabindex="-1" role="dialog" aria-labelledby="Ethics Approval Submissions" aria-hidden="true" data-backdrop="static">
    <div id="evaluate-ethics-approval-submission-container">
    </div>
</div>


