﻿@model DeliverableViewModel

@{
    ViewData["Title"] = "Update Deliverable";
}

@using (Html.BeginForm("_EditDeliverable", "Deliverable", FormMethod.Post, new { id = "myForm", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.Code)
    @Html.HiddenFor(x => x.CreatedBy)
    @Html.HiddenFor(x => x.DateCreated)

    @Html.ValidationSummary(true)
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Update Deliverable</h4>
            </div>

            <div class="modal-body">
                <form asp-action="_EditDeliverable">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Duration In Weeks</label>
                        <input asp-for="DurationInWeeks" class="form-control" />
                        <span asp-validation-for="DurationInWeeks" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" style="display:inline">Has Thesis Defence</label>
                        <input class="checkbox" type="checkbox" asp-for="HasThesisDefence" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn bg-purple" value="Save" />
                </div>
            </div>


        </div>
    </div>
}
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

@section Scripts
    {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}