﻿@model IEnumerable<DeliverableViewModel>
@{
    ViewData["Title"] = "Deliverables";
}

@section Scripts
    {
    <script type="text/javascript" src="~/js/feltp/deliverable.js"></script>
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <section class="content-header">
                <ol class="breadcrumb pull-right">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="#">Deliverable</a></li>
                </ol>
            </section>
            <h1 class="page-head-line"> @ViewData["Title"] </h1>
        </div>
    </div>
    <div class="box box-header">
        <div class="box-body">
            <button type="button" class="btn btn-default btn-md" style="margin-bottom:10px" data-toggle="modal" data-url="@Url.Action("_AddDeliverable","Deliverable")" id="btnCreateDeliverable">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create New
            </button>
            <table id="deliverable" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
        </div>
    </div>
</section>


<div class="modal fade" id="createDeliverableModal" tabindex="-1" role="dialog" aria-labelledby="CreateDeliverableModal" aria-hidden="true" data-backdrop="static">
    <div id="createDeliverableContainer">
    </div>
</div>

<div class="modal fade" id="editDeliverableModal" tabindex="-1" role="dialog" aria-labelledby="EditDeliverableModal" aria-hidden="true" data-backdrop="static">
    <div id="editDeliverableContainer">
    </div>
</div>
<div class="modal fade" id="detailsDeliverableModal" tabindex="-1" role="dialog" aria-labelledby="DetailsDeliverableModal" aria-hidden="true" data-backdrop="static">
    <div id="detailsDeliverableContainer">
    </div>
</div>
<div class="modal fade" id="deleteDeliverableModal" tabindex="-1" role="dialog" aria-labelledby="DeleteDeliverableModal" aria-hidden="true" data-backdrop="static">
    <div id="deleteDeliverableContainer">
    </div>
</div>