﻿@model AddResidentDeliverableScoreCommand

@{

    var title = "Resident Deliverable Scores";

}
<div class="modal-dialog" style="width:1200px">
    <form action="/Deliverable/InputResidentDeliverableScores" id="input-resident-deliverable-score-form">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">@title</h4>
            </div>

            <div class="modal-body">
                @if (!Model.ResidentDeliverables.Any())
                {
                    <text>
                    Resident deliverable scores not found. Please ensure that the deliverables have been submitted

                    </text>
                    return;

                }

                <div asp-validation-summary="All" class="text-danger"></div>
                <section class="content">
                    <div class="box box-primary">
                        <div class="box-body">
                            @Html.HiddenFor(x => x.ProgramEnrollmentId)
                            @Html.HiddenFor(x => x.SemesterId)
                            @Html.HiddenFor(x => x.ResidentId)
                            @{
                                var residentDeliverableModel = Model.ResidentDeliverables.GroupBy(x => x.ActivityName, x => x).ToList();
                                int deliverableCount = 0;
                                var anyPendingDeliverable = Model.ResidentDeliverables.Any(x => x.Submitted == false);

                                foreach (var item in residentDeliverableModel.GroupBy(x => x.Key))
                                {
                                    <b>Activity Name </b> <h6>@item.Key </h6>
                                    <table id="examination-score-timetable" class="table" cellspacing="0">
                                        <tr>
                                            <th>
                                                Unit Name
                                            </th>
                                            <th>
                                                Code
                                            </th>
                                            <th>
                                                Deliverable
                                            </th>
                                            <th>
                                                Score
                                            </th>
                                        </tr>
                                        @{

                                            var deliverables = residentDeliverableModel.Where(k => k.Key == item.Key).SelectMany(x => x).ToList();

                                            foreach (var deliverable in deliverables)
                                            {
                                                @Html.HiddenFor(x => x.ResidentDeliverables[deliverableCount].ResidentDeliverableId)
                                                @Html.HiddenFor(x => x.ResidentDeliverables[deliverableCount].ResidentFieldPlacementActivityId)
                                                @Html.HiddenFor(x => x.ResidentDeliverables[deliverableCount].ActivityName)
                                                @Html.HiddenFor(x => x.ResidentDeliverables[deliverableCount].Deliverable)
                                                @Html.HiddenFor(x => x.ResidentDeliverables[deliverableCount].ResidentUnitId)
                                                @Html.HiddenFor(x => x.ResidentDeliverables[deliverableCount].UnitName)
                                                @Html.HiddenFor(x => x.ResidentDeliverables[deliverableCount].Code)
                                                @Html.HiddenFor(x => x.ResidentDeliverables[deliverableCount].StrScore)
                                                @Html.HiddenFor(x => x.ResidentDeliverables[deliverableCount].Submitted)



                                                bool submitted = Model.ResidentDeliverables[deliverableCount].Submitted;
                                                <tr>
                                                    <td>
                                                        <div class="form-group">
                                                            <div class="form-group">
                                                                <input type='text' disabled="disabled" asp-for="ResidentDeliverables[deliverableCount].UnitName" class="form-control" />
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <input type='text' disabled="disabled" asp-for="ResidentDeliverables[deliverableCount].Code" class="form-control" />
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <input disabled="disabled" asp-for="ResidentDeliverables[deliverableCount].Deliverable" class="form-control" />

                                                        </div>

                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            @if (submitted)
                                                            {
                                                                var score = Math.Floor(Convert.ToDecimal(Model.ResidentDeliverables[deliverableCount].StrScore));
                                                                <input type='text' disabled="disabled" value="@score"
                                                                       class="form-control" />

                                                            }
                                                            else
                                                            {

                                                                <input type="number" min="0" max="100" asp-for="ResidentDeliverables[deliverableCount].Score" class="form-control" />
                                                            }

                                                        </div>

                                                    </td>
                                                </tr>
                                                deliverableCount++;
                                            }

                                        }

                                    </table>

                                }


                            }

                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        @if (anyPendingDeliverable)
                        {
                            <input type="submit" id="input-resident-score-btn" class="btn bg-purple" value="Save" />
                        }
                        else
                        {
                            <input type="submit" disabled="disabled" class="btn bg-purple" value="Save" />
                        }
                    </div>


                </div>
            </div>


        </div>
    </form>
</div>