@model SubmitDeliverableEvaluationCommand
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Submit Resident Deliverable Feedback</h4>
        </div>
        <form action="/Deliverable/SubmitDeliverableFeedback" id="submit-resident-evaluation-div">
            <div class="modal-body">
                @Html.HiddenFor(x => x.ResidentId)
                @Html.HiddenFor(x => x.Id)
                @Html.HiddenFor(x => x.DeliverableName)               
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">Deliverable Name</label>
                    <input asp-for="DeliverableName" value="@Model.DeliverableName" disabled="disabled" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Evaluation Message</label>
                    <textarea asp-for="Message" class="form-control"> </textarea>
                    <span asp-validation-for="Message" class="text-danger"></span>
                </div>

            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" id="btn-submit-del-evaluations" class="btn btn-primary" value="Save" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

@section Scripts
    {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}