﻿@using ResidentManagement.Domain

@model AddResidentDeliverableItemCommand

<div class="modal-dialog" style="width:1000px">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Submit Resident Deliverable </h4>
        </div>
        <form action="/Deliverable/SubmitResidentDeliverable" id="submit-resident-deliverable-form" method="post"
              enctype="multipart/form-data">
            <div class="modal-body">
                @Html.HiddenFor(x => x.ProgramEnrollmentId)
                @Html.HiddenFor(x => x.ResidentId)
                @Html.HiddenFor(x=>x.SemesterId)
                @Html.HiddenFor(x=>x.HasThesisDefence)
                @Html.HiddenFor(x=>x.ProgramOfferId)
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Select Deliverable</label>
                            <select asp-for="ResidentDeliverableId" asp-items="@Model.ResidentDeliverables"
                                    class="form-control selectpicker">
                                <option value="0">Select Deliverable </option>
                            </select>
                            <span asp-validation-for="ResidentDeliverableId" class="text-danger"></span>
                        </div>
                        <div class="form-group" id="programmaticarea-dropdown-div">
                            <div class="form-group">
                                <label asp-for="ProgrammaticArea" class="control-label">Programmatic Area</label>
                                <select asp-for="ProgrammaticArea" asp-items="Html.GetEnumSelectList<ProgrammaticArea>()"
                                        class="form-control selectpicker">
                                    <option value="0">Select Area</option>
                                </select>
                                <span asp-validation-for="SubmissionType" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label style="font-weight:bold">
                                    <input asp-for="ProgrammaticAreaFound" /> @Html.DisplayName("Select if Programmatic Area is not found in dropdown")
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="programmaticarea-textarea-div" style="display:none">
                            <label class="control-label">Other ProgrammaticArea</label>
                            <input asp-for="Other" class="form-control" placeholder="Enter Programmatic Area" />
                        </div>
                        <div class="form-group">
                            <label asp-for="SubmissionType" class="control-label">Submission Type</label>
                            <select asp-for="SubmissionType" asp-items="Html.GetEnumSelectList(typeof(SubmissionType))"
                                    class="form-control selectpicker">
                                <option value="0">Select Type</option>
                            </select>
                            <span asp-validation-for="SubmissionType" class="text-danger"></span>
                        </div>
                        <div class="form-group" id="thesis-defence-div" style="display:none">
                            <label asp-for="ThesisDefenceStatus" class="control-label">Thesis Defence Status</label>
                            <select asp-for="ThesisDefenceStatus" asp-items="Html.GetEnumSelectList(typeof(ThesisDefenceStatus))"
                                    class="form-control selectpicker">
                                <option value="0">Select Status</option>
                            </select>
                            <span asp-validation-for="ThesisDefenceStatus" class="text-danger"></span>
                        </div>
                        <div class="checkbox form-group" id="ethics-approval-div" style="display:none">
                            <label style="font-weight:bold">
                                <input asp-for="HasEthicalApproval" /> @Html.DisplayName("Select if Ethical Approval is required")
                            </label>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Submission Date </label>
                            <div class='input-group date' id='StrDateGraduated'>
                                <input type='text' class="form-control" asp-for="StrDateSubmitted" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            <span asp-validation-for="StrDateSubmitted" class="text-danger"></span>
                        </div>
                        <script>
                            $(function () {
                                $('#StrDateSubmitted').datetimepicker({
                                    format: 'DD/MM/YYYY'
                                });
                            });
                        </script>
                        <div class="form-group">
                            <label asp-for="Title" class="control-label"></label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <input type="text" asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                Deliverable File
                            </label>
                            <input type="file" required="required" Id="DeliverableFile" class="form-control" />
                        </div>
                     
                    </div>

                </div>
                   

                <table id="committee-approval-table" class="table table-bordered table-striped" style="display:none">
                    <tr>
                        <th class="col-xs-6">
                            Ethics Approval Committee
                        </th>
                        <th class="col-xs-6">
                            CoAuthor Name
                        </th>
                    </tr>


                    @for (int com = 0; com < Model.CoAuthors.Count; com++)
                    {
                        string className = "show-approval-committee";
                        if (com > 1)
                        {
                            className = "hide-approval-committee";

                        }
                        @Html.HiddenFor(x => x.CoAuthors[com].CommitteeId)
                        @Html.HiddenFor(x => x.CoAuthors[com].Committee)
                        <tr style="height:10px">
                            <td class="@className">
                                    <div class="checkbox" style="margin-top:5px;margin-bottom:5px">
                                        <label>
                                            <input asp-for="CoAuthors[com].Selected" /> @Html.DisplayFor(model => model.CoAuthors[com].Committee)
                                        </label>
                                    </div>
                            </td>
                            <td class="@className">
                                    <input asp-for="CoAuthors[com].AuthorName" class="form-control" />
                                    <span asp-validation-for="CoAuthors[com].AuthorName" class="text-danger"></span>
                            </td>
                        </tr>
                    }
                </table>

                <div id="toggle-approval-commitee-div" style="display:none">
                    <a> <<< Show More</a>
                </div>
                <div id="hide-approval-commitee-div" style="display:none">
                    <a> >>> Show Less</a>
                </div>

            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" id="btn-submit-deliverable" value="Save" />
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

@section Scripts
    {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
