﻿@model AddPersonAcademicInfoCommand

<div class="modal-dialog" style="width:1000px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">Add Academic Info</h3>
            </div>

            <div class="modal-body">
                <form id="academic-info-form" action="/Applicant/_AcademicInfoSetUp">
                    @Html.Partial("AcademicInfoPartial", Model)
                </form>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" id="add-academic-info-btn" class="btn btn-primary" value="Save" />
                        <div style="display:none" id="add-academic-info-spinner" class="fa fa-spinner spinner"> </div>
                    </div>
                </div>
            </div>


        </div>

</div>
