﻿@model AddPersonEmploymentInfoCommand

<div class="modal-dialog" style="width:1000px">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title">Add Employment Info</h3>
        </div>

        <div class="modal-body">
            <form id="employment-info-form" action="/Applicant/_EmploymentInfoSetUp">
                @Html.Partial("EmploymentInfoPartial", Model)
            </form>
        </div>
        <div class="modal-footer">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" id="add-employment-info-btn" class="btn btn-primary" value="Save" />
                    <div style="display:none" id="add-employmentinfo-spinner" class="fa fa-spinner spinner"> </div>
                </div>
            </div>
        </div>
    </div>

</div>
