﻿@model PersonViewModel

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <section class="content-header">
                <ol class="breadcrumb pull-right">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                </ol>
            </section>
            <h1 class="page-head-line"> Profile Information </h1>
        </div>
    </div>
    <div class="box box-header">
        <div class="box-body">
            @if (Model == null)
            {
                <div class="text-info">
                    <h4 class="alert alert-info">
                        Profile details not found. Please try again later

                    </h4>
                </div>
                return;
            }
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-user"></i> Bio Data Information</h3>
            </div>
            <div class="row">


                @Html.Hidden("PersonId", Model.BioDataInfo.Id)
                <div class="col-md-6">
                    <div class="col-md-6">
                        <b> First Name</b>
                    </div>
                    <div class="col-md-6">
                        @Html.DisplayFor(model => model.BioDataInfo.FirstName)
                    </div>

                    <div class="col-md-6">
                        <b>Last Name</b>
                    </div>
                    <div class="col-md-6">
                        @Html.DisplayFor(model => model.BioDataInfo.LastName)
                    </div>
                    <div class="col-md-6">
                        <b>Other Name</b>
                    </div>
                    <div class="col-md-6">
                        @if (Model.BioDataInfo.OtherName == null)
                        {
                            <div class="col-md-6" style="padding-right:1px;padding-left:1px">
                                Not Found
                            </div>
                        }
                        else
                        {
                            <div class="col-md-6" style="padding-right:1px;padding-left:1px">
                                @Html.DisplayFor(model => model.BioDataInfo.OtherName)
                            </div>
                        }
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="col-md-6">
                        <b>ID/Passport Number </b>
                    </div>
                    <div class="col-md-6">
                        @Html.DisplayFor(model => model.BioDataInfo.IdentificationNumber)

                    </div>
                    <div class="col-md-6">
                        <b>Gender</b>
                    </div>
                    <div class="col-md-6">
                        @Html.DisplayFor(model => model.BioDataInfo.Gender)
                    </div>
                    <div class="col-md-6">
                        <b>Date of Birth</b>
                    </div>
                    <div class="col-md-6">
                        @Model.BioDataInfo.DateOfBirth.ToShortDateString()
                    </div>

                </div>
            </div>
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-phone"></i>  Contact Information</h3>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-6">
                        <b>Primary Phone No.</b>
                    </div>
                    <div class="col-md-6">
                        @Html.DisplayFor(model => model.ContactInfo.PrimaryMobileNumber)
                    </div>
                    <div class="col-md-6">
                        <b>Alternate Phone No.</b>
                    </div>
                    <div class="col-md-6">
                        @Html.DisplayFor(model => model.ContactInfo.AlternateMobileNumber)
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-6">
                        <b>Email</b>
                    </div>
                    <div class="col-md-6">
                        @Html.DisplayFor(model => model.ContactInfo.EmailAddress)
                    </div>
                </div>
            </div>
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-building"></i>  Address Information</h3>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-6">
                        <b>Country</b>
                    </div>
                    <div class="col-md-6">
                        @Html.DisplayFor(model => model.AddressInfo.Country)
                    </div>
                    <div class="col-md-6">
                        <b>County</b>
                    </div>
                    <div class="col-md-6">
                        @Html.DisplayFor(model => model.AddressInfo.County)
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="col-md-6">
                        <b>Sub-County</b>
                    </div>
                    @if (Model.AddressInfo.SubCounty == null)
                    {
                        <div class="col-md-6" style="padding-right:5px;padding-left:5px">
                            Not Found
                        </div>
                    }
                    else
                    {
                        <div class="col-md-6" style="padding-right:15px;padding-left:15px">
                            @Html.DisplayFor(model => model.AddressInfo.SubCounty)
                        </div>
                    }
                    <div class="col-md-6">
                        <b>Postal Address</b>
                    </div>
                    <div class="col-md-6">
                        @Html.DisplayFor(model => model.AddressInfo.PostalAddress)
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-header">
                <div class="box box-solid">
                    <div class="box-primary with-border">
                    </div>
                    <div class="box-body">
                        <div>
                            <h4><i class="fa fa-book"></i> Education Background Details </h4>
                            <hr />
                            <button type="button" class="btn btn-default btn-md" style="background-color:#0f81da; color:white; margin-bottom:10px" data-toggle="modal" data-url="@Url.Action("_AcademicInfoSetUp","Applicant",new { Id = Model.BioDataInfo.Id })" id="btn-add-academic-info">
                                <span class="fa fa-plus" aria-hidden="true"></span> Add New
                            </button> <div style="display:none" id="academic-profile-spinner" class="fa fa-spinner spinner"> </div>
                            <table id="academic_info_table" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
                        </div>
                        <div>
                            <h4><i class="fa fa-briefcase"></i> Employment History Details </h4>
                            <hr />
                            <button type="button" class="btn btn-default btn-md" style="background-color:#0f81da; color:white; margin-bottom:10px" data-toggle="modal" data-url="@Url.Action("_EmploymentInfoSetUp","Applicant",new { Id = Model.BioDataInfo.Id })" id="btn-add-employment-info">
                                <span class="fa fa-plus" aria-hidden="true"></span> Add New
                            </button> <div style="display:none" id="employmentinfo-profile-spinner" class="fa fa-spinner spinner"> </div>
                            <table id="employment_history_table" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
                        </div>
                        <div id="program-applications-div" style="display:none">
                            <h4><i class="fa fa-archive"></i> Program Applications </h4>
                            <hr />
                              <div style="display:none" id="program-offer-profile-spinner" class="fa fa-spinner spinner"> </div>
                            <table id="program-offer-applications-table" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="add-academic-info-modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div id="add-academic-info-container">
    </div>
</div>

<div class="modal fade" id="add-employment-info-modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div id="add-employment-info-container">
    </div>
</div>
<input type="hidden" id="loader-input-path" value='<img src="@Url.Content("~/images/loading.gif")" />' />