﻿@model AddPersonAcademicInfoCommand
   <div asp-validation-summary="All" class="text-danger"></div>
    @Html.HiddenFor(x => x.AcademicInfo.PersonId)
    @Html.HiddenFor(x => x.AcademicInfo.StrEducationLevel)
    <div class="row">
        <div class="col-md-6">
            <div class="form-group academic-course-dropdown-div">
                <label class="control-label">Select Course</label>
                <select class="form-control selectpicker" asp-for="AcademicInfo.UniversityCourseId" asp-items="@Model.AcademicInfo.UniversityCoursesSelectList" data-live-search="true">
                    <option selected="selected" value="">Select Course</option>
                </select>
                <span asp-validation-for="AcademicInfo.UniversityCourseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label style="font-weight:bold">
                        <input asp-for="AcademicInfo.CourseNotFound" />
                        @Html.DisplayName("Select if course is not found in dropdown")
                    </label>
                </div>
            </div>
            <div class="form-group course-textarea-div" style="display:none">
                <label class="control-label">Highest Education Level </label>
                <select class="form-control selectpicker" asp-for="AcademicInfo.HighestEducationLevel"
                        asp-items="@Html.GetEnumSelectList(typeof(EducationLevel))">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="AcademicInfo.HighestEducationLevel" class="text-danger"></span>
            </div>
            <div class="form-group course-textarea-div" style="display:none">
                <label class="control-label">Course Name</label>
                <input asp-for="AcademicInfo.CourseName" class="form-control" placeholder="Enter Course Name" />
            </div>

            <div class="form-group university-dropdown-div">
                <label class="control-label">Select University</label>
                <select class="form-control selectpicker" asp-for="AcademicInfo.UniversityId" asp-items="@Model.AcademicInfo.UniversitySelectList" data-live-search="true">
                    <option selected="selected" value="">Select University</option>
                </select>
                <span asp-validation-for="AcademicInfo.UniversityId" class="text-danger"></span>
            </div>
            <div class="checkbox">
                <label style="font-weight:bold">
                    <input asp-for="AcademicInfo.UniversityNotFound" /> @Html.DisplayName("Select if university is not found in dropdown")
                </label>
            </div>
            <div class="form-group university-textarea-div" style="display:none">
                <label class="control-label">University Name</label>
                <input asp-for="AcademicInfo.University" class="form-control" placeholder="Enter University Name" />
            </div>

        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Year Of Graduation </label>
                <div class='input-group date' id='StrDateGraduated'>
                    <input type='text' class="form-control" asp-for="AcademicInfo.YearOfGraduation" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <span asp-validation-for="AcademicInfo.YearOfGraduation" class="text-danger"></span>
            </div>
            <script>
                $(function () {
                    var date = new Date();
                    var currentMonth = date.getMonth();
                    var currentDate = date.getDate();
                    var currentYear = date.getFullYear();
                    $('#StrDateGraduated').datetimepicker({
                        format: 'YYYY',
                        maxDate: new Date(currentYear, currentMonth, currentDate)
                    });
                });
            </script>
        </div>

    </div>