﻿@model string
@{
    ViewData["Title"] = "Academic Profile Info";
}

@section Scripts
    {
    <script src="~/js/ssp/academic-info-grid.js"></script>
    <script src="~/js/ssp/academic-setup.js"></script>
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <section class="content-header">
                <ol class="breadcrumb pull-right">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                </ol>
            </section>
            <h1 class="page-head-line"> <i class="fa fa-book"></i> Education Background Details </h1>
        </div>
    </div>
    <div class="box box-header">
        <div class="box-body">
            @Html.Hidden("PersonId", Model)
            <button type="button" class="btn btn-default btn-md" style="background-color:#0f81da; color:white; margin-bottom:10px" data-toggle="modal" data-url="@Url.Action("_AcademicInfoSetUp","Applicant")" id="btn-add-academic-info">
                <span class="fa fa-plus" aria-hidden="true"></span> Add New
            </button>  <div style="display:none" id="academic-profile-spinner" class="fa fa-spinner spinner"> </div>
            <table id="academic_info_table" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
            <div class="form-group">
                <a href="/Applicant/EmploymentInfoSetUp" style="background-color:#0f81da; color:white" class="btn btn-success pull-right"> Proceed </a>
                <a href="/Applicant/ProfileInfo"> Back To Profile </a>

            </div>
        </div>
    </div>
    <input type="hidden" id="loader-input-path" value='<img src="@Url.Content("~/images/loading.gif")" />' />
</section>


<div class="modal fade" id="add-academic-info-modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div id="add-academic-info-container">
    </div>
</div>
