﻿@model string

<div class="modal-dialog" style="width:800px">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title">Academic Info Result</h3>
        </div>

        <div class="modal-body">
            <text style="font-size:medium" class="alert-success"> Academic information added successfully. 
            Click close button to exit </text>
        </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" class="btn btn-default"
                                data-url="@Url.Action("AcademicProfileInfo","Applicant",new { Id = Model })" data-dismiss="modal" onclick="javascript:window.location.reload()">
                            Close
                        </button>
                    </div>
                </div>
        </div>


    </div>

</div>
