﻿@model AddPersonAcademicInfoCommand

@{
    ViewData["Title"] = "Education Background Info";
}

@section Scripts
    {
    <script src="~/js/ssp/academic-setup.js"></script>
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <section class="content-header">
                <ol class="breadcrumb pull-right">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                </ol>
            </section>
            <h1 class="page-head-line"> Education Background Details </h1>
        </div>
    </div>
    <div class="box box-header">
        <div class="box-body">
            <form asp-action="AcademicInfoSetUp">
                @Html.Partial("AcademicInfoPartial", Model)

                <div class="form-group">
                    <input type="submit" style="background-color:#0f81da; color:white" class="btn btn-success pull-right" value="Save" />
                    <a href="/Applicant/ProfileInfo"> Back To Profile </a>

                </div>
            </form>
        </div>
    </div>
</section>
