﻿@model ApplicantViewModel
@{
    ViewData["Title"] = "Applicant Profile Info";
}

@section Scripts
    {
    <script src="~/js/ssp/academic-info-grid.js"></script>
    <script src="~/js/ssp/academic-setup.js"></script>
    <script src="~/js/ssp/employment-history-grid.js"></script>
    <script src="~/js/ssp/program-offers.js"></script>

}

@Html.Hidden("ApplicantId", Model.Id)
@Html.Hidden("IsResident", Model.IsResident)
@Html.Partial("_ProfilePartial", Model.Person)

