﻿@model AddPersonEmploymentInfoCommand
<div asp-validation-summary="All" class="text-danger"></div>
@Html.HiddenFor(x => x.EmploymentInfo.PersonId)
<div class="row">
    <div class="col-md-6">
        <div class="form-group employer-name-div">
            <label class="control-label">Employer Name</label>
            <input asp-for="EmploymentInfo.EmployerName" class="form-control" placeholder="Enter Employer Name" />
        </div>
        <div class="checkbox">
            <label style="font-weight:bold">
                <input asp-for="EmploymentInfo.EmployedByMinistry" /> @Html.DisplayName("Employed by goverment ministry ?")
            </label>
        </div>
        <div class="form-group ministry-dropdown-div" style="display:none">
            <label class="control-label">Select Ministry</label>
            <select class="form-control selectpicker" asp-for="EmploymentInfo.MinistryId" asp-items="@Model.EmploymentInfo.MinistrySelectListItems" data-live-search="true">
                <option selected="selected" value="">Select Ministry</option>
            </select>
            <span asp-validation-for="EmploymentInfo.MinistryId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Position </label>
            <input asp-for="EmploymentInfo.CurrentPosition" class="form-control" placeholder="Enter Position" />
            <span asp-validation-for="EmploymentInfo.CurrentPosition" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Personnel Number </label>
            <input asp-for="EmploymentInfo.PersonnelNumber" class="form-control" placeholder="Enter Personnel Number " />
            <span asp-validation-for="EmploymentInfo.CurrentPosition" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Field of Expertise</label>
            <input asp-for="EmploymentInfo.Designation" class="form-control" placeholder="Enter Field of Expertise " />
        </div>
        <div class="form-group">
            <label class="control-label">Duty Station </label>
            <input asp-for="EmploymentInfo.WorkStation" class="form-control" placeholder="Enter Duty Station" />
            <span asp-validation-for="EmploymentInfo.WorkStation" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class="control-label">Employment Start Year </label>
            <div class='input-group date' id='StrEmploymentStartDate'>
                <input type='text' class="form-control" asp-for="EmploymentInfo.EmploymentStartDate" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <span asp-validation-for="EmploymentInfo.EmploymentStartDate" class="text-danger"></span>
        </div>
        <div class="form-group employment-end-date-div">
            <label class="control-label">Employment End Year </label>
            <div class='input-group date' id='StrEmploymentEndDate'>
                <input type='text' class="form-control" asp-for="EmploymentInfo.EmploymentEndDate" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <span asp-validation-for="EmploymentInfo.EmploymentEndDate" class="text-danger"></span>
        </div>
        <div class="checkbox">
            <label style="font-weight:bold">
                <input asp-for="EmploymentInfo.IsCurrentEmployer" /> @Html.DisplayName("Is the current employer ?")
            </label>
        </div>
        <script>
            $(function () {
                $('#StrEmploymentStartDate').datetimepicker({
                    format: 'YYYY',
                    useCurrent: false,
                });
                $('#StrEmploymentEndDate').datetimepicker({
                    format: 'YYYY',
                });

                $("#StrEmploymentStartDate").on("dp.change", function (e) {
                    $('#StrEmploymentEndDate').data("DateTimePicker").minDate(e.date);
                });

                $("#StrEmploymentEndDate").on("dp.change", function (e) {
                    $('#StrEmploymentStartDate').data("DateTimePicker").maxDate(e.date);
                });

                $("#StrEmploymentEndDate").on("dp.change", function (e) {
                    $('#StrEmploymentStartDate').data("DateTimePicker").minDate(e.date);
                });
            });
        </script>
    </div>

</div>
