﻿@model PersonViewModel
@{
    ViewData["Title"] = "ProfileInfo";
}

@section Scripts
    {
    <script src="~/js/ssp/academic-info-grid.js"></script>
    <script src="~/js/ssp/academic-setup.js"></script>
    <script src="~/js/ssp/employment-history-grid.js"></script>

}

@Html.Partial("_ProfilePartial",Model)