﻿@model PersonModel

@{
    ViewData["Title"] = "Register Profile";
}

@section Scripts
    {
    <script src="~/js/ssp/location-dropdowns.js"></script>
    <script src="~/js/ssp/cadre-dropdown.js"></script>
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <section class="content-header">
                <ol class="breadcrumb pull-right">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                </ol>
            </section>
            <h1 class="page-head-line"> Applicant Registration Profile </h1>
        </div>
    </div>
    <div class="box box-header">
        <div class="box-body">
            <h4><i class="fa fa-user"></i> Bio Data Information Details </h4>
            <hr />
            <form asp-action="RegisterProfile">
                @Html.HiddenFor(x => x.Person.BioDataInfo.Id)
                @Html.HiddenFor(x => x.Person.BioDataInfo.IdentificationNumber)
                @Html.HiddenFor(x => x.Person.ContactInfo.EmailAddress)
                @Html.HiddenFor(x => x.Person.ContactInfo.PrimaryMobileNumber)


                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label"> First Name </label>
                            <input asp-for="Person.BioDataInfo.FirstName" class="form-control" />
                            <span asp-validation-for="Person.BioDataInfo.FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label"> Last Name </label>
                            <input asp-for="Person.BioDataInfo.LastName" class="form-control" />
                            <span asp-validation-for="Person.BioDataInfo.LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label"> Other Name </label>
                            <input asp-for="Person.BioDataInfo.OtherName" class="form-control" />
                            <span asp-validation-for="Person.BioDataInfo.OtherName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Gender </label>
                            <select class="form-control selectpicker" asp-for="Person.BioDataInfo.Gender"
                                    asp-items="@Html.GetEnumSelectList(typeof(Gender))">
                                <option selected="selected" value="">Please select</option>
                            </select>
                            <span asp-validation-for="Person.BioDataInfo.Gender" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Identification Type </label>
                            <select class="form-control selectpicker" asp-for="Person.BioDataInfo.IdentificationType"
                                    asp-items="@Html.GetEnumSelectList(typeof(IdentificationType))">
                                <option selected="selected" value="">Please select</option>
                            </select>
                            <span asp-validation-for="Person.BioDataInfo.IdentificationType" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label"> Identification  Number </label>
                            <input asp-for="Person.BioDataInfo.IdentificationNumber" disabled="disabled" maxlength="10" size="10" class="form-control" />
                            <span asp-validation-for="Person.BioDataInfo.IdentificationNumber" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Date Of Birth </label>
                            <div class='input-group date' id='DateOfBirth'>
                                <input type='text' class="form-control" asp-for="Person.BioDataInfo.StrDateOfBirth" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            <span asp-validation-for="Person.BioDataInfo.StrDateOfBirth" class="text-danger"></span>
                        </div>
                        <script>
                            $(function () {
                                var date = new Date();
                                var currentMonth = date.getMonth();
                                var currentDate = date.getDate();
                                var currentYear = date.getFullYear();
                                $('#DateOfBirth').datetimepicker({
                                    format: 'DD/MM/YYYY',
                                    maxDate: new Date(currentYear - 18, currentMonth, currentDate)
                                });
                            });
                        </script>
                        <div class="form-group">
                            <label class="control-label">Select Cadre </label>
                            <select class="form-control selectpicker" asp-for="Person.BioDataInfo.CadreId">
                                <option selected="selected" value="">Please select</option>
                            </select>
                        </div>
                    </div>
                </div>
                <h4> <i class="fa fa-phone"></i> Contact Information Details </h4>
                <hr />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label"> Email Address </label>
                            <input asp-for="Person.ContactInfo.EmailAddress" disabled="disabled" class="form-control" />
                            <span asp-validation-for="Person.ContactInfo.EmailAddress" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label"> Primary Mobile Number </label>
                            <input asp-for="Person.ContactInfo.PrimaryMobileNumber" disabled="disabled" placeholder="07XXXXXXXX"
                                   data-mask="0000000000" class="form-control" />
                            <span asp-validation-for="Person.ContactInfo.PrimaryMobileNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label"> Alternate Mobile Number </label>
                            <input asp-for="Person.ContactInfo.AlternateMobileNumber" placeholder="07XXXXXXXX"
                                   data-mask="0000000000" class="form-control" />
                            <span asp-validation-for="Person.ContactInfo.AlternateMobileNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label"> Postal Address </label>
                            <input asp-for="Person.AddressInfo.PostalAddress" class="form-control" />
                            <span asp-validation-for="Person.AddressInfo.PostalAddress" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Country </label>
                            <select class="form-control selectpicker" required="required"
                                    asp-for="Person.AddressInfo.CountryId" data-live-search="true"></select>

                            <span asp-validation-for="Person.AddressInfo.CountryId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">County Of Employment </label>
                            <select class="form-control selectpicker" asp-for="Person.AddressInfo.CountyId" data-live-search="true"></select>
                            <span asp-validation-for="Person.AddressInfo.CountyId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Sub-County </label>
                            <select class="form-control selectpicker" asp-for="Person.AddressInfo.SubCountyId" data-live-search="true">
                                <option value="0">Select Sub-County</option>
                            </select>
                            <span asp-validation-for="Person.AddressInfo.SubCountyId" class="text-danger"></span>
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <input type="submit" value="Proceed" class="btn btn-primary bg-purple pull-right" />
                </div>
            </form>
        </div>
    </div>
</section>